aside{
  background-color: $bg-gray;
  .aside-container{
    padding-top: $container-top-pad;
    padding-bottom: $container-top-pad;
    padding-left: rem(10);
    padding-right: rem(10);
    .header{
      @include flex-prefix-suffix;
      margin-top: rem(30);
      margin-bottom: rem(15);
    }
    h3{
      margin-top: 0;
      margin-bottom: 0;
      font-size: rem(18);
      font-weight: $bold;
      [class*="text-img-"]{
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        height: rem(34*$scale);
      }
      .text-img-play{
        background-image: url(../images/text_img_play.png);
        width: rem(102*$scale);
      }
      .text-img-pick{
        background-image: url(../images/text_img_pick.png);
        width: rem(90*$scale);
      }
      .text-img-mall{
        background-image: url(../images/text_img_mall.png);
        height: rem(16);
        width: rem(41);
        vertical-align: middle;
      }
    }
    h4{
      margin-top: 0;
      margin-bottom: 0;
      font-size: rem(16);
      font-weight: $semi-bold;
    }
    .summary-card{
      padding: rem(20);
      border-radius: $template-white-border-radius;
      .card-header{
        display: flex;
        padding-bottom: rem(25);
        .avatar{
          width: rem(41);
          height: rem(41);
        }
        .info{
          display: flex;
          flex: 1 1 auto;
          margin-left: rem(20);
          justify-content: center;
          flex-direction: column;
          .welcome{
            font-size: rem(16);
            font-weight: $bold;
          }
          .level-wrap{
            margin-top: rem(10);
            font-size: rem(13);
            color: $fc-gray-light;
            .level{
              color: $fc-default;
              font-weight: $bold;
            }
          }
        }
        .greeting{
          margin-top: rem(20);
          font-size: rem(14);
          font-weight: $semi-bold;
          color: $fc-gray;
        }
        
      }
      .card-body{
        @include flex-prefix-suffix;
        padding-top: rem(15);
        padding-bottom: rem(15);
        border-top: $border-default;
        border-bottom: $border-default;
        .point{
          color: $primary;
          font-weight: $bold;
          font-size: rem(20);
          
          $scale: 0.6;
          &:before{
            content: '';
            display: inline-block;
            width: rem(20);
            height: rem(20);
            margin-right: rem(5);
            @include img-sprite;
            background-position: rem(-105) rem(-219);
            background-size: rem(750);
          }
        }
        .label{
          font-weight: $semi-bold;
        }
      }
      .btn-login{
        height: rem(40);
        font-size: rem(14);
      }
      .card-footer{
        padding-top: rem(25);
        padding-bottom: rem(10);
        $scale: 0.7;
        .btn-alarm{
          &:before{
            content: '';
            display: inline-block;
            @include img-sprite;
            width: rem(38*$scale);
            height: rem(42*$scale);
            background-position: rem(-98*$scale) rem(-1179*$scale);
            background-size: rem(750*$scale);
          }
          .new{
            display: flex;
            width: rem(16);
            height: rem(16);
            justify-content: center;
            align-items: center;
            top: rem(-3);
            right: rem(15);
            border: 0;
            background-color: $secondary;
            color: #ffffff;
            font-size: rem(9);
          }
        }
        .btn-mypage{
          &:before{
            content: '';
            display: inline-block;
            @include img-sprite;
            width: rem(36*$scale);
            height: rem(34*$scale);
            background-position: rem(-358*$scale) rem(-2428*$scale);
            background-size: rem(750*$scale);
          }
        }
        &.link-wrap{
          @include flex-prefix-suffix;
        }
      }
    }
    .flex-list{
      >ul{
        display: flex;
        align-items: center;
        li{
          position: relative;
          flex: 1 1 calc(100% / 4);
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: calc(100% / 4);
          text-align: center;
          &:after{
            content: '';
            position: absolute;
            display: inline-block;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            height: rem(20);
            width: rem(1);
            border-right: $border-default;
          }
          &:nth-last-of-type(1){
            &:after{
              content: none;
            }
          }
          a{
            display: block;
            font-size: rem(13);
            font-weight: $bold;
            line-height: 1.2;
          }
        }
      }
    }
    .quick-service{
      padding: rem(20) rem(5);
      border-radius: $template-white-border-radius;
      .flex-list{
        ul{
          align-items: flex-start;
          li{
            height: 100%;
            .item{
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              height: rem(70);
              .title{
                margin-top: rem(10);
                font-size: rem(13);
                font-weight: $bold;
                line-height: 1.2;
              }
            }
            &:nth-of-type(1), &:nth-of-type(4){
              .item{
                .title{
                  margin-top: rem(15);
                }
              }
            }
          }
        }
      }
    }
    .aside-banner{
      position: relative;
      width: 100%;
      .owl-carousel{
        height: rem(190);
        .img-wrap{
        }
      }
      .aside-custom-nav{
        position: absolute;
        bottom: rem(-10);
        right: rem(30);
        display: flex;
        width: rem(95);
        height: rem(25);
        border-radius: rem(30);
        background-color: rgba(121,61,255,.8);
        box-shadow: $template-shadow;
        z-index: 1;
        .owl-next, .owl-prev{
          position: absolute;
          display: inline-block;
          width: rem(8);
          top: 50%;
          transform: translateY(-50%);
        }
        .owl-prev{
          left: rem(10);
        }
        .owl-next{
          right: rem(10);
        }
        $multi: 0.8;
        .icon-slide-prev{
          width: rem(8*$multi);
          height: rem(12*$multi);
          background-position: rem(-335*$multi) rem(-2266*$multi);
          background-size: rem(750*$multi);
        }
        .icon-slide-next{
          width: rem(8*$multi);
          height: rem(12*$multi);
          background-position: rem(-335*$multi) rem(-2278*$multi);
          background-size: rem(750*$multi);
        }
      }
      .slide-paging{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: rem(-10);
        right: rem(55);
        width: rem(45);
        height: rem(25);
        color: rgba(255,255,255,0.5);
        font-size: rem(11);
        z-index: 1;
        .partition{
          display: inline-block;
          width: rem(1);
          height: rem(10);
          border-right: rem(1) solid rgba(255,255,255,0.5);
          margin: 0 rem(10);
        }
        .now{
          color: #ffffff;
          font-weight: $bold;
        }
      }
    }
    .today-sns{
      // padding: rem(20) 0;
      border-radius: $template-white-border-radius;
      // overflow-y: auto;
      height: vh(700);
      background-color: $bg-default;
      // @include scroll-custom;
      .sns-list{
        background-color: $bg-default;
        >ul{
          >li{
            &:nth-of-type(1){
              &.item{
                border-top: 0;
              }
            }
            &.item{
              border-top: $border-default;
              border-bottom: $border-default;
              padding-top: rem(20);
              padding-bottom: rem(20);
              margin-bottom: rem(5);
              background-color: #ffffff;
              .template-header{
                display: flex;
                align-items: center;
                padding-left: rem(20);
                padding-right: rem(20);
                .avatar{
                  height: rem(40);
                  width: rem(40);
                }
                .info{
                  margin-left: rem(10);
                  .nickname{
                    font-size: rem(14);
                  }
                  .date{
                    margin-top: rem(5);
                    font-size: rem(12);
                    color: $fc-default-light;
                  }
                }
              }
              .template-body{
                padding-left: rem(20);
                padding-right: rem(20);
              }
              .img-wrap{
                img{
                  width: 100%;
                }
              }
              .template-footer{
                padding-left: rem(20);
                padding-right: rem(20);
              }
              .sns-function{
                li{
                  display: inline-block;
                  margin-right: rem(5);
                  a{
                    display: block;
                    padding-top: rem(5);
                    padding-bottom: rem(5);
                  }
                }
              }
            }
          }
        }
      }
    }
    .heypoll-mall{
      margin-top: rem(60);
      .heypoll-mall-list{
        >ul{
          display: flex;
          justify-content: space-between;
          >li{
            flex-basis: calc(100% / 2 - #{rem(15)});
            flex-shrink: 0;
            flex-basis: calc(100% / 2 - #{rem(15)});
            .item-wrap{
              &.card{
                border: 0;
                >a{
                  display: flex;
                  height: 100%;
                  width: 100%;
                  flex-direction: column;
                  .img-wrap{
                    display: inline-block;
                    position: relative;
                    flex: 0 0 rem(150);
                    height: rem(150);
                    overflow: hidden;
                    img{
                      position: absolute;
                      top: 50%;
                      transform: translateY(-50%);
                      width: 100%;
                      object-fit: cover;
                    }
                  }
                  .card-body{
                    display: flex;
                    flex-direction: column;
                    padding: rem(20) 0;
                    .title{
                      @include ellipsis-multi;
                      height: rem(40);
                      font-size: rem(14);
                      font-weight: $semi-bold;
                      color: $fc-default-light;
                    }
                    .item-info{
                      // @include flex-prefix-suffix;
                      margin-top: rem(5);
                      word-break: break-all;
                      .price{
                        font-size: rem(14);
                        color: $fc-default;
                        font-weight: $bold;
                        vertical-align: middle;
                        
                        .unit{
                          font-size: rem(11);
                          color: $fc-gray;
                          font-weight: $normal;
                        }
                      }
                      .price-to-point{
                        display: inline-block;
                        line-height: 1;
                        vertical-align: middle;
                        font-size: rem(14);
                        color: $primary;
                        font-weight: $bold;
                      }
                      .icon-price-point{
                        vertical-align: middle;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .search-box{
      margin-bottom: rem(40);
      .input-wrap{
        margin-top: rem(10);
        
      }
      .btn{
        .icon-dropdown-arrow{
          margin-left: rem(5);
        }
      }
    }
    .search-option{
      $duration: 0.2s;
      transition: $duration;
      padding-top: rem(10);
      
      padding-left: $aside-template-pad-side;
      padding-right: $aside-template-pad-side;
      &.on{
        background-color: #ffffff;
        border-radius: $template-white-border-radius;
        box-shadow: $template-shadow;
      }
      .option-header{
        
        a{
          &.option-toggle{
            font-size: rem(12);
            font-weight: $semi-bold;
            vertical-align: middle;
            .icon--dropdown-arrow{
              transition: $duration;
            }
            &.on{
              .icon--dropdown-arrow{
                transform: rotate(-180deg);
              }
            }
          }
        }
      }
      .option-list{
        display: none;
        padding-left: rem(10);
        padding-bottom: rem(20);
        h5{
          font-size: rem(14);
          margin-top: rem(20);
          margin-bottom: rem(5);
        }
        .inline-type{
          >li{
            display: inline-block;
            margin-right: rem(7);
          }
        }
        .block-type{
          >li{
            display: block;
          }
        }
      }
      .checkbox-wrap{
        label{
          span{
            color: $fc-default-light;
            font-size: rem(14);
          }
        }
      }
    }
  }
}
