.avatar{
  width: rem(70);
  height: rem(70);
  overflow: hidden;
  &.circle-type{
    background-color: $bg-default;
    border-radius: 50%;
  }
  &.square-type{
    background-color: $bg-default;
    border-radius: rem(10);
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}