.bordered-box{
  border-width: rem(1);
  border-style: solid;
  border-radius: $template-white-border-radius;
  margin-bottom: rem(40);
  .box-header, .box-body, .box-footer{
    padding-left: rem(40);
    padding-right: rem(40);
  }
  .box-header{
    padding-top: rem(40);
    &[class*="bg-"]{
      padding-bottom: rem(40);
    }
  }
  .box-footer{
    padding-bottom: rem(40);
    &[class*="bg-"]{
      padding-top: rem(40);
    }
  }
  &.bc-primary{
    border-color: $primary;
  }
  &.bc-secondary{
    border-color: $secondary;
  }
}
.bordered-sandwich{
  border-style: solid;
  padding-top: rem(30);
  padding-bottom: rem(30);
  border-top-width: rem(1);
  border-top-color: #333333;
  border-bottom-width: rem(1);
  border-bottom-color: #d9d9d9;
  border-left: 0;
  border-right: 0;
  margin-bottom: rem(40);
}