.btn{
  cursor: pointer;
  &.btn-default{
    @include button-default;
    background-color: $primary;
    border-radius: $btn-radius;
    &.btn-primary{
      background-color: $btn-primary-color;
    }
    &.btn-white{
      background-color: $btn-white-color;
      color: $primary;
    }
    &.btn-secondary{
      background-color: $secondary;
    }
    &.btn-gray{
      background-color: $gray;
    }
    // &.btn-disabled{
    //   cursor: unset;
    //   background-color: $btn-disabled-color;
    // }
  }
  &.btn-round{
    $scale: 0.80;
    @include button-default;
    border-radius: rem(50);
    &.btn-border{
      background-color: #ffffff;
      color: $fc-gray;
    }
    &.btn-primary{
      background-color: $btn-primary-color;
    }
    &.btn-white{
      background-color: $btn-white-color;
    }
    &.sm{
      display: inline-flex;
      width: auto;
      min-width: auto;
      height: $btn-height-sm;
      padding: 0 rem(12);
      font-size: rem(11);
    }
    &.btn-filter-default{
      background-color: $bg-default;
      color: $fc-default;
      width: 100%;
      &.active{
        background-color: $gray;
        color: #ffffff;
      }
    }
  }
  &.btn-border{
    @include button-default;
    border: $border-default;
    border-radius: $btn-radius;
    background-color: transparent;
    &.btn-primary{
      $scale: 0.80;
      border: rem(2) solid $btn-primary-color;
      background-color: transparent;
      color: $btn-primary-color;
      &.has-arrow{
        &:after{
          background-position: rem(-35*$scale) rem(-1309*$scale);
        }
      }
    }
    &.btn-secondary{
      border-color: $btn-secondary-color;
      background-color: transparent;
      color: $btn-secondary-color;
      $scale: 0.80;
      &.has-arrow{
        &:after{
          background-position: rem(-35*$scale) rem(-1298*$scale);
        }
      }
    }
    &.btn-darkgray{
      border-color: $fc-default;
      background-color: transparent;
      color: $fc-default;
    }
    &.btn-gray{
      border-color: $fc-gray;
      background-color: transparent;
      color: $fc-gray;
    }
    &.btn-round{
      border-radius: rem(50);
    }
    
  }
  &.btn-wide{
    @include button-default;
    border-radius: $btn-radius;
    font-size: rem(16);
    flex: 1 1 50%;
    &.btn-gray{
      background-color: $gray;
    }

    
  }
  &.btn-primary{
    background-color: $btn-primary-color;
  }
  &.btn-secondary{
    background-color: $btn-secondary-color;
  }
  &.btn-default{
    background-color: $btn-default-color;
  }
  &.btn-disabled{
    cursor: unset;
    // background-color: $btn-disabled-color;
    opacity: 0.3;
  }
  &.btn-login{
    background-color: $btn-primary-color;
  }
  &.btn-sm{
    min-width: unset;
    width: auto;
    height: auto;
    padding-left: rem(8);
    padding-right: rem(8);
    padding-top: rem(3);
    padding-bottom: rem(3);
    border-radius: $btn-radius-sm;
    border-width: rem(1);
    font-size: rem(13);
  }
  &.btn-light-primary{
    background-color:$btn-light-primary;
  }
}
.btn-group{
  display: flex;
  // justify-content: space-between;
  // padding-top: rem(10);
  // margin-top: rem(10);
  .btn{
    margin-right: rem(10);
    &:nth-last-of-type(1){
      margin-right: 0;
    }
  }
}

.btn-link{
  color: $fc-gray;
  font-size: rem(13);
  font-weight: $semi-bold;
  &.btn-primary{
    background-color: transparent;
    color: $primary;
  }
  &.btn-secondary{
    background-color: transparent;
    color: $secondary;
  }
  &.btn-gray{
    background-color: transparent;
    color: $gray;
  }
  &.btn-darkgray{
    background-color: transparent;
    color: $fc-default-light;
  }
  &.btn-disabled{
    cursor: unset;
    background-color: transparent;
    color: $btn-disabled-color;
  }
  &.link-arrow{
    display: flex;
    align-items: center;
    &:after{
      margin-left: rem(10);
    }
  }
  &.has-arrow{
    $scale: 0.75;
    &:after{
      content: '';
      display: inline-block;
      @include img-sprite;
      width: rem(9*$scale);
      height: rem(12*$scale);
      margin-left: rem(10*$scale);
      background-position: rem(-35*$scale) rem(-1274*$scale);
      background-size: rem(750*$scale);
    }
  }
}
.btn-more{
  display: block;
  width: 100%;
  padding: rem(20);
  color: $fc-default;
  text-align: center;
}