.card{
  border: $border-default;
  .card-header{
    
    @include card-pad;
    background-color: $bg-gray;
    .catagory{
      font-size: rem(12);
    }
    .title{
      font-size: rem(14);
    }
  }
  .card-body{
    @include card-pad;
  }
  .card-footer{
    @include card-pad;
  }
}