.chart-bar-wrap{
  .chart-bar{
    position: relative;
    background-color: $bg-default;
    height: rem(6);
    border-radius: rem(10);
    .bar-value{
      position: absolute;
      top: 0;
      left: 0;
      height: rem(6);
      width: 0;
      background-color: $secondary;
      border-radius: rem(10);
      transition: width 1s ease;
    }
  }
  
}

.mint{
  .chart-bar-wrap{
    .chart-bar{
      .bar-value{
        background-color: $mint;
      }
    }
  }
}