.checkbox-wrap{
  input[type="checkbox"]{
    @include hidden-checkbox;
  }
  label{
    display: flex;
    position: relative;
    align-items: center;
    padding: rem(5) 0;
    // justify-content: flex-start;
    span{
      padding-left: rem(5);
      color: $fc-default;
    }
    &:before{
      content: '';
      display: inline-block;
      flex: 0 0 rem(20);
      width: rem(20);
      height: rem(20);
      border: $border-default;
      border-radius: rem(4);
    }
    
  }
  input[type="checkbox"]:checked + label{
    $scale: 0.4;
    &:before{
      border-color: $primary;
    }
    &:after{
      content: '';
      display: inline-block;
      position: absolute;
      left: rem(3);
      top: rem(7);
      width: rem(40*$scale);
      height: rem(40*$scale);
      @include img-sprite;
      background-position: rem(-20*$scale) rem(-178*$scale);
      background-size: rem(750*$scale);
    }
  }
}