.comment{
  .comment-input-wrap{
    padding-bottom: rem(20);
    .header{
      @include display-flex;
      align-items: center;
      h4{
        font-size: rem(16);
        font-weight: $normal;
      }
      .sub-text{
        font-size: rem(13);
        margin-left: rem(5);
        em{
          color: $secondary;
        }
      }
    }
    .comment-input-group{
      @include display-flex;
      height: rem(80);
      .input-wrap, .btn{
        flex: 1 1 auto;
        height: auto;
      }
      .btn{
        flex: 0 0 rem(120);
        margin-left: rem(10);
      }
    }
    .byte{
      margin-top: rem(5);
      // font-size: rem(13);
      color: $fc-gray;
      span{
        color: $fc-default;
      }
    }
    .comment-footer{
      @include flex-prefix-suffix;
      margin-top: rem(10);
      .btn-group{
        margin-top: 0;
        padding-top: 0;
        // button{
        //   height: rem(25);
        //   font-size: rem(12);
        //   min-width: rem(80);
        // }
      }
    }
  }
  .comment-list{
    >ul{
      >li{
        .template{
          @include display-flex;
          padding-top: $card-pad-side;
          padding-bottom: $card-pad-top;
          border-top: $bg-gray-border;
          .img-wrap{
            flex: 0 0 rem(40);
            &.avatar{
              width: rem(40);
              height: rem(40);
            }
          }
          
          .comment-body{
            flex: 1 1 auto;
            margin-left: rem(10);
            .writer-info{
              padding-top: rem(6);
              padding-bottom: rem(6);
              .nickname{
                font-size: rem(12);
                font-weight: $bold;
              }
              .created-at{
                font-size: rem(12);
                color: $fc-gray;
                font-weight: $light;
              }
            }
            .comment-text{
              margin-top: rem(10);
              color: $fc-default-light;
            }
            .footer{
              @include display-flex;
              align-items: center;
              margin-top: rem(20);
              .prefix, .suffix{
                flex: 1 1 auto;
                a{
                  font-size: rem(12);
                }
              }
              .suffix{
                @include display-flex;
                justify-content: flex-end;
              }
            }
          }
        }
        .comment{
          padding-left: rem(50);
          padding-bottom: rem(20);
        }
      }
    }
    
  }
}