@charset 'utf-8';
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html, body, textarea{
  width: 100%;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  // font-family: 'NanumSquare', sans-serif;
}
.theme-facebook{
  color: $theme-facebook;
}
a{
  color: $fc-default;
}

.row{
  display: flex;
  [class*="col-"]{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    &:nth-last-of-type(1){
      margin-right: 0;
    }
  }
  $gap: rem(20);
  @for $i from 1 through 12 {
    .col-#{$i}{
      flex-basis: calc(100% / 12 * #{$i} - #{$gap});
      margin-right: $gap;
      
    }
  }
}