.event{
  .event-list{
    >ul{
      margin-top: rem(50);
      >li{
        margin-top: $card-pad-top;
        margin-bottom: $card-pad-top;
        >a{
          display: block;
          .template{
            @include flex-prefix-suffix;
            height: rem(180);
            border: $border-default;
            border-radius: $gray-box-radius;
            overflow: hidden;
            > .prefix{
              flex: 0 0 rem(360);
              
              .img-wrap{
                display: flex;
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                img{
                  position: absolute;
                  width: 100%;
                  top: 50%;
                  transform: translateY(-50%);
                  object-fit: cover;
                  &.closed{
                    opacity: .25;
                  }
                }
              }
            }
            > .suffix{
              justify-content: flex-start;
              align-items: flex-start;
              .info-wrap{
                width: 100%;
                padding-top: rem(35);
                padding-left: rem(40);
                padding-right: rem(40);
                padding-bottom: rem(35);
                .footer{
                  @include flex-prefix-suffix;
                  align-items: center;
                  margin-top: rem(15);
                  font-size: rem(13);
                  .views{
                    color: $fc-gray;
                    em{
                      font-weight: $semi-bold;
                      color: $fc-default-light;
                    }
                  }
                  .period{
                    color: $fc-default-light;
                    
                  }
                }
              }
              h3{
                &.title{
                  font-size: rem(18);
                  margin-top: rem(5);
                  margin-bottom: rem(5);
                  line-height: 1.2;
                }
              }
            }
            
            
            
          }
        }
      }
    }
  }
  .event-view{
    margin-top: rem(40);
    .template-header{
      @include display-flex;
      @include flex-prefix-suffix;
      border-top: $border-darkgray;
      border-bottom: $border-default;
      padding-left: $card-pad-side;
      padding-right: $card-pad-side;
      // background-color: $bg-gray;
      h3{
        &.title{
          margin-top: rem(20);
          margin-bottom: rem(20);
        }
      }
      .date{
        color: $fc-gray;
        font-size: rem(11);
      }
    }
    .template-body{
      padding-top: $template-pad-top;
      article{
        font-size: rem(12);
        border: $border-default;
        color: $fc-default;
        font-weight: $normal;
        padding: rem(32);
        margin-bottom: rem(50);
      }
      a{
        img{
          width: 100%;
        }
      }
      .lookup-winner{
        position: relative;
        background-repeat: no-repeat;
        background-image: url(../images/bg_winner.png);
        background-size: contain;
        background-position: center;
        height: rem(500);
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem(50);
        h4{
          position: absolute;
          top: rem(140);
          left: rem(50);
          right: rem(50);
          @include ellipsis;
          white-space: unset;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          // width: vw(500);
          height: rem(60);
          margin-left: rem(25);
          margin-right: rem(25);
          margin-bottom: rem(10);
          border-bottom: rem(2) solid #ffffff;
          text-align: center;
          line-height: 1.2;
          font-size: rem(20);
          font-weight: $bold;
          color: #ffffff;
        }
        .btn{
          position: absolute;
          bottom: 0;
          left: rem(48);
          right: rem(48);
          height: rem(50);
          border-radius: 0;
        }
        fieldset{
          legend{
            font-size: 0;
            opacity: 0;
          }
          .input-box{
            position: absolute;
            top: rem(270);
            left: 50%;
            transform: translateX(-50%);
            width: rem(160);
            height: rem(45);
            margin: 0 auto; 
            input{
              width: 100%;
              height: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}