.filter{
  >ul{
    display: flex;
    // padding: rem(30) rem(50);
    >li{
      flex: 1 1 auto;
      text-align: center;
      padding-left: rem(10);
      padding-right: rem(10);
      >a{

        width: 100%;
      }
    }
  }
  &.block-type{
    &.col-6{
      >ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(20) rem(50);
      }
    }
  }
}