footer{
  position: sticky;
  border-top: $border-default;
  min-width: $container-width;
  background-color: $bg-gray;
  padding-bottom: rem(60);
  .container{
    .footer-header{
      padding-top: rem(40);
      .links{
        li{
          display: inline-block;
          a{
            display: inline-block;
            font-size: rem(14);
            font-weight: $bold;
            color: $fc-default-light;
            vertical-align: middle;
          }
          &:after{
            content: '';
            display: inline-block;
            height: rem(10);
            width: rem(1);
            border-right: $border-default;
            margin: 0 rem(15);
            vertical-align: middle;
          }
          &:nth-last-of-type(1){
            &:after{
              content: none;
            }
          }
        }
      }
    }
    .footer-body{
      display: flex;
      margin-top: rem(30);
      color: $fc-gray;
      font-size: rem(13);
      .company-info{
        margin-left: rem(20);
        line-height: 1.8;
      }
    }
  }
}