.heypoll-point-mission{
  .header{
    @include flex-prefix-suffix;
    .title{
      display: inline-block;
      font-size: rem(22);
      font-weight: $bold;
      color: $fc-default;
      $scale: 0.50;
    }
    .sub-text{
      font-size: rem(14);
      font-weight: $normal;
      color: $fc-gray;
      &:before{
        content: '';
        display: inline-block;
        height: rem(10);
        width: rem(1);
        margin-left: rem(15);
        padding-left: rem(15);
        border-left: rem(1) solid $fc-gray-light;
      }
    }
    .slide-paging{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(90);
      height: rem(50);
      color: lighten($fc-default, 70%);
      font-size: rem(28);
      z-index: 1;
      .now{
        color: $fc-default;
        font-weight: $bold;
      }
    }
    .btn-round{
      font-size: rem(13);
      line-height: 1.4;
    }
    .btn-white{
      padding-left: rem(30);
      padding-right: rem(15);
      box-shadow: $thin-shadow;
    }
  }
  .today-mission{
    margin-top: rem(60);
    .mission-link{
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
          flex: 0 1 calc( 100% / 2 - #{rem(25 / 2)});
          margin-bottom: rem(25);
          a{
            display: block;
            img{
              width: 100%;
            }
          }

        }
      }
    }
  }
  .giftyshop{
    margin-top: rem(60);
    margin-bottom: rem(60);
    .giftyshop-list{
      width: calc(#{$container-width} - #{$aside-width} - #{$content-aside-gap} - #{$container-side-pad} - #{$container-side-pad});
      &.owl-carousel{

        .icon-slide-prev{
          width: rem(8*$multi);
          height: rem(12*$multi);
          background-size: rem(750*$multi);
          background-position: rem(-326*$multi) rem(-2265*$multi);
        }
        .icon-slide-next{
          width: rem(8*$multi);
          height: rem(12*$multi);
          background-size: rem(750*$multi);
          background-position: rem(-326*$multi) rem(-2278*$multi);
        }
        .owl-nav{
          position: absolute;
          top: rem(-50);
          right: 0;
          display: flex;
          align-items: center;
          width: rem(60);
          height: rem(25);
          &:after{
            content: '';
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: rem(12);
            width: rem(1);
            border-right: $border-gray;
          }
          .owl-next, .owl-prev{
            position: absolute;
            display: flex;
            align-items: center;
            width: rem(8*$multi);
            height: rem(12*$multi);
            top: rem(9);
          }
          .owl-prev{
            left: rem(5);
          }
          .owl-next{
            right: rem(5);
          }
        }
      }
      .item-wrap{
        &.card{
          border: 0;
          >a{
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: column;
            .img-wrap{
              display: inline-block;
              // position: relative;
              flex: 0 0 rem(150);
              height: rem(150);
              overflow: hidden;
              img{
                // position: absolute;
                // top: 50%;
                // transform: translateY(-50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .card-body{
              display: flex;
              flex-direction: column;
              padding: rem(20) 0;
              .title{
                @include ellipsis;
                // height: rem(40);
                font-size: rem(14);
                font-weight: $semi-bold;
                color: $fc-default-light;
              }
              .catagory{
                @include ellipsis;
                font-size: rem(12);
                color: $fc-gray;
              }
              .item-info{
                @include flex-prefix-suffix;
                margin-top: rem(20);
                .price{
                  font-size: rem(14);
                  color: $fc-default;
                  font-weight: $bold;
                  .unit{
                    font-size: rem(11);
                    color: $fc-gray;
                    font-weight: $normal;
                  }
                }
                .price-to-point{
                  margin-left: rem(5);
                  font-size: rem(14);
                  color: $primary;
                  font-weight: $bold;
                }
              }
            }
          }
        }
      }
    }
  }
  .app-store-link-wrap{
    display: inline-block;
    border: $border-default;
    border-radius: $btn-radius-sm;
    padding: rem(5) rem(10);
    margin-top: rem(20);
    a{
      margin-right: rem(10);
      &:nth-last-of-type(1){
        margin-right: 0;
      }
    }
  }
}