.heypoll-mall-wrap{
  
  .h2-title{
    margin-top: rem(40);
  }
  .popuplar-products-list{
    
    >ul{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      >li{
        display: inline-block;
        flex: 0 0 rem(370);
        margin-bottom: rem(40);
        .item-wrap{
          width: 100%;
          
          .img-wrap{
            position: relative;
            width: 100%;
            height: rem(206);

            img{
              position: absolute;
              display: inline-block;
              width: 100%;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }
          }
          .item-info{
            @include flex-prefix-suffix;
            margin-top: rem(15);
            color: $fc-default-light;
            font-size: rem(14);
            .icon-price-point{
              margin-right: rem(5);
            }
            span{
              font-weight: $semi-bold;
            }
          }
        }
      }
    }
  }
}
.app-download-wrap{
  border-top: $border-darkgray;
  border-bottom: $border-default;
  padding-top: rem(40);
  padding-bottom: rem(40);
  margin-bottom: rem(40);
  
}
.app-download{
  text-align: center;
  .download-link{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    height : rem(72);
    width: rem(210);
    &.app-store{
      background-image: url(../images/download-link-appstore.png);
      margin-right: rem(20);
    }
    &.play-store{
      background-image: url(../images/download-link-playstore.png);
    }
  }
}