[class*="icon-"]{
  @include img-sprite;
  display: inline-block;
}
$scale: 0.5;
.btn-all-menu{
  padding: rem(10);
  &:before{
    content: '';
    display: inline-block;
    width: rem(25);
    height: rem(19);
    background-image: url(../images/icon_hamberger.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.icon-heypoll-logo{
  width: rem(34);
  height: rem(24);
  background-position: rem(-201) rem(-2438);
  background-size: rem(750);
}
.icon-share{
  width: rem(30*$scale);
  height: rem(31*$scale);
  background-position: rem(-345*$scale) rem(-184*$scale);
}
.icon-share-lg{
  width: rem(35);
  height: rem(38);
  background-position: rem(-342) rem(-101);
}
.vote-num{
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10*$scale);
    @include img-sprite;
    width: rem(28*$scale);
    height: rem(28*$scale);
    background-position: rem(-186*$scale) rem(-425*$scale);
  }
}

.btn-like{
  color: $fc-gray-light;
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10*$scale);
    @include img-sprite;
    width: rem(34*$scale);
    height: rem(28*$scale);
    background-position: rem(-423*$scale) rem(-425*$scale);
  }
  &.on{
    &:before{
      background-position: rem(-343*$scale) rem(-425*$scale );
    }
  }
}
.comment-num{
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10*$scale);
    @include img-sprite;
    width: rem(34*$scale);
    height: rem(28*$scale);
    background-position: rem(-263*$scale) rem(-425*$scale);
  }
}
.btn-question-delete{
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10);
    @include img-sprite;
    width: rem(26);
    height: rem(26);
    background-position: rem(-507) rem(-347);
  }
}
.btn-delete{
  &:before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include img-sprite;
    width: rem(16);
    height: rem(16);
    background-position: rem(-592) rem(-352);
  }
}
.btn-report{
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10*$scale);
    @include img-sprite;
    width: rem(28*$scale);
    height: rem(30*$scale);
    background-position: rem(-506*$scale) rem(-105*$scale);
  }
}
.btn-preview{
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10);
    @include img-sprite;
    width: rem(22);
    height: rem(24);
    background-position: rem(-539) rem(-1828);
  }
}
.btn-search{
  $btn-search-lg: 1; 
  &:before{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(22*$btn-search-lg);
    height: rem(24*$btn-search-lg);
    background-position: rem(-498*$btn-search-lg) rem(-1828*$btn-search-lg);
    background-size: rem(750*$btn-search-lg);
  }
}
.btn-add-question{
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10);
    @include img-sprite;
    width: rem(24);
    height: rem(22);
    background-position: rem(-428) rem(-349);
  }
}
.btn-policy{
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(10);
    @include img-sprite;
    width: rem(32);
    height: rem(31);
    background-position: rem(-23) rem(-1023);
  }
}
.btn-info-tooltip{
  &:before{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(32);
    height: rem(32);
    background-position: rem(-584) rem(-1184);
  }
}

.btn-alarm{
  position: relative;
  &:before{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(35*$scale);
    height: rem(42*$scale);
    background-position: rem(-102*$scale) rem(-1179*$scale);
  }
  .new{
    display: inline-block;
    position: absolute;
    width: rem(14*$scale);
    height: rem(14*$scale);
    top: 10%;
    right: 35%;
    background-color: $coral-red;
    border-radius: 50%;
    border: rem(1) solid #ffffff;
  }
}
.btn-mypage{
  &:before{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(36*$scale);
    height: rem(34*$scale);
    background-position: rem(-358*$scale) rem(-2428*$scale);
  }
}


.has-arrow{
  $scale: 0.80;
  &:after{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(9*$scale);
    height: rem(12*$scale);
    margin-left: rem(6*$scale);
    background-position: rem(-35*$scale) rem(-1286*$scale);
    background-size: rem(750*$scale);
  }
}
.link-arrow{
  &:after{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(14);
    height: rem(23);
    // margin: 0 rem(10);
    background-position: rem(-673) rem(-1109);
  }
}

.point{
  display: flex;
  align-items: center;
  // &:before{
  //   content: '';
  //   display: inline-block;
  //   width: rem(30*$scale);
  //   height: rem(30*$scale);
  //   @include img-sprite;
  //   background-position: rem(-106*$scale) rem(-186*$scale);
  // }
  &:before{
    content: '';
    display: inline-block;
    width: rem(20);
    height: rem(20);
    @include img-sprite;
    background-position: rem(-105) rem(-219);
    background-size: rem(750);
  }
  &.white-type{
    &:before{
      content:'';
      background-position: rem(-535) rem(-1905);
    }
  }
}
.point-menu-gift{
  &:before{
    content: '';
    display: inline-block;
    width: rem(68);
    height: rem(70);
    @include img-sprite;
    background-position: rem(-405) rem(-1245);
    vertical-align: middle;
  }
}
.point-menu-change{
  &:before{
    content: '';
    display: inline-block;
    width: rem(61);
    height: rem(70);
    @include img-sprite;
    background-position: rem(-646) rem(-1245);
    vertical-align: middle;
  }
}
.point-menu-store{
  &:before{
    content: '';
    display: inline-block;
    width: rem(58);
    height: rem(70);
    @include img-sprite;
    background-position: rem(-571) rem(-1245);
    vertical-align: middle;
  }
}

.icon-men{
  width: rem(38*$scale);
  height: rem(71*$scale);
  background-position: rem(-71*$scale) rem(-512*$scale);
  background-size: rem(750*$scale);
}
.icon-women{
  width: rem(38*$scale);
  height: rem(71*$scale);
  background-position: rem(-252*$scale) rem(-512*$scale);
  background-size: rem(750*$scale);
}

.icon-naver{
  width: rem(50);
  height: rem(50);
  background-position: rem(-15) rem(-95);
}
.icon-kakao{
  width: rem(50);
  height: rem(50);
  background-position: rem(-95) rem(-95);
}
.icon-facebook{
  width: rem(50);
  height: rem(50);
  background-position: rem(-175) rem(-95);
}

.icon-naver-square{
  width: rem(50);
  height: rem(50);
  background-position: rem(-15) rem(-1415);
}
.icon-kakao-square{
  width: rem(50);
  height: rem(50);
  background-position: rem(-95) rem(-1415);
}
.icon-facebook-square{
  width: rem(50);
  height: rem(50);
  background-position: rem(-175) rem(-1415);
}
.icon-close{
  $scale: 0.6;
  width: rem(33*$scale);
  height: rem(33*$scale);
  background-position: rem(-183*$scale) rem(-2163*$scale);
  background-size: rem(750*$scale);
}
.icon-find-id-result{
  width: rem(150);
  height: rem(126);
  background-position: rem(-0) rem(-257);
}
.icon-setting{
  width: rem(42);
  height: rem(42);
  background-position: rem(-19) rem(-1179);
}
.icon-level{
  background-image: url(../images/sp_icon_level3.png);
  background-size: rem(200) rem(1000);
  width: rem(123);
  height: rem(123);
  &.level-s{
    background-position: rem(-38) rem(-40);
  }
  &.level-b{
    background-position: rem(-38) rem(-240);
  }
  &.level-c{
    background-position: rem(-38) rem(-440);
  }
  &.level-w{
    background-position: rem(-38) rem(-640);
  }
  &.level-small{
    $sm : 0.35;
    background-size: rem(200*$sm) rem(1000*$sm);
    width: rem(123*$sm);
    height: rem(123*$sm);
    &.level-s{
      background-position: rem(-38*$sm) rem(-40*$sm);
    }
    &.level-b{
      background-position: rem(-38*$sm) rem(-240*$sm);
    }
    &.level-c{
      background-position: rem(-38*$sm) rem(-440*$sm);
    }
    &.level-w{
      background-position: rem(-38*$sm) rem(-640*$sm);
    }
  }
}
.icon-prev{
  width: rem(30);
  height: rem(50);
  background-position: rem(-264) rem(-95);
}
.icon-home{
  width: rem(42);
  height: rem(38);
  background-position: rem(-419) rem(-261);
}
.icon-alram-set{
  width: rem(44);
  height: rem(40);
  background-position: rem(-629) rem(-2163);
}
.icon-alram-type{
  width: rem(80);
  height: rem(80);
  background-position: rem(-660) rem(-710);
}
.icon-check-doc{
  width: rem(140);
  height: rem(140);
  background-position: rem(-380) rem(-500);
}
.icon-gift{
  width: rem(116);
  height: rem(116);
  background-position: rem(-634) rem(-1352);
}
.icon-exchange{
  width: rem(116);
  height: rem(116);
  background-position: rem(-634) rem(-2214);
}
.icon-happypoint{
  width: rem(230);
  height: rem(100);
  background-position: rem(-35) rem(-2240);
}
.icon-okcashbag{
  width: rem(131);
  height: rem(112);
  background-position: rem(-35) rem(-2350);
}
.icon-heypoll-point-card{
  width: rem(229);
  height: rem(140);
  background-position: rem(-521) rem(-1500);
}
.icon-okcashbag-point-card{
  width: rem(229);
  height: rem(140);
  background-position: rem(-521) rem(-1640);
}
.icon-happy-point-card{
  width: rem(229);
  height: rem(140);
  background-position: rem(-521) rem(-2351);
}
.icon-arrow-lg{
  width: rem(21);
  height: rem(36);
  background-position: rem(-28) rem(-1339);
}
.icon-drink{
  width: rem(70);
  height: rem(70);
  background-position: rem(-86) rem(-1326);
}
.icon-convenience{
  width: rem(70);
  height: rem(70);
  background-position: rem(-165) rem(-1326);
}
.icon-donut{
  width: rem(70);
  height: rem(70);
  background-position: rem(-245) rem(-1326);
}
.icon-giftcard{
  width: rem(70);
  height: rem(70);
  background-position: rem(-324) rem(-1326);
}
.icon-accordion-arrow{
  width: rem(34);
  height: rem(18);
  background-position: rem(-183) rem(-351);
}
.on{
  .icon-accordion-arrow{
    background-position: rem(-264) rem(-351);
  }
}
.icon-answer{
  width: rem(16);
  height: rem(16);
  background-position: rem(-352) rem(-272);
}
.icon-male{
  width: rem(290);
  height: rem(293);
  background-position: rem(0) rem(-707);
}
.icon-female{
  width: rem(290);
  height: rem(293);
  background-position: rem(-328) rem(-707);
}
.icon-payment{
  width: rem(210);
  height: rem(210);
  background-position: rem(-180) rem(-1790);
}
.icon-question{
  width: rem(50);
  height: rem(50);
  background-position: rem(-335) rem(-335);
}
.icon-share-kakao{
  width: rem(80);
  height: rem(80);
  background-position: rem(-659) rem(-10);
}
.icon-share-story{
  width: rem(80);
  height: rem(80);
  background-position: rem(-659) rem(-110);
}
.icon-share-facebook{
  width: rem(80);
  height: rem(80);
  background-position: rem(-659) rem(-210);
}
.icon-share-twitter{
  width: rem(80);
  height: rem(80);
  background-position: rem(-659) rem(-310);
}
.icon-share-url{
  width: rem(80);
  height: rem(80);
  background-position: rem(-659) rem(-410);
}

$multi: 0.85;
.icon-slide-prev{
  width: rem(8*$multi);
  height: rem(12*$multi);
  background-position: rem(-335*$multi) rem(-2266*$multi);
  background-size: rem(750*$multi);
}
.icon-slide-next{
  width: rem(8*$multi);
  height: rem(12*$multi);
  background-position: rem(-335*$multi) rem(-2279*$multi);
  background-size: rem(750*$multi);
}
.icon-people{
  width: rem(36*$scale);
  height: rem(22*$scale);
  background-position: rem(-412*$scale) rem(-2440*$scale);
}



@mixin img-sprite-quick-service{
  background-image: url(../images/quick_service_icon.png);
  background-size: rem(100);
  width: rem(21);
  height: rem(20);
  background-repeat: no-repeat;
}

.icon-question-service{
  @include img-sprite-quick-service;
  
  background-position: 0 0;
}
.icon-change-service{
  @include img-sprite-quick-service;
  background-position: rem(-25) 0;
}
.icon-heypollmall-service{
  @include img-sprite-quick-service;
  background-position: rem(-50) 0;
}
.icon-mission-service{
  @include img-sprite-quick-service;
  background-position: rem(-75) 0;
}
.icon-price-point{
  width: rem(32*$scale);
  height: rem(32*$scale);
  background-position: rem(-422*$scale) rem(-2266*$scale);
}

@mixin img-sprite-fb{
  background-image: url(../images/fb_icon.png);
  background-size: rem(64);
  width: rem(20);
  height: rem(20);
  background-repeat: no-repeat;
}

.icon-comment-fb{
  @include img-sprite-fb;
  width: rem(12);
  height: rem(12);
  background-position: rem(-36) rem(-139);
}
.icon-like-fb{
  @include img-sprite-fb;
  width: rem(12);
  height: rem(13);
  background-position: rem(-36) rem(-154);
}
.icon-share-fb{
  @include img-sprite-fb;
  width: rem(12);
  height: rem(11);
  background-position: rem(-36) rem(-173);
}
.icon--dropdown-arrow{
  @include common-img-sprite;
  width: rem(10);
  height: rem(6);
  background-image: url(../images/icon_dropdown_arrow.png);
}
.icon--question{
  width: rem(16);
  height: rem(21);
  background-size: contain;
  background-image: url(../images/icon_question.png);
  background-repeat: no-repeat;
}
.icon--people{
  @include common-img-sprite;
  width: rem(21);
  height: rem(15);
  background-image: url(../images/icon_people.png);
}
.icon--person{
  @include common-img-sprite;
  width: rem(13);
  height: rem(15);
  background-image: url(../images/icon_person.png);
}
.icon--play-tag{
  @include common-img-sprite;
  width: rem(116);
  height: rem(46);
  background-image: url(../images/icon_play_vote.png);
}

.icon--play-button{
  @include common-img-sprite;
  width: rem(121);
  height: rem(64);
  background-image: url(../images/icon_play_button.png);
}

.vote-icons-like{
  @include vote-img-sprite;
  background-position: 0 0;
  width: rem(19);
  height: rem(20);
}
.on{
  .vote-icons-like{
    background-position: 0 rem(-20);
  }
}
.vote-icons-share{
  @include vote-img-sprite;
  background-position: rem(-30) rem(0);
  width: rem(17);
  height: rem(20);
}
.vote-icons-comment{
  @include vote-img-sprite;
  background-position: rem(-60) rem(0);
  width: rem(20);
  height: rem(20);
}
.vote-icons-people{
  @include vote-img-sprite;
  background-position: rem(-90) rem(0);
  width: rem(21);
  height: rem(17);
}
.vote-icons-declaration{
  @include vote-img-sprite;
  background-position: rem(-120) rem(0);
  width: rem(20);
  height: rem(20);
}

.btn-question{
  @include common-img-sprite;
  width: rem(25);
  height: rem(21);
  background-image: url(../images/icon_question_link.png);
  background-size: auto;
  &.primary{
    background-position: 0 0;
  }
  &.secondary{
    background-position: 0 rem(-25);
  }
}
.btn-app{
  @include common-img-sprite;
  width: rem(17);
  height: rem(20);
  background-image: url(../images/icon_app.png);
  background-size: auto;
}
.icon--calendar{
  @include common-img-sprite;
  width: rem(16);
  height: rem(15);
  background-image: url(../images/icon_calendar.png);
}
.icon--appstore{
  @include common-img-sprite;
  width: rem(18);
  height: rem(22);
  background-image: url(../images/icon_applestore.png);
}
.icon--playstore{
  @include common-img-sprite;
  width: rem(18);
  height: rem(20);
  background-image: url(../images/icon_playstore.png);
}
.icon-notice{
  @include common-img-sprite;
  width: rem(34);
  height: rem(36);
  background-image: url(../images/icon_notice.png);
}
.icon-white-prev-arrow{
  @include common-img-sprite;
  width: rem(8);
  height: rem(14);
  background-image: url(../images/icon_prev_arrow.png);
}
.icon_heypoll_message{
  @include  common-img-sprite;
  width: rem(41);
  height: rem(41);
  background-image: url(../images/icon_heypoll_message.png);
}