.join-page{
  .join{
    .agree-list{
      .flex-wrap{
        >ul{
          display: flex;
          align-items: center;
          width: 100%;
          .justify-end{
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-end;
            .btn-link{
              text-decoration: underline;
            }
          }
        }
      }
      .checkbox-wrap{
        label{
          font-size: rem(28);
        }
      }
    }
    .recommand{
      .label{
        @include display-flex;
        .prefix, .suffix{
          flex: 1 1 auto;
        }
        .prefix{
          .emphas{
            font-size: rem(28);
          }
        }
        .suffix{
          display: flex;
          justify-content: flex-end;
          font-size: rem(28);
          color: $fc-gray;
        }
      }
    }
  }
  .research{
    .template{
      box-shadow: none;
      @include container-pad-wide-type;
      .template-header{
        color: $fc-gray;
        .bonus{
          color: $fc-default;
          font-size: rem(40);
          .tag{
            height: rem(60);
          }
          .point{
            color: $fc-primary;
            font-weight: $bold;
            &:before{
              $md: 1.2;
              width: rem(30*$md);
              height: rem(30*$md);
              margin-right: rem(10);
              @include img-sprite;
              background-size: rem(750*$md);
              background-position: rem(-106*$md) rem(-186*$md);
            }
          }
        }
        .title{
          font-size: rem(60);
          color: $fc-default;
          margin-top: rem(20);
        }
        [class*="message-"]{
          color: $fc-gray;
          font-weight: $normal;
        }
      }
    }
    .select-sex{
      .radio-image-type-wrap{
        padding-top: rem(50);
        border-top: $border-default;
        >ul{
          display: flex;
          justify-content: space-between;
          width: 100%;
          >li{
            flex: 1 1 50%;
            .custom-radio-wrap{
              text-align: center;
              input[type="radio"]{
                font-size: 0;
                width: 0;
                height: 0;
                position: absolute;
                left: 0;
                opacity: 0;
                &:checked + label{
                  .vote-item-label{
                    position: relative;
                    &:after{
                      content: '';
                      display: inline-block;
                      position: absolute;
                      left: rem(21);
                      top: 50%;
                      transform: translateY(-50%);
                      width: rem(31);
                      height: rem(31);
                      border-radius: 50%;
                      background-color: $primary;
                      z-index: 1;
                    }
                  }
                }
              }
              label{
                position: relative;
                display: block;
                .vote-item-label{
                  display: inline-flex;
                  position: relative;
                  align-items: center;
                  padding: rem(10);
                  margin-top: rem(10);
                  color: $fc-default;
                  text-align: center;
                  &:before{
                    content: '';
                    display: inline-block;
                    margin-right: rem(10);
                    width: rem(50);
                    height: rem(50);
                    border: $border-default;
                    background-color: transparent;
                    border-radius: 50%;
                  }
                  input{
                    display: inline-block;
                    width: 100%;
                    padding: rem(10);
                    border: 0;
                    border-bottom: $bg-gray-border;
                  }
                }
              }
      
            }
          }
        }
      }
    }
    
    .age-year{
      padding-top: rem(50);
      border-top: $border-default;
      .select-wrap{
        border: 0;
        overflow: hidden;
        border-radius: rem(20);
        background-color: $bg-gray;
        &:after{
          width: rem(54);
          height: rem(54);
          background-position: rem(-173) rem(-173);
        }
      }
    }

    .select-location, .select-telecom{
      padding-top: rem(50);
      border-top: $border-default;
      .radio-wrap{
        >ul{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li{
            padding: rem(20);
            margin-bottom: rem(20);
            flex: 0 1 calc(50% - #{rem(15)});
            background-color: $bg-gray;
            border-radius: rem(20);
          }
        }
      }
    }
    .interesting{
      padding-top: rem(30);
      border-top: $border-default;
      .checkbox-circle-type-wrap{
        .checkbox-wrap{
          &.circle-checkbox{
            label{
              display: flex;
              position: relative;
              justify-content: center;
              align-items: center;
              width: vw(190);
              height: vw(190);
              background-color: $bg-gray;
              border: 0;
              border-radius: 50%;
              padding: 0;
              margin: auto;
              &:before{
                content: none;
              }
              .circle-item-label{
                width: 80%;
                padding: 0;
                text-align: center;
                font-weight: $normal;
                font-size: rem(26);
              }
            }
            input[type="checkbox"]:checked + label{
              background-color: $secondary;
              .circle-item-label{
                color: #ffffff;
              }
              &:after{
                content: none;
              }
            }
          }
        }
        >ul{
          display: grid;
          // flex-wrap: wrap;
          // justify-content: space-between;
          grid-template-columns: repeat(3, 1fr);
          justify-content: center;
          >li{
            margin-bottom: rem(20);
          }
        }
      }
      [class*="message-"]{
        font-weight: $normal;
      }
    }
  }
}