.container{
  width: 100%;
  max-width: $container-width;
  // border: 1px solid gray;
  margin: auto;
  padding-left: $container-side-pad;
  padding-right: $container-side-pad;
  font-size: $fs-default;
  color: $fc-default;
  .has-aside{
    @include display-flex;
    flex-direction: row-reverse;
    background-color: $bg-gray;
    &.sticky-type{
      aside{
        flex: 0 0 $aside-width;
        
        display: block;
        position: sticky;
        top: $nav-height;
        height: calc(100vh - #{$nav-height});
        overflow-y: auto;
        @include scroll-custom;
      }
      .content-wrap{
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 100%;
        padding-right: $content-aside-gap;
        background-color: #ffffff;
      }
    }
  }
  .content-wrap{
    padding-top: $container-top-pad;
    .h2-title{
      @include display-flex;
      @include flex-prefix-suffix;
      font-size: rem(18);
      font-weight: $bold;
      color: $fc-default-light;
      .prefix{
        @include display-flex;
        align-items: center;
        [class*="icon-"]{
          margin-right: rem(10);
        }
      }
      .suffix{
        @include display-flex;
        align-items: flex-end;
        .sub-text{
          color: $fc-gray;
          font-weight: $normal;
        }
      }
    }
    .content-header{
      border-radius: $gray-box-radius;
      @include flex-prefix-suffix;
      height: rem(140);
      align-items: center;
      padding-left: rem(55);
      padding-right: rem(40);
      color: #ffffff;
      background-repeat: no-repeat;
      background-size: cover;
      $scale: 0.80;
      &.has-bg-01{
        background-image: url(../images/content_header_pannel_bg_01.png);
        .btn-white{
          color: $primary;
          &.has-arrow{
            &:after{
              background-position: rem(-35*$scale) rem(-1309*$scale);
            }
          }
        }
      }
      &.has-bg-02{
        background-image: url(../images/content_header_pannel_bg_02.png);
      }
      &.has-bg-03{
        background-image: url(../images/content_header_pannel_bg_03.png);
        .btn-white{
          color: $secondary;
          &.has-arrow{
            &:after{
              background-position: rem(-35*$scale) rem(-1297*$scale);
            }
          }
        }
      }
      &.has-bg-04{
        background-image: url(../images/content_header_pannel_bg_04.png);
      }
      &.has-bg-05{
        border: rem(1) solid lighten($primary, 20%);
        background-image: url(../images/content_header_pannel_bg_05.png);
        color: $fc-primary;
        .center{
          .main-text{
            color: $fc-default;
          }
          .sub-text{
            color: $fc-gray;
          }
        }
      }
      &.has-bg-06{
        background-image: url(../images/content_header_pannel_bg_06.png);
      }
      .title{
        font-size: rem(20);
        font-weight: $bold;
        margin-right: rem(15);
        white-space: nowrap;
      }
      .prefix{
        flex-grow: 0;
        flex-basis: rem(145);
      }
      .center{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .main-text{
          font-size: rem(17);
        }
        .sub-text{
          font-size: rem(14);
          color: rgba(255,255,255,0.5);
          margin-top: rem(5);
        }
      }
      .suffix{
        .btn{
          &.btn-primary.btn-round{
            height: rem(38);
            background-color: darken($primary, 10%);
            font-weight: $normal;
            .icon--question{
              margin-right: rem(5);
            }
          }
          > span{
            margin-right: rem(5);
          }
        }
      }
    }
    .content-footer{
      @include flex-prefix-suffix;
      margin-top: rem(30);
      margin-bottom: rem(30);
    }
  }
  .template{
    background-color: #ffffff;
    .template-header{
      .title-h4{
        display: flex;
        align-items: center;
        &.border-bottom{
          border-bottom: $bg-gray-border;
        }
        h4{
          font-size: rem(18);
          font-weight: $bold;
          color: $fc-default;
          // margin-bottom: rem(15);
        }
        .sub-text{
          display: flex;
          flex: 1 1 auto;
          justify-content: flex-end;
          font-size: rem(12);
          font-weight: $normal;
          color: $fc-gray;
        }
      }
    }
    
    .summary{
      @include flex-prefix-suffix;
    }
    .template-body{
      padding-top: rem(30);
      padding-bottom: rem(30);
      font-size: rem(14);
      font-weight: $semi-bold;
      color: $fc-gray;
      line-height: $content-line-height-default;
      .img-wrap{
        img{
          width: 100%;
        }
      }
    }
    .vote-info{
      @include flex-prefix-suffix;
      // border-top: $bg-gray-border;
      border-bottom: $bg-gray-border;
      padding-top: rem(20);
      padding-bottom: rem(20);
      margin-bottom: rem(20);
      font-weight: $normal;
      ul{
        >li{
          display: inline-block;
          position: relative;
          margin-left: rem(5);
          padding-right: rem(7);
        }
      }
      .prefix{
        ul{
          >li{
            &:after{
              content: '';
              position: absolute;
              display: inline-block;
              width: rem(1);
              height: rem(10);
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              border-right: $border-default;
            }
            &:nth-last-of-type(1){
              &:after{
                border-right: 0;
              }
            }
          }
        }
      }
      .catagory{
        font-size: rem(14);
        color: $fc-default;
      }
      .nickname{
        font-size: rem(14);
        color: $fc-gray;
      }
    }
    .target-info{
      padding-top: rem(10);
      padding-bottom: rem(10);
      >ul{
        display: flex;
        >li{
          display: flex;
          // border-right: rem(2) solid $gray-light;
          // padding-left: rem(10);
          // padding-right: rem(10);
          // &:nth-last-child(1){
          //   border-right: 0;
          // }
          >span{
            font-size: rem(12);
          }
        }
      }
    }
    .template-footer{
      @include flex-prefix-suffix;
      font-size: rem(13);
      border-top: $bg-gray-border;
      padding-top: rem(30);
      margin-bottom: rem(30);
      [class*="vote-icons-"]{
        margin-right: rem(5);
      }
      .prefix{
        >ul{
          @include flex-align-item-center;
          display: flex;
          width: 100%;
          li{
            margin-right: rem(15);
            color: $fc-gray;
            a{
              color: $fc-gray;
            }
            .on{
              color: $secondary;
            }
          }
        }
      }
      .suffix{
        color: $fc-gray;
        em{
          color: $fc-default;
        }
      }
    }
    .notice-sentence{
      font-weight: $normal;
      color: $fc-gray-light;
    }
  }
  .template-bg-white{
    background-color: #ffffff;
  }
  .aside-links{
    margin-bottom: rem(10);
    >ul{
      >li{
        a{
          position: relative;
          padding: rem(18) rem(46);
          font-size: rem(15);
          border-radius: $tab-link-arch-radius;
          display: block;
          font-weight: $medium-bold;
          &:hover{
            background-color:#896eff;
            color:$fc-white;
          }
          &.active{
            background-color:#896eff;
            color:$fc-white;
          }
          .icon-white-prev-arrow{
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
section{
  min-width: $container-width;
  &:nth-of-type(1){
    margin-top: $nav-height;
  }
}


.gray-box{
  background-color: $bg-gray;
  padding-left: rem(20);
  padding-right: rem(20);
  padding-top: rem(20);
  padding-bottom: rem(20);
  border-radius: $gray-box-radius;
}


// .metropolis{
//   @include metropolis;
//   &.has-footer{
//     @include metropolis-has-fixed-footer;
//   }
//   .template{
//     // width: 100%;
//   }
// }
// .fixed-footer{
//   @include fixed-footer;
//   display: flex;
//   .btn{
//     flex: 1 1 50%;
//     border-radius: 0;
//   }
// }
// .bg-gray{
//   background-color: $bg-gray;
// }
// .flex-wrap{
//   display: flex;
//   width: 100%;
//   .justify-end{
//     flex: 1 1 auto;
//     display: flex;
//     justify-content: flex-end;
//   }
// }