.login-page{
  .container{
    .template{
      box-shadow: none;  
    }
  }
  .login-logo{
    img{
      width: 100%;
    }
  }
  .login-by-account{
    padding-bottom: rem(80);
    >ul{
      >li{
        margin-bottom: rem(20);
        &.flex-wrap{
          >ul{
            display: flex;
            align-items: center;
            width: 100%;
            >li{
              flex: 1 1 auto;
              &.justify-end{
                display: flex;
                justify-content: flex-end;
              }
            }
          }
        }
      }
    }
    .input-wrap{
      height: $login-input-height;
    }
    .checkbox-wrap{
      label{
        font-weight: $bold;
      }
    }
    .partition-link-group{
      margin-top: rem(40);
      margin-bottom: rem(40);
      margin-left: rem(40);
      margin-right: rem(40);
    }
  }
  .login-by-sns{
    padding-top: rem(80);
    border-top: $border-default;
    >ul{
      >li{
        margin-bottom: rem(20);
      }
    }
    .btn{
      position: relative;
      [class*="icon-"]{
        position: absolute;
        left: rem(25);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .verify-number{
    border-top: $border-default;
    padding-top: rem(40);
    margin-top: rem(40);
  }
  .header-message{
    padding: rem(50) 0;
  }
  .notice-message{
    p{
      margin: rem(10) 0;
      line-height: 1.6;
    }
  }
  .find-id{
    width: 100%;
    [class*="message-"]{
      padding: rem(50) 0;
    }
  }
}