[class*="message-"]{
  color: $fc-default;
}
.align-c{
  text-align: center;
}
.align-r{
  text-align: right;
}
.align-l{
  text-align: left;
}
.fc-point{
  color: $coral-red;
}
.fc-primary{
  color: $fc-primary;
}
.fc-gray{
  color: $fc-gray;
}
.emphas{
  color: $secondary;
}
@for $p from 5 through 15 {
  .message-#{$p*2}{
    font-size: rem($p*2);
  }
}

.message-gray-box{
  background-color: $bg-default;
  border: $bg-gray-border;
}
