@charset 'utf-8';

@mixin display-flex{
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}
@mixin display-grid{
  display: grid;
  display: -ms-grid;
}

@mixin flex-prefix-suffix{
  @include display-flex;
  .prefix, .suffix, .center{
    @include display-flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
  }
  .suffix{
    justify-content: flex-end;
  }
  .center{
    justify-content: center;
  }
}

@mixin ellipsis {
  display: block;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin ellipsis-multi {
  display: -webkit-box;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap:break-word;
}

@mixin text-overflow-ellipsis{
  overflow: hidden;
  word-wrap:break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -ms-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis
}
@mixin scroll-touch{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin scroll-custom{
  /* width */
  &::-webkit-scrollbar {
    height: rem(5);
    width: rem(5);
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #ffffff; 
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $fc-gray-light;
    border-radius: rem(10);
  }
}
@mixin appearance-none{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@mixin sticky{
  position: sticky;
  position: -webkit-sticky;
}

@mixin fit-screen{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin container-pad {
}
@mixin flex-align-item-center{
  display: flex;
  align-items: center;
}
@mixin img-sprite{
  background-image: url(../images/sp_icon.png);
  background-repeat: no-repeat;
  background-size: rem(750*0.5);
}
@mixin common-img-sprite{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
@mixin vote-img-sprite{
  @include common-img-sprite;
  background-size: auto;
  background-image: url(../images/vote_icons.png);
}


@mixin hidden-checkbox{
  position: absolute;
  font-size: 0;
  width: 0;
  height: 0;
  left: 0;
  opacity: 0;
}

@mixin img-round-frame{
  display: flex;
  border-radius: rem(10);
  overflow: hidden;
}
@mixin button-default{
  display: inline-flex;
  width: auto;
  min-width: rem(120);
  height: $btn-height-default;
  justify-content: center;
  align-items: center;
  font-size: $btn-default-fs;
  font-weight: $semi-bold;
  color: #ffffff;
}
@mixin bordered-tag{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: rem(1) solid $fc-gray-light;
  color: $fc-gray-light;
  height: rem(22);
  padding-left: rem(8);
  padding-right: rem(8);
  border-radius: rem(15);
  white-space: nowrap;
}
@mixin square-tag{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $fc-default;
  height: rem(20);
  padding-left: rem(8);
  padding-right: rem(8);
  white-space: nowrap;
  font-size: rem(11);
}

@mixin container-pad-wide-type{
  padding-left: calc(#{$template-pad-side} + #{$template-margin-side});
  padding-right: calc(#{$template-pad-side} + #{$template-margin-side});
}

@mixin container-pad-tight-type{
  padding-left: $template-pad-side;
  padding-right: $template-pad-side;
  margin-left: $template-margin-side;
  margin-right: $template-margin-side;
}

@mixin container-pad-normal-type{
  margin-left: calc(#{$template-pad-side} + #{$template-margin-side});
  margin-right: calc(#{$template-pad-side} + #{$template-margin-side});
}

@mixin has-fixed-nav{
  top: $nav-height;
}
@mixin has-fixed-footer{
  margin-bottom: $btn-footer-fixed-height;
}
@mixin fixed-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
@mixin metropolis-has-fixed-footer{
  display: flex;
  position: absolute;
  @include fit-screen;
  @include has-fixed-nav;
  bottom: $btn-footer-fixed-height;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
@mixin metropolis{
  display: flex;
  position: absolute;
  @include fit-screen;
  @include has-fixed-nav;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

@mixin card-pad{
  padding-left: $card-pad-side;
  padding-right: $card-pad-side;
  padding-top: $card-pad-top;
  padding-bottom: $card-pad-top;
}