.modal{
  display: none;
  &#popContainer{
    max-width: unset;
    width: 50%;
    min-width: rem(700);
  }
  header {
    font-size: rem(36);
    color: #333;
    padding-top: rem(40);
    font-weight: 500;
  }
  
  section {
    padding: rem(35) rem(50) rem(45);
    font-weight: 300;
    color: #555;
    font-size: rem(28);
    .point {
      display: block;
      font-weight: 500;
      font-size: rem(28);
      padding-bottom: rem(10);
      em {
        color: #ff529d;
      }
    }
    
  }
  
  
  footer {
    border-top: $border-default;
    a {
      &.btn.btn-wide{
        height: 10.66667vw;
        height: 10.66667vw;
        line-height: 10.66667vw;
        color: #ff8acc;
        font-size: rem(28);
      }
    }
    
    &.col2 {
      overflow: hidden;
      a, button {
        width: 50%;
        float: left;
      }
      
      a:last-child, button:last-child {
        color: #7c7c7c;
        border-left: 0.26667vw solid #d2d2d2;
      }
    }
    
  }
}
.modal {
  &.alert-popup, &.share-popup{
    text-align: center;
    padding: 0;
    max-width: rem(600);
  }
  
  &.info_box{
    dt {
      font-size: 3.73333vw;
      color: #ff529d;
      font-weight: 500;
      padding-bottom: 2.66667vw;
    }
  }
  .sns-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: rem(20);
    >li{
      >a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: rem(150);
      }
    }
  }
  a{
    &.close-modal{
      $scale: 0.5;
      @include img-sprite;
      top: 0;
      right: rem(-30);
      width: rem(33*$scale);
      height: rem(33*$scale);
      background-position: rem(-183*$scale) rem(-23*$scale);
    }
  }
}
.alert-popup{
  overflow: hidden;
  .modal-header{
    display: block;
    padding-top: rem(30);
    padding-bottom: rem(5);
    font-size: rem(18);
    font-weight: $semi-bold;
  }
  .modal-body{
    padding-top: rem(80);
    padding-bottom: rem(80);
    padding-left: rem(60);
    padding-right: rem(60);
  }
  .modal-footer{
    .btn-group{
      display: flex;
      .btn{
        flex: 1 1 50%;
        border-radius: 0;
        margin-right: 0;
        height: rem(75);
      }
    }
  }
  a{
    &.close-modal{
      $scale: 0.6;
      @include img-sprite;
      top: rem(34);
      right: rem(30);
      width: rem(26*$scale);
      height: rem(26*$scale);
      background-position: rem(-267*$scale) rem(-27*$scale);
      background-size: rem(750*$scale);
    }
  }
}
.blocker{
  z-index: 10000;
}

.modal{
  &.survey-popup{
    max-width: rem(940);
    .fc-primary{
      font-weight: $medium-bold;
    }
    .modal-body{
      .list-template{
        >li{
          padding: rem(30) 0 ;
          &.number-indent{
            text-indent: rem(-23);
            margin-left: rem(23);
          }
        }
        &.border-type{
          >li{
            border-top:$list-border-type;
            &:last-child{
              border-bottom: $list-border-type;
            }
          }
        }
      }
    }
  }
}


