.my-alarm{
   .header{
     padding-bottom:rem(20);
     .sub-text{
       padding-top: rem(20);
       padding-left: rem(20);
     }
   }
  .message-list{
    ul{
      li{
        background-color:$bg-my-message;
        padding: rem(20);
        margin-bottom:rem(2);
        .icon_heypoll_message{
          float: left;
          margin-right: rem(13);
        }
      }
    }
  }
}