.my-page{
  .header{
    @include flex-prefix-suffix;
    .title{
      display: inline-block;
      font-size: rem(20);
      font-weight: $semi-bold;
      color: $fc-default-light;
      $scale: 0.50;
    }
    .sub-text{
      font-size: rem(14);
      font-weight: $normal;
      color: $fc-gray;
      &.partition{
        &:before{
          content: '';
          display: inline-block;
          height: rem(10);
          width: rem(1);
          margin-left: rem(15);
          padding-left: rem(15);
          border-left: rem(1) solid $fc-gray-light;
        }
      }
    }
  }
  .about-heypoll-point{
    position: relative;
    .title{
      margin: 0;
      font-size: rem(15);
    }
    .box-body{
      padding-bottom: rem(20);
      p{
        color: $fc-gray;
        font-size: rem(13);
      }
    }
    .box-footer{
      position: relative;
      &.bg-primary{
        background-color: lighten($primary, 9%);
        color: #ffffff;
      }
      &:after{
        content: '';
        display: inline-block;
        position: absolute;
        background-image: url(../images/about-heypoll-point.png);
        background-repeat: no-repeat;
        width: rem(139);
        height: rem(140);
        bottom: rem(0);
        left: rem(10);
      }
    }
    .now-point-message{
      margin: 0;
      font-size: rem(20);
      text-align: center;
      span{
        font-size: rem(34);
        font-weight: $semi-bold;
      }
    }
  }
  .heypoll-store-link, .point-change, .give-point-gift{
    .description-text{
      margin-bottom: rem(40);
    }
  }
  .my-point-history{
    .table{
      tr{
        th, td{
          &:nth-last-of-type(1){
            text-align: right;
          }
        }
      }
    }
  }
  .content{
    &:nth-last-of-type(1){
      margin-bottom: rem(60);
    }
  }
}
.point-change-link{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  height : rem(72);
  width: rem(210);
  &.okcashbag{
    background-image: url(../images/okcash-link.png);
    margin-right: rem(20);
  }
  &.happypoint{
    background-image: url(../images/happypoint-link.png);
  }

}