nav{
  font-family: 'NanumSquare', sans-serif;
  background-color: #ffffff;
  // border: 1px solid red;
  min-width: $container-width;
  height: $nav-height;
  &.shadow{
    box-shadow: $template-shadow;
  }
  &.border-bottom{
    border-bottom: $border-default
  }
  &.top-fixed{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-sizing: content-box;
    background-color: #ffffff;
    .container{
      height: 100%;
    }
    .gnb-wrap{
      display: flex;
      flex-direction: column;
      height: 100%;
      .topper{
        text-align: right;
        .for-my-page{
          padding-top: rem(10);
          padding-bottom: rem(10);
          >li{
            display: inline-block;
            &:after{
              content: '';
              display: inline-block;
              height: rem(10);
              width: rem(1);
              border-right: rem(1) solid $fc-gray;
              margin-left: rem(7);
              margin-right: rem(5);
              vertical-align: middle;
            }
            &:nth-last-of-type(1){
              &:after{
                content: none;
              }
            }
            a{
              color: $fc-gray;
              font-size: rem(12);
              &.bold{
                color: $fc-default;
                font-weight: $bold;
              }
            }
          }
        }
      }
      .gnb{
        @include flex-prefix-suffix;
        flex: 1 1 auto;
        .suffix{
          height: 100%;
          .menu-list{
            height: 100%;
            >ul{
              width: 100%;
              height: 100%;
              >li{
                display: inline-block;
                height: 100%;
                a{
                  display: flex;
                  height: 100%;
                  align-items: center;
                  font-size: rem(18);
                  font-weight: $bold;
                  color: $fc-default;
                  margin-left: rem(40);
                  box-sizing: content-box;
                }
                &.on, &:hover{
                  a{
                    border-bottom: rem(2) solid $primary;
                  }
                }
                &:nth-of-type(1){
                  a{
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
        .btn-all-menu{
          margin-left: rem(40);
          &:before{
            vertical-align: middle;
          }
        }
      }
    }
  }
  
  &.all-menu{
    $duration: 0.2s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    .menu-wrap{
      position: absolute;
      top: $nav-height;
      width: calc(#{$container-width} - #{$container-side-pad}*2);
      height: 0;
      border-radius: rem(20);
      overflow: hidden;
      background-color: #ffffff;
      .container{
        // margin-top: $nav-height;
        padding-top: rem(60);
        padding-bottom: rem(60);
        padding-left: calc(#{$container-side-pad} + #{rem(50)});
        padding-right: calc(#{$container-side-pad} + #{rem(50)});
        .row{
          display: flex;
          margin-bottom: rem(60);
          .item-wrap{
            flex: 0 0 calc(100% / 5 - #{rem(8)});
            margin-right: rem(10);
            &:nth-last-of-type(1){
              margin-right: 0;
            }
            .title{
              font-size: rem(16);
              font-weight: $bold;
              padding-bottom: rem(20);
              border-bottom: $border-default;
            }
            .menu-list{
              padding-top: rem(20);
              >ul{
                >li{
                  a{
                    display: inline-block;
                    padding-top: rem(5);
                    padding-bottom: rem(5);
                    color: $fc-gray;
                    &:hover{
                      color: $primary;
                    }
                  }
                }
              }
            }
          }
          .nav-banner{
            flex: 1 1 auto;
            // width: rem(450);
            display: flex;
            justify-content: flex-end;
            .item-wrap{
              flex: 0 0 rem(378);
              width: rem(378);
              .menu-list{
                >ul{
                  >li{
                    a{
                      padding-top: 0;
                      padding-bottom: 0;
                      img{
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
          &:nth-last-of-type(1){
            margin-bottom: 0;
          }
        }
      }
      .btn-close{
        position: absolute;
        right: rem(30);
        top: rem(30);
      }
    }
    &.open{
      bottom: 0;
      z-index: 11;
      .menu-wrap{
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
      }
      .dimmer{
        bottom: 0;
      }
    }
    .dimmer{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.8);
      transition: background-color, top;
      transition-duration: $duration;
      z-index: 1;
    }
    
  }
}