.news{
  .news-list{
    margin-top: rem(60);
    >ul{
      @include display-grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(10);
      >li{
        >a{
          .card{
            .card-header{
              .preiod{
                font-size: rem(11);
                color: $fc-default-light;
                margin-bottom: rem(8);
              }
              .item-title{
                font-weight: $bold;
              }
            }
            .card-body{
              .summary{
                @include text-overflow-ellipsis;
                height: rem(14*3);
                max-height: rem(14*3);
                line-height: rem(14);
              }
            }
            .card-footer{
              @include flex-prefix-suffix;
              .catagory{
                color: $fc-default-light;
              }
            }
            .img-wrap{
              display: block;
              position: relative;
              width: 100%;
              height: rem(150);
              border-radius: rem(8);
              overflow: hidden;
              margin-top: rem(20);
              margin-bottom: rem(20);
              img{
                position: absolute;
                width: 120%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
  }
  .news-view{
    .template-header{
      @include display-flex;
      @include flex-prefix-suffix;
      border-top: $border-default;
      padding-left: $card-pad-side;
      padding-right: $card-pad-side;
      background-color: $bg-gray;
    }
    .template-body{
      padding-top: $template-pad-top;
      article{
        font-size: rem(12);
        border: $border-default;
        color: $fc-default;
        font-weight: $normal;
        padding: rem(32);
        margin-bottom: rem(50);
      }
      img{
        width: 100%;
      }
      .tag-box{
        a{
          display: inline-block;
          margin-right: rem(10);
          margin-bottom: rem(10);
          .tag{
            background-color: #f6f6f6;
            border: 0;
            color: $fc-default-light;
            font-weight: $normal;
          }
        }
      }
    }
  }
}