
.notice{
  .notice-header{
    display: flex;
    .prefix{
      display: flex;
      .title{
        display: inline-block;
        font-size: rem(22);
        font-weight: $bold;
        color: $fc-default;
      }
      .sub-text{
        font-size: rem(14);
        font-weight: $normal;
        color: $fc-gray;
        margin: auto;
        padding-left: rem(20);
      }
    }
  }
  .notice-table{
    tr{
      td{
        &.flex-title{
          display: flex;
          >a{
            flex: 1 1 auto;
          }
        }
        .notice-title{
          @include ellipsis;
          width: rem(490);
          margin: auto;
        }
        .notice-tag{
          color: $fc-white;
          background-color: #c6adff;
          margin-right: rem(18);
          white-space: nowrap;
          padding: rem(4) rem(10);
        }
        &.center-td{
          text-align: center;
        }
      }
    }
  }
}
.notice-info{
  margin-top: rem(40);
  .template-header{
    @include display-flex;
    @include flex-prefix-suffix;
    border-top: $border-darkgray;
    border-bottom: $border-default;
    padding-left: $card-pad-side;
    padding-right: $card-pad-side;
    flex-wrap: wrap;
    border-bottom: none;
    // background-color: $bg-gray;
    h3{
      &.title{
        margin-top: rem(20);
        margin-bottom: rem(20);
      }
    }
    .date{
      color: $fc-gray;
      font-size: rem(11);
    }
  }
  .template-body{
    padding-top: $template-pad-top;
    color: $fc-default-light !important;
    padding-left: $card-pad-side;
    padding-right: $card-pad-side;
  }
  .btn{
    height: rem(40);
  }
  .filebox {
    border-bottom: $border-default;
    padding-left: $card-pad-side;
    padding-right: $card-pad-side;
    padding-bottom: rem(30);
    .file {
      display: inline-block;
      font-size: rem(14);
      vertical-align: middle;
      border-radius: $tab-link-arch-radius;
    }
    .file-name {
      display: inline-block;
      font-size:rem(14); 
      color: $fc-gray;
      padding: 0 rem(10);
      vertical-align: middle;
      border-radius: $tab-link-arch-radius;
    }
  }
}