.paging{
  margin-top: rem(60);
  margin-bottom: rem(40);
  >ul{
    text-align: center;
    >li{
      display: inline-block;
      margin: 0 rem(8);
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(30);
        height: rem(30);
        border-radius: 50%;
        color: $fc-default-light;
        &.on{
          background-color: $primary;
          color: #ffffff;
        }
      }
    }
  }
  .first, .prev, .next, .last{
    display: inline-block;
    width: rem(9);
    height: rem(9);
    background-image: url(../images/paging_icons.png);
    background-repeat: no-repeat;
    background-size: auto;
  }
  .first{
    background-position: 0 0;
  }
  .prev{
    background-position: 0 rem(-9);
  }
  .next{
    background-position: 0 rem(-18);
  }
  .last{
    background-position: 0 rem(-27);
  }
}