.partition-link-group{
  margin: 0 auto;
  >ul{
    display: flex;
    >li{
      flex: 1 1 auto;
      border-right: $border-default;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-last-of-type(1){
        border-right: 0;
      }
      a{
        // color: $fc-default;
        line-height: 1;
      }
    }
  }
  &.space-between{
    >ul{
      >li{
        &:nth-of-type(1){
          justify-content: flex-start;
        }
        &:nth-last-of-type(1){
          justify-content: flex-end;
        }
      }
    }
  }
}