.popup-page{
  position: fixed;
  @include fit-screen;
  @include scroll-touch;
  // background-color: #4b8b4b;
  .popup-header{
    position: sticky;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    height: $nav-height;
    background-color: #ffffff;
    border-bottom: $border-header;
    z-index: 10;
    &.bg-primary{
      background-color: $primary;
      color: #ffffff;
      .icon-close{
        background-position: rem(-183) rem(-23);
      }
    }
    .prefix, .center, .suffix{
      flex: 1 1 auto;
      display: flex;
      align-items: center;
    }
    .center{
      justify-content: center;
      font-size: rem(38);
      font-weight: $bold;
    }
    .prefix{
      padding-left: $template-pad-side;
    }
    .suffix{
      justify-content: flex-end;
      padding-right: $template-pad-side;
    }
  }
  .container{
    @include has-fixed-footer;
  }
  .popup-footer{
    @include fixed-footer;
  }
}