.question{
  .question-header{
    display: flex;
    .prefix{
      display: flex;
      .title{
        display: inline-block;
        font-size: rem(22);
        font-weight: $bold;
        color: $fc-default;
      }
      .sub-text{
        font-size: rem(14);
        font-weight: $normal;
        color: $fc-gray;
        margin: auto;
        padding-left: rem(20);
      }
    }
  }
  .question-table{
    tr{
      td,th{
        .perhaps-tag{
          border: $perhaps-tag-border;
          padding: rem(6) rem(16);
          border-radius: $tab-link-arch-radius;
          color: $fc-primary;
          font-weight: $medium-bold;
          &.incomplete-tag{
            padding: rem(6) rem(21);
            opacity: 0.5;
          }
        }
        &:last-child{
          text-align: center;
        }
      }
    }
    tbody{
      tr{
        td{
          &:nth-child(2){
            color: $fc-primary;
          }
          &.question-title{
            @include ellipsis;
            max-width: rem(441);
          }
        }
      }
    }
  }
}