.radio-wrap{
  input[type="radio"]{
    font-size: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    opacity: 0;
    &:checked + label{
      &:after{
        content: '';
        display: inline-block;
        position: absolute;
        left: rem(6);
        top: 50%;
        transform: translateY(-50%);
        width: rem(15);
        height: rem(15);
        border-radius: 50%;
        background-color: $primary;
      }
    }
  }
  label{
    position: relative;
    display: flex;
    height: rem(35);
    align-items: center;
    &:before{
      content: '';
      display: inline-block;
      flex: 0 0 rem(25);
      margin-right: rem(5);
      width: rem(25);
      height: rem(25);
      border: $border-default;
      background-color: #ffffff;
      border-radius: 50%;
    }
  }
}

.form-group{
  .radio-list{
    >ul{
      display: grid;
      &.col-6{
        grid-template-columns: repeat(2, 1fr);
      }
      &.col-4{
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}