.report{
  .report-content{
    .report-template{
      >ul{
        >li{
          .input-wrap{
            &.report-text-content{
              height: rem(500);
            }
          }
        }
      }
      .byte{
        margin-top: rem(20);
        font-size: rem(26);
        color: $fc-gray;
        text-align: right;
        
        >span{
          color: $fc-default;
        }
      }
    }
  }
}