.search-box{
  .input-wrap{
    border-color: $primary;
    border-radius: $search-input-radius;
    .btn-search{
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: rem(50);
      padding-right: rem(10);
      padding-left: rem(10);
    }
  }
}