.share-wrap{
  ul{
    li{
      display: inline-block;
      margin-right: rem(5);
    }
  }
  button{
    $share: 0.2;
    [class*="icon-"]{
      width: rem(80 * $share);
      height: rem(80 * $share);
      background-size: rem(750 * $share);
      margin-right: rem(5);
    }
    .icon-share-facebook{
      background-position: rem(-659 * $share) rem(-210 * $share);
    }
    .icon-share-twitter{
      background-position: rem(-659 * $share) rem(-310 * $share);
    }
  }
}