.survey{
  .survey-list{
    margin-top: rem(60);
    margin-bottom: rem(60);
  }
  .survey-list, .survey-participation{
    >ul{
      // @include display-grid;
      // grid-template-columns: repeat(2, 1fr);
      // gap: rem(25);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      >li{
        flex: 0 0 calc(50% - #{rem(10)});
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(50% - #{rem(10)});
        margin-bottom: rem(20);
        .survey-item{
          height: 100%;
          &.card{
            border-radius: $gray-box-radius;
            overflow: hidden;
            .card-header{
              background-color: #ffffff;
              .summary{
                @include flex-prefix-suffix;
                height: rem(30);
                .catagory{
                  color: $primary;
                }
              }
              .title{
                font-weight: $bold;
              }
            }
            .card-body{
              .preiod{
                margin-top: rem(10);
              }
            }
            .card-footer{
              .btn{
                height: rem(35);
              }
            }
          }
        }
        .survey-info{
          margin-top: rem(20);
          color: $fc-default;
          // font-size: rem(28);
          >ul{
            >li{
              @include display-flex;
              align-items: center;
              margin-bottom: rem(5);
              font-weight: $normal;
              color: $fc-gray;
              &:nth-last-of-type(1){
                margin-bottom: 0;
              }
              .label{
                flex: 0 0 rem(100);
                border-right: $border-default;
                font-weight: $bold;
                color: $fc-default;
              }
              .content{
                flex: 1 1 auto;
                padding-left: rem(20);
              }
            }
          }
        }
      }
    }
  }
  .survey-participation{
    .template{
      box-shadow: none;
      .view-content{
        margin-bottom: rem(50);
      }
    }
  }

}