/* switch */
.switch {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 0;
  cursor: pointer;
}

.switch input {
  overflow: hidden;
  position: absolute;
  padding: 0;
  border: 0;
  opacity: 0;
  line-height: 0;
  margin: 0;
}

.switch input + label {
  height: rem(62);
  width: rem(120);
  display: inline-block;
  border-radius: rem(30);
  -webkit-border-radius: rem(30);
  -moz-border-radius: rem(30);
  -ms-border-radius: rem(30);
  -o-border-radius: rem(30);
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  line-height: 0;
}

.switch input + label:after {
  content: "";
  display: block;
  position: absolute;
  top: rem(6);
  left: rem(6);
  width: rem(50);
  height: rem(50);
  background-color: #fff;
  transition: all 0.3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.switch input:checked + label {
  background-color: #ff8acc;
}

.switch input:checked + label:after {
  left: inherit;
  right: 0.4vw;
}

.switch input:disabled + label:before {
  background-color: rgba(96, 111, 128, 0.2);
}