table{
  width: 100%;
  &.table{
    th{
      font-weight: $semi-bold;
      color: $fc-default;
      text-align: left;
      padding-top: $table-td-pad-top;
      padding-bottom: $table-td-pad-top;
      padding-left: $table-td-pad-side;
      padding-right: $table-td-pad-side;
    }
    td{
      color: $fc-default-light;
      text-align: left;
      padding-top: $table-td-pad-top;
      padding-bottom: $table-td-pad-top;
      padding-left: $table-td-pad-side;
      padding-right: $table-td-pad-side;
      border-top: $border-header;
    }
    tr{
      &:nth-of-type(odd){
        background-color: $bg-default;
      }
    }
    &.bordered-type{
      border-style: solid;
      border-top-width: rem(1);
      border-top-color: #333333;
      border-bottom-width: rem(1);
      border-bottom-color: #d9d9d9;
      border-left: 0;
      border-right: 0;
    }
    thead{
      tr{
        background-color:$bg-white !important;
      }
    }
  }
}