.tab-link{
  >ul{
    display: flex;
    >li{
      flex: 1 1 auto;
      display: flex;
      a{
        display: inline-flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: rem(40);
        color: $fc-default-light;
        font-size: rem(14);
      }
      &.on{
        a{
          color: $primary;
          font-weight: $bold;
        }
      }
    }
  }
  &.border-bottom-type{
    >ul{
      border-bottom: $border-default;
      >li{
        &.on{
          a{
            position: relative;
            &:after{
              content: '';
              display: block;
              position: absolute;
              left: 0;
              width: 100%;
              bottom: rem(-2);
              border-bottom: rem(4) solid $primary;
            }
          }
        }
      }
    }
  }
  &.arch-type{
    background-color: $bg-default;
    >ul{
      // @include container-pad-wide-type;
      li{
        a{
          margin-top: rem(2);
          color: $btn-default-color;
          height: rem(40);
        }
        &.on{
          a{
            background-color: #ffffff;
            color: $fc-default;
          }
        }
      }
    }
  }
  &.round-type{
    padding-top: rem(30);
    padding-bottom: rem(30);
    >ul{
      display: block;
      text-align: center;
      >li{
        display: inline-block;
        a{
          color: $fc-gray;
          font-weight: $semi-bold;
          padding-left: rem(30);
          padding-right: rem(30);
        }
        &.on{
          a{
            background-color: $primary;
            font-weight: $semi-bold;
            color: #ffffff;
            border-radius: rem(30);
          }
        }
      }
    }
  }
}