.tag{
  @include bordered-tag;
  &.tag-default{
    color: $fc-default;
    border: rem(2) solid $fc-default;
  }
  &.tag-gray{
    background-color: $cool-gray;
    color: #ffffff;
    border: 0;
  }
  &.tag-gray-light{
    background-color: lighten($cool-gray, 10%);
    color: #ffffff;
    border: 0;
  }
  &.tag-secondary{
    background-color: lighten($secondary, 10%);
    color: #ffffff;
    border: 0;
  }
  &.tag-primary{
    background-color: lighten($fc-primary, 20%);
    color: #ffffff;
    border: 0;
  }
}
.tag-square-type{
  @include square-tag;
  &.tag-default{
    color: $fc-default;
    border: rem(2) solid $fc-default;
  }
  &.tag-gray{
    background-color: $cool-gray;
    color: #ffffff;
    border: 0;
  }
  &.tag-gray-light{
    background-color: lighten($cool-gray, 10%);
    color: #ffffff;
    border: 0;
  }
  &.tag-secondary{
    background-color: lighten($secondary, 10%);
    color: #ffffff;
    border: 0;
  }
  &.tag-primary{
    background-color: lighten($fc-primary, 20%);
    color: #ffffff;
    border: 0;
  }
  &.tag-disabled{
    background-color: lighten($cool-gray, 10%);
  }
}
.point-tag{
  @include bordered-tag;
  position: relative;
  border-width: rem(2);
  border-color: lighten($primary, 10%);
  font-weight: $bold;
  color: $primary;
  &.square-type{
    border-radius: rem(25);
    height: auto;
    padding-top: rem(20);
    padding-bottom: rem(16);
  }
}

.tag-group{
  span{
    margin-right: rem(5);
  }
}