@charset 'utf-8';
//container

$container-width: rem(1185);
$container-side-pad: rem(30);
$container-top-pad: rem(40);
$aside-width: rem(320);
$content-aside-gap: rem(25);

//font-weight
$light: 300;
$normal: 400;
$medium-bold:500;
$semi-bold: 700;
$bold: 800;

//color
$primary: #7b45fd;
$secondary: #ff8acc;
$mint: #7ee0ec;
$gray-light: #ecebf3;
$gray: #999999;
$cool-gray: adjust-color($gray, $blue: 30%);
$sky-blue: #4da3f0;
$coral-red: #ff5d5d;

$theme-facebook: #4e75a8;

$fc-default: #333333;
$fc-default-light: #555555;
$fc-gray: #999999;
$fc-gray-light: #b0b0b0;
$fc-primary: $primary;
$fc-welcome:#a3d80a;
$fc-close:#35c8da;
$fc-best:#ff529d;
$fc-soul:#a03bc4;
$fc-white: #ffffff;



$fs-h3: rem(30);
$fs-default: rem(12);

$bg-gray: #f6f6f8;
$bg-white: #ffffff;
$bg-default: #ededef;
$bg-gray-border: rem(1) solid #e4e4e4;
$bg-my-message:#f8f8f9;

$template-pad-side: vw(25);
$template-pad-top: vw(25);
$template-margin-side: vw(15);
$template-margin-top: vw(15);
$content-line-height-default: 1.6;
$template-rating-pad:vw(80);

$aside-template-pad-side: rem(15);

//card
$card-pad-side: rem(15);
$card-pad-top: rem(10);

//radius
$template-white-border-radius: rem(4);
$vote-checkbox-radius: rem(10);
$user-rating-box-radius: rem(6);
$gray-box-radius: rem(8);
$tab-link-arch-radius: rem(5);
$search-input-radius: rem(4);

//shadow
$template-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
$main-banner-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
$thin-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);

//border
$border-header: rem(1) solid #efefef;
$border-default: rem(1) solid #d9d9d9;
$border-gray: rem(1) solid #c8c8c8;
$border-darkgray: rem(1) solid #333333;
$border-partition-color: $bg-gray-border;
$border-dotted: rem(1) dotted #bbbbbb;
$border-welcome:rem(1) solid #e4e9d2;
$border-close: rem(1) solid #cff3f3;
$border-best:rem(1) solid #fee3ed;
$border-soul:rem(1) solid #f6dff6;
$list-border-type:rem(1) solid #f1f1f1;
$perhaps-tag-border:rem(1) solid #d0bdfb;



//button
$btn-height-default : rem(30);
$btn-height-sm : rem(30);
$btn-default-fs : rem(12);
$btn-sticky-bottom-height: rem(60);
$btn-sticky-bottom-fs: rem(19);
$btn-round-height : rem(45);
$btn-round-fs : rem(12);
$btn-radius : rem(8);
$btn-radius-sm : rem(8*0.5);

// $btn-primary-color: #a298ff;
$btn-primary-color: $primary;
$btn-login-color: #8a5fe2;
$btn-secondary-color: $secondary;
$btn-default-color: #999999;
$btn-white-color: #ffffff;
$btn-disabled-color: $gray-light;
$btn-light-primary:#6c39e0;

$btn-footer-fixed-height: rem(120);
//nav
$nav-height: rem(120);

// input
$input-border: $border-gray;
$input-border-radius: rem(1); 
$input-pad-default: $card-pad-side;
$input-height-default: rem(40);
// login
$login-input-height: rem(100);

//table
$table-td-pad-side: rem(10);
$table-td-pad-top: rem(10);