.vote-rating{
  margin-top: rem(20);
  padding-top: rem(20);
  padding-bottom: rem(20);
  .star{
    .star-rating{
      $scale: 0.5;
      display: flex;
      width: 60%;
      margin: 0 auto;
      flex-direction: row-reverse;
      justify-content: space-between;
      input{
        display: none;
      }
      label{
        display: inline-block;
        overflow: hidden;
        font-size: 0;
        width: rem(60*$scale);
        white-space: nowrap;
        cursor: pointer;
      }
      > input + label{
        &:before {
          content: '';
          display: inline-block;
          width: rem(60*$scale);
          height: rem(60*$scale);
          @include img-sprite;
          background-position: rem(-570*$scale) rem(-409*$scale);
        }
      }
      > input + label:hover ~ label,
      > input + label:hover,
      > input:checked + label ~ label,
      > input:checked + label {
        &:before{
          background-position: rem(-492*$scale) rem(-409*$scale);
        }
      }
    }
  }
}