
.vote-result{
  .vote-result-topper{
    padding-top: rem(30);
    h3.title{
      color: $fc-default;
      font-size: rem(15);
      margin-top: rem(5);
      margin-bottom: rem(5);
    }
    .view-content{
      padding-top: rem(5);
      padding-bottom: rem(5);
      font-size: rem(14);
      color: $fc-gray;
    }
    .vote-info{
      display: flex;
      border-top: 0;
      // .prefix, .suffix{
      //   flex: 1 1 auto;
      //   >ul{
      //     display: flex;
      //     >li{
      //     }
      //   }
      // }
      // .suffix{
      //   >ul{
      //     justify-content: flex-end;
      //     >li{
      //       padding-right: rem(20);
      //       position: relative;
      //       &:after{
      //         content: '';
      //         position: absolute;
      //         display: inline-block;
      //         right: 0;
      //         top: 50%;
      //         transform: translateY(-50%);
      //         height: rem(30);
      //         border-right: $bg-gray-border;
      //       }
      //       &:nth-last-of-type(1){
      //         &:after{
      //           content: none;
      //         }
      //       }
      //     }
      //   }
      // }
    }
  }
  .template-sns{
    @include flex-prefix-suffix;
    font-size: rem(13);
    border-top: $bg-gray-border;
    padding-top: rem(30);
    margin-bottom: rem(30);
    [class*="vote-icons-"]{
      margin-right: rem(5);
    }
    .prefix{
      >ul{
        @include flex-align-item-center;
        display: flex;
        width: 100%;
        li{
          margin-right: rem(15);
          color: $fc-gray;
          a{
            color: $fc-gray;
          }
          .on{
            color: $secondary;
          }
        }
      }
    }
    .suffix{
      color: $fc-gray;
      em{
        color: $fc-default;
      }
    }
  }
  .result-list{
    ul{
      >.item{
        display: flex;
        align-items: center;
        margin-top: rem(10);
        
        &.highest{
          
          .data-view{
            .topper{
              .item-num{
                color: darken($secondary, 5%);
              }
            }
            .chart-bar-wrap{
              .chart-bar{
                .bar-value{
                  background-color: darken($secondary, 5%);
                }
              }
            }
          }
        }
        .img-wrap{
          @include img-round-frame;
          border-radius: rem(5);
          margin-right: rem(10);
          width: vw(30);
          height: vw(30);
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .data-view{
          flex: 1 1 auto;
          .topper{
            display: flex;
            padding-bottom: rem(5);
            .item-title{
              font-size: rem(16);
              color: $fc-default;
            }
            .item-num{
              display: flex;
              flex: 1 1 auto;
              justify-content: flex-end;
              font-size: rem(16);
              color: lighten($secondary, 10%);
            }
          }
          .chart-bar-wrap{
            .chart-bar{
              .bar-value{
                background-color: lighten($secondary, 10%);
              }
            }
          }
          .bottom{
            padding-top: rem(5);
            .total{
              display: flex;
              justify-content: flex-end;
              font-size: rem(12);
              font-weight: $normal;
              color: $fc-gray;
            }
          }
        }
      }
    }
    &.mint{
      ul{
        >.item{
          .data-view{
            .item-num{
              color: lighten($mint, 10%);
            }
            .chart-bar-wrap{
              .chart-bar{
                .bar-value{
                  background-color: lighten($mint, 10%);
                }
              }
            }
          }
          &.highest{
          
            .data-view{
              .topper{
                .item-num{
                  color: darken($mint, 5%);
                }
              }
              .chart-bar-wrap{
                .chart-bar{
                  .bar-value{
                    background-color: darken($mint, 5%);
                  }
                }
              }
            }
          }
        }
      }
    }
    .division{
      margin-bottom: rem(40);
      .title{
        text-align: center;
        margin-top: rem(25);
        margin-bottom: rem(25);
        .tag{
          color: $fc-default-light;
          border: $bg-gray-border;
          height: rem(35);
          border-radius: rem(18);
          font-size: rem(16);
        }
      }
      .donut-chart-wrap{
        >ul{
          >li{
            flex: 0 0 42%;
          }
        }
      }
    }
  }
}