.vote-text-type-wrap{
  margin-top: rem(20);
  border: $border-default;
  border-radius: $vote-checkbox-radius;
  .vote-text-checkbox, .vote-text{
    >li{
      border-bottom: $border-default;
      &:nth-last-of-type(1){
        border-bottom: 0; 
      }
      input[type="checkbox"]{
        @include hidden-checkbox;
      }
      label{
        display: flex;
        position: relative;
        align-items: flex-start;
        padding: rem(15);
        // justify-content: flex-start;
        span{
          padding-left: rem(20);
          padding-top: rem(3);
          color: $fc-default;
        }
        &:before{
          content: '';
          display: inline-block;
          flex: 0 0 rem(25);
          width: rem(26);
          height: rem(26);
          border: $border-default;
          border-radius: $vote-checkbox-radius;
          box-sizing: border-box;
        }
        
      }
      input[type="checkbox"]:checked + label{
        $scale: 0.5;
        &:before{
          background-color: $primary;
          border: 0;
        }
        &:after{
          content: '';
          display: inline-block;
          position: absolute;
          left: rem(20);
          top: rem(22);
          width: rem(31*$scale);
          height: rem(24*$scale);
          @include img-sprite;
          background-position: rem(-345*$scale) rem(-1428*$scale);
        }
      }
    }
    &.rank-type{
      >li{
        input[type="checkbox"]:checked + label{
          &:before{
            content: attr(data-before);
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary;
            border: rem(2) solid $primary;
          }
          &:after{
            content: none;
          }
        }
      }
    }
  }
  .vote-text{
    >li{
      padding: rem(15);
    }
  }
}