.vote-list{
  >ul{
    >li{
      padding-top: rem(50);
      padding-bottom: rem(50);
      border-top: $border-darkgray;

    }
  }
  .template{
    .template-header{
      .summary{
        @include flex-prefix-suffix;
        
        .prefix{
          .point{
            margin-right: rem(10);
            font-size: rem(14);
            font-weight: $bold;
            color: $primary;
          }
          .icon--play-tag{
            margin-right: rem(20);
          }
        }
        .preriod{
          font-size: rem(14);
          color: $fc-default;
        }
      }
      .title{
        font-size: rem(16);
        margin-top: rem(30);
        margin-bottom: rem(30);
      }
    }
    .template-body{
      padding-top: rem(10);
      .view-content{
        margin-bottom: rem(40);
        font-weight: $normal;
      }
      .vote-rating{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    
    .btn-group{
      @include flex-align-item-center;
      .btn.btn-wide{
        height: rem(50);
      }
    }
  }
  .advertisement{
    margin-top: rem(60);
  }
}