.vote-play{
  .play-wrap{
    position: relative;
    overflow: hidden;
    margin-left: rem(70);
    margin-right: rem(70);
    height: rem(420);
    background-color: $bg-gray;
    border-radius: $template-white-border-radius;
    &:before{
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,.5);
      z-index: 1;
    }
    .icon--play-button {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
}