.vote-image-type-wrap{
  >ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: rem(20);
    >li{
      flex: 0 0 calc(100% / 3);
      padding: rem(20) rem(10);
      .vote-checkbox{
        $scale: 0.5;
        input[type="checkbox"]{
          @include hidden-checkbox;
          &:checked + label{
            .img-wrap{
              border: rem(2) solid $primary;
            }
            &:before{
              background-position: 0 rem(-29);
            }
            // &:after{
            //   content: '';
            //   display: inline-block;
            //   position: absolute;
            //   left: unset;
            //   right: rem(-22);
            //   top: rem(-23);
            //   width: rem(40*$scale);
            //   height: rem(40*$scale);
            //   @include img-sprite;
            //   background-position: rem(-345*$scale) rem(-1428*$scale);
            // }
          }
        }
        &.rank-type{
          input[type="checkbox"]{
            @include hidden-checkbox;
            &:checked + label{
              &:before{
                content: attr(data-before);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                background-color: $primary;
                border: rem(2) solid $primary;
              }
            }
          }
          label{
            &:before{
              background-image: unset;
              border: $bg-gray-border;
              border-radius: $vote-checkbox-radius;
              background-color: #ffffff;
              box-sizing: border-box;
            }
          }
        }
        label{
          position: relative;
          display: block;
          &:before{
            content: '';
            @include common-img-sprite;
            position: absolute;
            left: rem(10);
            top: rem(10);
            width: rem(29);
            height: rem(29);
            background-position: 0 0;
            background-image: url(../images/icon_checkbox.png);
            background-size: rem(29);
            z-index: 1;
          }
          .img-wrap{
            @include img-round-frame;
            position: relative;
            height: vw(150);
            border: rem(2) solid transparent;
            img{
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 100%;
              object-fit: cover;
            }
          }
        }
        .vote-item-label{
          display: block;
          padding: rem(10);
          margin-top: rem(10);
          color: $fc-default;
          text-align: center;
          input{
            display: inline-block;
            width: 100%;
            padding: rem(10);
            border: 0;
            border-bottom: $bg-gray-border;
          }
        }

      }
    }
  }
}