.vote-image-type-wrap{
  >ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    >li{
      flex: 0 0 calc(100% / 3);
      .vote-radio{
        $scale: 0.5;
        input[type="radio"]{
          font-size: 0;
          width: 0;
          height: 0;
          position: absolute;
          left: 0;
          opacity: 0;
          &:checked + label{
            &:before{
              background-position: 0 rem(-29);
            }
          }
        }
        label{
          position: relative;
          display: block;
          &:before{
            content: '';
            @include common-img-sprite;
            position: absolute;
            left: rem(10);
            top: rem(10);
            width: rem(29);
            height: rem(29);
            background-position: 0 0;
            background-image: url(../images/icon_checkbox.png);
            background-size: rem(29);
          }
          .img-wrap{
            @include img-round-frame;
            height: vw(150);
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .vote-item-label{
          display: block;
          padding: rem(10);
          margin-top: rem(10);
          color: $fc-default;
          text-align: center;
          input{
            display: inline-block;
            width: 100%;
            padding: rem(10);
            border: 0;
            border-bottom: $bg-gray-border;
          }
        }

      }
    }
  }
}
.vote-text-type-wrap{
  .vote-text-radio{
    >li{
      border-bottom: $border-default;
      &:nth-last-of-type(1){
        border-bottom: 0;
      }
      .radio-wrap{
        label{
          height: auto;
          padding: rem(15);
          color: $fc-default;
          align-items: flex-start;
        }
        input[type="radio"]{
          &:checked + label{
            &:after{
              left: rem(21);
              top: rem(21);
              transform: none;
            }
          }
        }
      }
    }
  }
}