.add-files{
  width: 100%;
  display: flex;
  justify-content: space-between;
  >li{
    flex: 1 1 vw(130);
    margin-right: rem(10);
    height: vw(130);
    width: vw(130);
    &:nth-last-of-type(1){
      margin-right: 0;
    }
    label{
      display: block;
      height: 100%;

      input[type="file"]{
        font-size: 0;
        width: 0;
        height: 0;
        opacity: 0;
      }
      &.square-btn{
        position: relative;
        
        border: $border-default;
        background-color: $bg-default;
        &:before{
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include img-sprite;
          width: rem(22);
          height: rem(22);
          background-position: rem(-429) rem(-1431);
        }
      }
    }
  }
  .added-pic{
    .pic-wrap{
      position: relative;
      height: vw(130);
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .btn-pic-delete{
        position: absolute;
        display: inline-block;
        bottom: 0;
        right: 0;
        height: rem(40);
        width: rem(40);
        border: $border-default;
        background-color: $bg-default;
        &:before{
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include img-sprite;
          width: rem(16);
          height: rem(16);
          background-position: rem(-592) rem(-352);
        }
      }
    }
  }
}