section.all-menu{
  -webkit-overflow-scrolling: touch;
  &.active{
    display: block;
  }
  display: none;
  background-color: $bg-gray;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 10;
  .all-menu-gnb, .header{
    @include container-pad-wide-type;
    @include flex-prefix-suffix;
    background-color: $bg-all-menu;
    color: #ffffff;
    .slots{
      @include flex-align-item-center;
      >li{
        margin-left: rem(40);
        &:nth-of-type(1){
          margin-left: 0;
        }
      }
    }
  }
  .all-menu-gnb{
    top: 0;
    height: $nav-height;
    .btn-alarm{
      &:before{
        background-position: rem(-136) rem(-1179);
      }
    }
    .icon-close{
      background-position: rem(-183) rem(-2130);
    }
  }
  .header{
    height: rem(180);
    .welcome-message{
      font-size: rem(30);
      font-weight: $bold;
    }
    
    > .prefix{
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .id{
        margin-top: rem(20);
        font-size: rem(24);
        color: lighten($bg-all-menu, 15%);
      }
    }
    > .suffix{
      .point-fill{
        font-size: rem(42);
        color: #ffffff;
        &:before{
          margin-right: rem(20);
          border-radius: 50%;
          border: rem(2) solid #ffffff;
          $md: 1.4;
          width: rem(30*$md);
          height: rem(30*$md);
          background-position: rem(-103*$md) rem(-23*$md);
          background-size: rem(750*$md);
        }
      }
    }

  }

  .my-level{
    @include container-pad-wide-type;
    @include flex-prefix-suffix;
    padding-top: $template-pad-top;
    padding-bottom: $template-pad-top;
    background-color: darken($bg-all-menu, 2%);
    color: #ffffff;
    > .prefix{
      .info-text{
        font-size: rem(26);
        color: lighten($bg-all-menu, 15%);
        font-weight: $semi-bold;
        .level{
          color: #f9e34e;
          font-weight: $bold;
        }
      }
    }
    > .suffix{
      .btn-link{
        color: #ffffff;
      }
    }
  }
  .before-login{
    &.header{
      display: block;
    }
    &.my-level{
      background-color: #ffffff;
      .prefix{
        .btn-link{
          color: $fc-gray;
        }
      }
      .suffix{
        .btn-link{
          color: $fc-default;
        }
      }
    }
    width: 100%;
    text-align: center;
    .welcome-message{
      margin-bottom: rem(20);
      font-size: rem(26);
      color: darken(#ffffff, 20%);
      font-weight: $normal;
      span{
        color: #ffffff;
        font-weight: $bold;
      }
    }
    .btn{
      height: rem(80);
      font-size: rem(26);
      background-color: transparent;
    }
  }
  .all-menu-list{
    // background-color: $bg-default;
    overflow: hidden;
    
    .template{
      @include container-pad-wide-type;
      padding-top: rem(60);
      padding-bottom: rem(60);
      margin-top: rem(10);
      background-color: #ffffff;
      h4{
        margin: 0 0 rem(40);
        font-size: rem(34);
        font-weight: $bold;
        color: $fc-default;
      }
      >ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: rem(80);
        >li{
          a{
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            font-size: rem(30);
            [class*="menu-icon-"]{
              flex: 0 0 rem(50);
            }
          }
        }
      }
      >.link-arrow{
        display: flex;
        align-items: center;
        >span{
          flex: 1 1 auto;
          font-size: rem(34);
          font-weight: $bold;
          color: $primary;
        }
      }
    }
  }
  
}

