.border-list{
  >ul{
    li{
      border-top: $border-default;
      &:nth-of-type(1){
       border-top: 0;       
      }
    }
  }
  &.table-type{
    >ul{
      > li{
        //1depth
        display: flex;
        align-items: center;
        padding-top: rem(20);
        padding-bottom: rem(20);
        padding-left: rem(10);
        padding-right: rem(10);
        .label, .data{
          flex: 1 1 auto;
        }
        ul{
          >li{
            //2depth
            padding-top: rem(15);
            padding-bottom: rem(15);
            padding-left: rem(10);
            padding-right: rem(10);
            &:nth-of-type(1){
              padding-top: 0;
            }
            &:nth-last-of-type(1){
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}