.btn{
  word-break: keep-all;
  cursor: pointer;
  &.btn-default{
    @include button-default;
    background-color: $primary;
    border-radius: $btn-radius;
    &.btn-primary{
      background-color: $btn-primary-color;
    }
    &.btn-secondary{
      background-color: $btn-secondary-color;
    }
    &.btn-gray{
      background-color: $gray;
    }
    &.btn-disabled{
      background-color: $btn-disabled-color;
    }
    &.sm{
      display: inline-flex;
      width: auto;
      height: rem(55);
      padding: 0 rem(15);
      font-size: rem(26);
    }
  }
  &.btn-round{
    @include button-default;
    border-radius: rem(50);
    background-color: $primary;
    &.btn-border{
      background-color: #ffffff;
      color: $fc-gray;
    }
    &.sm{
      display: inline-flex;
      width: auto;
      height: rem(55);
      padding: 0 rem(15);
      font-size: rem(26);
    }
    &.btn-filter-default{
      background-color: $bg-default;
      color: $fc-default;
      width: 100%;
      &.active{
        background-color: $gray;
        color: #ffffff;
      }
    }
    &.btn-white{
      background-color: #ffffff;
      color: $fc-gray;
    }
    &.btn-gray{
      background-color: $gray;
    }
  }
  &.btn-border{
    @include button-default;
    border: $border-default;
    border-radius: $btn-radius;
    background-color: #ffffff;
    &.btn-primary{
      background-color: #ffffff;
      color: $btn-primary-color;
      border-color: $btn-primary-color;
    }
    &.btn-secondary{
      background-color: #ffffff;
      color: $btn-secondary-color;
      border-color: $btn-secondary-color;
    }
    &.btn-gray{
      background-color: #ffffff;
      color: $gray;
    }
    &.btn-darkgray{
      background-color: #ffffff;
      color: $fc-default;
      // border: rem(2) solid $fc-default;
    }
    &.btn-round{
      border-radius: rem(50);
    }
    &.sm{
      display: inline-flex;
      width: auto;
      height: rem(55);
      padding: 0 rem(15);
      font-size: rem(26);
    }
  }
  &.btn-wide{
    @include button-default;
    height: $btn-footer-fixed-height;
    font-size: rem(38);
    &.btn-gray{
      background-color: $gray;
    }
    &.btn-primary{
      background-color: $primary;
    }
    &.btn-secondary{
      background-color: $secondary;
    }
    
  }
  &.btn-primary{
    background-color: $btn-primary-color;
  }
  &.btn-secondary{
    background-color: $btn-secondary-color;
  }
  &.btn-default{
    background-color: $btn-default-color;
  }
  &.btn-disabled{
    background-color: $btn-disabled-color;
  }
  &.btn-login{
    background-color: $btn-login-color;
  }
  
}
.btn-group{
  display: flex;
  justify-content: space-between;
  padding-top: rem(20);
  margin-top: rem(20);
  .btn{
    margin-right: rem(20);
    &:nth-last-of-type(1){
      margin-right: 0;
    }
    &.sm{
      margin-right: rem(10);
    }
  }
}

.btn-link{
  color: $fc-gray;
  font-size: rem(26);
  font-weight: $semi-bold;
  &.btn-primary{
    background-color: transparent;
    color: $primary;
  }
  &.btn-secondary{
    background-color: transparent;
    color: $secondary;
  }
  &.btn-gray{
    background-color: transparent;
    color: $gray;
  }
  &.btn-disabled{
    background-color: transparent;
    color: $btn-disabled-color;
  }
  &.link-arrow{
    display: flex;
    align-items: center;
    &:after{
      margin-left: rem(10);
    }
  }
}
.btn-more{
  display: block;
  width: 100%;
  padding: rem(20);
  color: $fc-default;
  text-align: center;
}