.calendar-wrap {
  position: fixed;
  z-index: 100;
  left:0;
  top:0;
  background:rgba(0,0,0,0.6);
  width:100%;
  height:100%;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1;
}
.calendar {
  position: absolute;
  width:86%;
  max-width:750px;
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background:#fff;
  border-radius: 8px;
  overflow:hidden;
  text-align: center;
  > .head{
    background: #a298ff;
    line-height:45px;
    color:#fff;
    font-weight: 700;
    font-size:1.23rem;
    letter-spacing: -0.025em;
    position: relative;
    .btn-prev, .btn-next {
      position: absolute;
      margin-top:-7px;
      width:10px;
      height:14px;
      background-size:contain;
      background-repeat: no-repeat;
    }
    .btn-prev{
      left:15px;
      top:50%;
      background-image: url(../images/icon_prev.png);
    }
    .btn-next {
      right:15px;
      top:50%;
      background-image: url(../images/icon_next.png);
    }
  }
  .contentsFordtpicker {
    padding:rem(30) rem(30) rem(24);
  }
  table {
    border-collapse: collapse;
    table-layout: fixed;
    th {
      font-size:1rem;
      font-weight: 500;
      color:#555555;
      background:#f0f0f0;
      border:1px solid #dddddd;
      line-height:32px;
    }
    td {
      border:1px solid #dddddd;
      a {
        text-decoration: none;
        display: block;
        letter-spacing: -0.05em;
        font-size:1rem;			
        line-height:32px;
        color:#333333;
        &.on {
          color:#fff;
          background:$primary;
        }
        &.ui-state-hover{
          color:#fff;
          background:lighten($primary, 20%);
        }
      }
    }
    .sun{
      a{
        span{
          color: $coral-red;
        }
      }
    }
    .sat{
      a{
        span{
          color: $sky-blue;
        }
      }
    }
  }
  .time-wrap {
    display : flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: rem(20);
    padding-top: rem(20);
    > div{
      position: relative;
      display: flex;
      flex: 0 1 calc(50% - #{rem(10)});
      border: $border-default;
      height: rem(80);
      border-radius: $input-border-radius;
      background-color: #ffffff;
      &:after{
        content: '';
        display: inline-block;
        position: absolute;
        right: $input-pad-default;
        top: 50%;
        transform: translateY(-50%);
        @include img-sprite;
        width: rem(34);
        height: rem(18);
        background-position: rem(-183) rem(-351);
      }
      select{
        @include appearance-none;
        border: 0;
        width: 100%;
        height: 100%;
        padding: $input-pad-default;
        text-align:center;
        background-color: transparent;
        &::-ms-expand { 
          display:none; 
        }
      }
    }
  }
  .datepickcompleteBtn {
    @include button-default;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    background: #ffafdc;
  }
}