.donut-chart-wrap{
  >ul{
    display: flex;
    justify-content: space-around;
    >li{
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      .label-wrap{
        position: relative;
        .label{
          position: absolute;
          top: calc(50% + #{rem(10)});
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          .text{
            font-size: rem(36);
            color: $fc-default;
          }
        }
      }
      .data-value{
        text-align: center;
        .percentage{
          font-size: rem(40);
        }
        .total{
          font-weight: $normal;
        }
        &.men{
          .percentage{
            color: $sky-blue;
          }
        }
        &.women{
          .percentage{
            color: $coral-red;
          }
        }
      }
    }
  }
}