.checkbox-wrap{
  input[type="checkbox"]{
    @include hidden-checkbox;
  }
  label{
    display: flex;
    position: relative;
    align-items: center;
    padding: rem(15) 0;
    // justify-content: flex-start;
    span{
      padding-left: rem(20);
      padding-top: rem(3);
      color: $fc-default;
    }
    &:before{
      content: '';
      display: inline-block;
      flex: 0 0 rem(50);
      width: rem(50);
      height: rem(50);
      border: $border-default;
      border-radius: $vote-checkbox-radius;
    }
    
  }
  input[type="checkbox"]:checked + label{
    &:after{
      content: '';
      display: inline-block;
      position: absolute;
      left: rem(8);
      top: rem(20);
      width: rem(40);
      height: rem(40);
      @include img-sprite;
      background-position: rem(-20) rem(-178);
    }
  }
}