@charset 'utf-8';
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html, body, textarea{
  width: 100%;
  font-size: 16px;
  // font-family: 'Noto Sans KR', sans-serif;
  font-family: 'NanumSquare', sans-serif;
  @media screen and (max-width: 375px ) {
    font-size: 14px;
  }
}

.theme-facebook{
  color: $theme-facebook;
}

.check_msg{
  color: $coral-red;
}