.comment{
  .comment-input-wrap{
    @include container-pad-wide-type;
    padding-top: $template-pad-top;
    padding-bottom: $template-pad-top;
    .header{
      display: flex;
      align-items: center;
      h4{
        font-size: rem(32);
        font-weight: $normal;
      }
      .sub-text{
        font-size: rem(26);
        margin-left: rem(10);
        em{
          color: $secondary;
        }
      }
    }
    .comment-input-group{
      display: flex;
      height: rem(160);
      .input-wrap, .btn{
        flex: 1 1 auto;
        height: auto;
      }
      .btn{
        
        flex: 0 0 rem(120);
        margin-left: rem(10);
      }
    }
    .byte{
      margin-top: rem(5);
      font-size: rem(26);
      color: $fc-gray;
      span{
        color: $fc-default;
      }
    }
    .comment-footer{
      @include flex-prefix-suffix;
      margin-top: rem(10);
      .btn-group{
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
  .comment-list{
    >ul{
      >li{
        .template{
          display: flex;
          border-top: $bg-gray-border;
          box-shadow: none;
          .img-wrap{
            flex: 0 0 rem(80);
            &.avatar{
              width: rem(80);
              height: rem(80);
            }
          }
          .comment-body{
            flex: 1 1 auto;
            margin-left: rem(20);
            .writer-info{
              padding-top: rem(6);
              padding-bottom: rem(6);
              .nickname{
                font-size: rem(32);
                font-weight: $bold;
              }
              .created-at{
                font-size: rem(26);
                color: $fc-gray;
                font-weight: $light;
              }
            }
            .comment-text{
              margin-top: rem(20);
              color: $fc-default-light;
            }
            .footer{
              display: flex;
              align-items: center;
              margin-top: rem(40);
              .prefix, .suffix{
                flex: 1 1 auto;
                a{
                  color: $secondary;
                  font-size: rem(26);
                }
              }
              .suffix{
                display: flex;
                justify-content: flex-end;
              }
            }
          }
        }
      }
    }
    
  }
}