.template{
  &.completed-item{
    padding-top: 0;
    padding-bottom: 0;
    .template-body{
      padding-left: $template-pad-side;
      padding-right: $template-pad-side;
      .item{
        display: flex;
        .img-wrap{
          flex: 0 0 vw(160);
          @include img-round-frame;
          border-radius: rem(20);
          
          width: vw(160);
          height: vw(160);
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .vote-title{
          flex: 1 1 auto;
          color: $fc-default;
          margin-left: rem(20);
        }
      }
    }
    .template-footer{
      padding-left: $template-pad-side;
      padding-right: $template-pad-side;
    }
  }
}