.calendar_event {
  background: url(../images/bg_calendar.png) no-repeat;
  background-size: rem(750);
  height: 142.66667vw;
  margin: 0 0vw;
  text-align: center;
  padding: 6.66667vw 0;
  padding-top: 39.33334vw;
}

.calendar_event > dl > dt { 
  display: inline-block;
  height: 8.8vw;
  line-height: 8.8vw;
  padding: 0 7.33333vw;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
  color: #fff;
  background: #504f70;
  font-size: 3.73333vw;
  font-weight: 700;
}

.calendar_event > dl > dd { 
  padding: 3.33333vw 0 5.33333vw 0;
  color: #555;
  font-size: 3.73333vw;
  letter-spacing: -0.5px;
  line-height: 1.6;
  border-bottom: 0.26667vw solid #e1e1e1;
}

.calendar_event > dl > dd strong { 
  color: #333;
  font-weight: 700;
  font-size: 4.53333vw;
}

.calendar_event .now_num { 
  height: 13.33333vw;
  line-height: 13.33333vw;
  font-size: 4.26667vw;
  font-weight: 700;
  color: #3d85e8;
}

.calendar_event .now_num em { 
  color: #ff529d;
}

/* .calendar_event .calendar_box { 
margin-top: 8vw;
padding: 0 10.53333vw;
} */
.calendar_event .calendar_box {
  margin-top: 5vw;
  padding: 0 8.53333vw;
}

.calendar_event .calendar_box .month { 
  font-size: 4vw;
  padding-bottom: 4vw;
  font-weight: 700;
  height: 10.66667vw;
  line-height: 10.66667vw;
  margin-bottom: 4.66667vw;
}

.calendar_event .calendar_box table { 
  width: 100%;
}

.calendar_event .calendar_box table thead th { 
  color: #555;
  font-size: 3.2vw;
  font-family: Arial;
  font-weight: bold;
}

.calendar_event .calendar_box table thead th:first-child { 
  color: #ff529d;
}

.calendar_event .calendar_box table thead th:last-child { 
  color: #69b8ff;
}

.calendar_event .calendar_box table tbody td { 
  padding: 0.66667vw 0;
}

.calendar_event .calendar_box table tbody td:first-child em { 
  color: #ff529d;
}

.calendar_event .calendar_box table tbody td:last-child em { 
  color: #3d85e8;
}

.calendar_event .calendar_box table tbody span,
.calendar_event .calendar_box table tbody a,
.calendar_event .calendar_box table tbody em { 
  display: inline-block;
  width: 8.26667vw;
  height: 8.26667vw;
  line-height: 8.26667vw;
  font-size: 3.73333vw;
  border-radius: 4.13333vw;
  -webkit-border-radius: 4.13333vw;
  -moz-border-radius: 4.13333vw;
  -ms-border-radius: 4.13333vw;
  -o-border-radius: 4.13333vw;
  font-weight: 500;
}

.calendar_event .calendar_box table tbody span { 
  background: #d9d9d9;
  color: #fff;
}

.calendar_event .calendar_box table tbody span.on { 
  color: #fff;
  background: #ff529d;
  font-size: 0;
  position: relative;
}

.calendar_event .calendar_box table tbody span.on:after { 
content: '';
  display: block;
  position: absolute;
  @include img-sprite;
  background-position: rem(-344) rem(-1428);
  width: rem(34);
  height: rem(26);
  position: absolute;
  top: vw(20);
  left: vw(16);
}

.calendar_event .calendar_box table tbody em { 
  color: #333;
  background: #eeeeee;
}

.calendar_event .calendar_box table tbody a.today { 
  color: #fff;
  background: #ff529d;
  line-height: 7.73333vw;
}

.calendar_event .calendar_box table tbody a.today.on { 
  border: 0;
  font-size: 0;
  position: relative;
}

.calendar_event .calendar_box table tbody a.today.on:after { 
content: '';
  display: block;
  position: absolute;
  @include img-sprite;
  background-position: rem(-344) rem(-1428);
  width: rem(34);
  height: rem(26);
  position: absolute;
  top: vw(20);
  left: vw(16);
}

.event_foot dl { 
  padding-top: 6.66667vw;
  position: relative;
}

.event_foot dl dt { 
  font-size: 2.93333vw;
  font-weight: 500;
  height: 5.6vw;
  line-height: 5.6vw;
  border: 0.26667vw solid #999999;
  padding: 0 3.33333vw;
  border-radius: 2.4vw;
  -webkit-border-radius: 2.4vw;
  -moz-border-radius: 2.4vw;
  -ms-border-radius: 2.4vw;
  -o-border-radius: 2.4vw;
  display: inline-block;
}

.event_foot dl dd ul { 
  padding-top: 2vw;
}

.event_foot dl dd ul li { 
  font-size: 3.2vw;
  line-height: 5.33333vw;
  color: #777;
  padding: 0 2vw;
  font-weight: 300;
  position: relative;
}

.event_foot dl dd ul li:before { 
  content: '';
  position: absolute;
  width: 0.53333vw;
  height: 0.53333vw;
  border-radius: 0.26667vw;
  -webkit-border-radius: 0.26667vw;
  -moz-border-radius: 0.26667vw;
  -ms-border-radius: 0.26667vw;
  -o-border-radius: 0.26667vw;
  background: #777777;
  top: 2.26667vw;
  left: 0;
}

