.event{
  background-color: $bg-gray;
  .event-list{
    >li{
      .template{
        h3{
          &.title{
            margin-top: rem(20);
            margin-bottom: rem(20);
          }
        }
        .date{
          color: $fc-gray;
          font-size: rem(28);
        }
        .img-wrap{
          display: flex;
          position: relative;
          width: 100%;
          height: vw(380);
          border-radius: rem(20);
          overflow: hidden;
          margin-top: rem(20);
          margin-bottom: rem(20);
          .tag{
            position: absolute;
            top: rem(20);
            left: rem(20);
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            &.closed{
              opacity: .25;
            }
          }
        }
      }
    }
  }
  .event-view{
    .template-header{
      border-bottom: $border-default;
      padding-bottom: rem(20);
      h3{
        &.title{
          margin-top: rem(20);
          margin-bottom: rem(20);
        }
      }
      .date{
        color: $fc-gray;
        font-size: rem(28);
      }
    }
    .template-body{
      article{
        font-size: rem(26);
        border: $border-default;
        color: $fc-default;
        font-weight: $normal;
        padding: rem(32);
        margin-bottom: rem(50);
      }
      a{
        img{
          width: 100%;
        }
      }
      .lookup-winner{
        position: relative;
        background-repeat: no-repeat;
        background-image: url(../images/bg_winner.png);
        background-size: contain;
        background-position: center;
        height: vw(915);
        h4{
          position: absolute;
          top: vw(280);
          left: 0;
          right: 0;
          @include ellipsis;
          display: -webkit-box;
          white-space: unset;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          // width: vw(500);
          height: vw(110);
          margin-left: rem(50);
          margin-right: rem(50);
          margin-bottom: vw(20);
          border-bottom: rem(2) solid #ffffff;
          text-align: center;
          line-height: 1.4;
          font-size: vw(40);
          font-weight: $bold;
          color: #ffffff;
        }
        .btn{
          position: absolute;
          bottom: 0;
        }
        fieldset{
          legend{
            font-size: 0;
            opacity: 0;
          }
          .input-box{
            position: absolute;
            top: vw(500);
            left: 50%;
            transform: translateX(-50%);
            width: vw(340);
            height: vw(80);
            margin: 0 auto;
            input{
              width: 100%;
              height: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}