.faq{
  .filter{
    >ul{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(20) rem(50);
      >li{
        .btn-filter-default{
          height: rem(70);
          &.active{
            background-color: $fc-primary;
          }
        }
      }
    }
  }
  .faq-list{
    border-top: $border-default;
    >ul{
      >li{
        .title{
          >a{
            display: flex;
            width: 100%;
            &.template{
              box-shadow: none;
              border-bottom: $border-default;
            }
            .prefix, .center, .suffix{
              display: flex;
              align-items: center;
            }
            .prefix{
              flex: 0 0 rem(50);
            }
            .center{
              flex: 1 1 auto;
              padding-left: rem(20);
              padding-right: rem(20);
            }
            .suffix{
              flex: 0 0 rem(60);
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
            .avatar{
              display: flex;
              justify-content: center;
              align-items: center;              
            }
            .item-title{
              font-size: rem(30);
              font-weight: $bold;
            }
          }
        }
        .detail{
          display: none;
          border-bottom: $border-default;
          color: $fc-default-light;
          font-size: rem(28);
          .template{
            box-shadow: none;
          }
        }
      }
    }
  }
}