footer.company-info{
  text-align: center;
  background-color: $bg-footer;
  font-size: rem(22);
  font-weight: $bold;
  color: $color-footer;
  .foot-menu{
    @include container-pad-wide-type;
    padding-bottom: rem(50);
    >ul{
      display: flex;
      justify-content: space-around;
      padding-top: rem(70);
      padding-bottom: rem(30);
      margin-bottom: rem(50);
      border-bottom: rem(2) solid $color-footer;
      li{
        a{
          font-size: rem(26);
          color: #ffffff;
        }
      }
    }
    .icon-logo{
      filter: brightness(0) invert(1);
      opacity: .3;
    }
    .tag.tag-default{
      font-size: rem(26);
      height: rem(80);
      padding-left: rem(30);
      padding-right: rem(30);
      border-radius: rem(50);
      color: #ffffff;
      border-color: $color-footer;
      .icon-accordion-arrow{
        $sm: 0.8;
        margin-left: rem(10);
        width: rem(34*$sm);
        height: rem(18*$sm);
        background-position: rem(-183*$sm) rem(-351*$sm);
        background-size: rem(750*$sm);
      }
    }
  }
  .detail-info{
    display: none;
    padding-left: rem(100);
    padding-right: rem(100);
    padding-top: rem(50);
    padding-bottom: rem(50);
    background-color: $primary;
    color: lighten($color-footer, 10%);
    font-size: rem(26);
    >ul{
      >li{
        display: flex;
        margin-bottom: rem(10);
        line-height: 1.4;
        >span{
          text-align: left;
          &.label{
            flex: 0 0 rem(200);
          }
          flex: 1 1 auto;
        }
        
      }
    }
  }
}