.form-group{
  &.block-type{
    >li{
      margin-bottom: rem(30);
      .label{
        font-size: rem(30);
        color: $fc-default;
        padding-top: rem(10);
        padding-bottom: rem(10);
      }
    }
  }
}