.heypollmall{
  .static-banner{
    a{
      display: block;
      img{
        width: 100%;
      }
    }
  }
  .header{
    @include flex-prefix-suffix;
    padding-left: $main-pad-side;
    padding-right: $main-pad-side;
    .title{
      display: inline-block;
      font-size: rem(44);
      font-weight: $bold;
      color: $fc-default;
      [class*="text-img-"]{
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        height: rem(44);
        vertical-align: text-top;
        background-position: bottom;
      }
      .text-img-mall{
        background-image: url(../images/text_img_mall.png);
        height: rem(44);
        width: rem(82);
      }
    }
  }
  .heypoll-mall{
    padding-top: $main-container-gap-top;
    padding-bottom: $main-container-gap-top;
    .template{
      box-shadow: none;
    }
    
    .best-list{
      >ul{
        display: flex;
        flex-wrap: wrap;
        >li{
          flex: 0 1 calc(50% - #{rem(15)});
          margin-right: rem(30);
          &:nth-of-type(even){
            margin-right: 0;
          }
          .item-wrap{
            &.card{
              >a{
                display: flex;
                height: 100%;
                width: 100%;
                flex-direction: column;
                .img-wrap{
                  display: inline-block;
                  flex: 0 0 vw(250);
                  height: vw(250);
                  overflow: hidden;
                  img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                .card-body{
                  display: flex;
                  flex-direction: column;
                  padding: rem(20) 0;
                  .title{
                    @include ellipsis-multi;
                    font-size: rem(28);
                    font-weight: $bold;
                    color: $fc-default-light;
                  }
                  .item-info{
                    @include flex-prefix-suffix;
                    margin-top: rem(20);
                    .price{
                      font-size: rem(26);
                      color: $fc-default;
                      font-weight: $bold;
                    }
                    .price-to-point{
                      margin-left: rem(5);
                      font-size: rem(26);
                      color: $primary;
                      font-weight: $bold;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .popuplar-products-list{
      margin-top: rem(40);
      >ul{
        >li{
          display: block;
          margin-bottom: rem(40);
          .item-wrap{
            width: 100%;
            
            .img-wrap{
              position: relative;
              width: 100%;
  
              img{
                width: 100%;
              }
            }
            .item-info{
              @include flex-prefix-suffix;
              margin-top: rem(15);
              color: $fc-default-light;
              font-size: rem(25);
              .icon-price-point{
                margin-right: rem(5);
              }
              span{
                font-weight: $bold;
              }
            }
          }
        }
      }
    }
  }
}