[class*="icon-"]{
  @include img-sprite;
  display: inline-block;
}
[class*="menu-icon-"]{
  @include menu-icons;
  display: inline-block;
}
.icon-share{
  width: rem(30);
  height: rem(31);
  background-position: rem(-345) rem(-184);
}
.icon-share-lg{
  width: rem(35);
  height: rem(38);
  background-position: rem(-342) rem(-101);
}
.icon-logo{
  width: rem(147);
  height: rem(29);
  background-image: url(../images/logo_heypoll_full.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-all-menu{
  &:before{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(30);
    height: rem(34);
    background-position: rem(-271) rem(-2428);
  }
}
.btn-home{
  &:before{
    content:'';
    display: inline-block;
    @include img-sprite;
    width: rem(36);
    height: rem(35);
    background-position: rem(-268) rem(-2393);
  }
}
.btn-img-fileupload{
  &:before{
    content:'';
    display: inline-block;
    @include img-sprite;
    width: rem(62);
    height: rem(50);
    background-position: rem(-679) rem(-1815);
  }
}
.btn-url{
  &:before{
    content:'';
    display: inline-block;
    @include img-sprite;
    width: rem(62);
    height: rem(50);
    background-position: rem(-599) rem(-1815);
  }
}

.vote-num{
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10);
    @include img-sprite;
    width: rem(28);
    height: rem(28);
    background-position: rem(-186) rem(-425);
  }
}

.btn-like{
  color: $fc-gray-light;
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10);
    @include img-sprite;
    width: rem(34);
    height: rem(28);
    background-position: rem(-423) rem(-425);
  }
  &.on{
    &:before{
      background-position: rem(-343) rem(-425);
    }
  }
}
.comment-num{
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10);
    @include img-sprite;
    width: rem(34);
    height: rem(28);
    background-position: rem(-263) rem(-425);
  }
}
.btn-question-delete{
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10);
    @include img-sprite;
    width: rem(26);
    height: rem(26);
    background-position: rem(-507) rem(-347);
  }
}
.btn-delete{
  &:before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include img-sprite;
    width: rem(16);
    height: rem(16);
    background-position: rem(-592) rem(-352);
  }
}
.btn-report{
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10);
    @include img-sprite;
    width: rem(28);
    height: rem(30);
    background-position: rem(-506) rem(-105);
  }
}
.btn-preview{
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10);
    @include img-sprite;
    width: rem(22);
    height: rem(24);
    background-position: rem(-539) rem(-1828);
  }
}
.btn-search{
  $btn-search-lg: 1.4; 
  &:before{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(22*$btn-search-lg);
    height: rem(24*$btn-search-lg);
    background-position: rem(-498*$btn-search-lg) rem(-1828*$btn-search-lg);
    background-size: rem(750*$btn-search-lg);
  }
}
.btn-add-question{
  &:before{
    content: '';
    display: inline-block;
    margin-right: rem(10);
    @include img-sprite;
    width: rem(24);
    height: rem(22);
    background-position: rem(-428) rem(-349);
  }
}
.btn-policy{
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(10);
    @include img-sprite;
    width: rem(32);
    height: rem(31);
    background-position: rem(-23) rem(-1023);
  }
}
.btn-info-tooltip{
  &:before{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(32);
    height: rem(32);
    background-position: rem(-584) rem(-1184);
  }
}

.btn-alarm{
  position: relative;
  &:before{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(35);
    height: rem(42);
    background-position: rem(-102) rem(-1179);
  }
  .new{
    display: inline-block;
    position: absolute;
    width: rem(14);
    height: rem(14);
    top: 10%;
    right: 5%;
    background-color: $secondary;
    border-radius: 50%;
    border: rem(2) solid #ffffff;
  }
}
.btn-mypage{
  &:before{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(36);
    height: rem(34);
    background-position: rem(-358) rem(-2428);
  }
}


.has-arrow{
  &:after{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(9);
    height: rem(12);
    margin: 0 rem(10);
    background-position: rem(-35) rem(-1274);
  }
}
.link-arrow{
  &:after{
    content: '';
    display: inline-block;
    @include img-sprite;
    width: rem(14);
    height: rem(23);
    // margin: 0 rem(10);
    background-position: rem(-673) rem(-1109);
  }
}

.point{
  display: flex;
  align-items: center;
  &:before{
    content: '';
    display: inline-block;
    width: rem(30);
    height: rem(30);
    margin-right: rem(10);
    @include img-sprite;
    background-position: rem(-106) rem(-186);
  }
  &.white-type{
    &:before{
      content:'';
      background-position: rem(-535) rem(-1905);
    }
  }
}
.point-fill{
  display: inline-flex;
  align-items: center;
  &:before{
    content: '';
    @include img-sprite;
    display: inline-block;
    width: rem(30);
    height: rem(30);
    margin-right: rem(10);
    margin-top: rem(-3);
    background-position: rem(-103) rem(-23);
  }
  &.white-type{
    &:before{
      background-position: rem(-103) rem(-53);
    }
  }
}
.point-menu-gift{
  &:before{
    content: '';
    display: inline-block;
    width: rem(68);
    height: rem(70);
    @include img-sprite;
    background-position: rem(-405) rem(-1245);
    vertical-align: middle;
  }
}
.point-menu-change{
  &:before{
    content: '';
    display: inline-block;
    width: rem(61);
    height: rem(70);
    @include img-sprite;
    background-position: rem(-646) rem(-1245);
    vertical-align: middle;
  }
}
.point-menu-store{
  &:before{
    content: '';
    display: inline-block;
    width: rem(58);
    height: rem(70);
    @include img-sprite;
    background-position: rem(-571) rem(-1245);
    vertical-align: middle;
  }
}

.icon-men{
  width: rem(38);
  height: rem(71);
  background-position: rem(-71) rem(-512);
}
.icon-women{
  width: rem(38);
  height: rem(71);
  background-position: rem(-252) rem(-512);
}

.icon-naver{
  width: rem(50);
  height: rem(50);
  background-position: rem(-15) rem(-95);
}
.icon-kakao{
  width: rem(50);
  height: rem(50);
  background-position: rem(-95) rem(-95);
}
.icon-facebook{
  width: rem(50);
  height: rem(50);
  background-position: rem(-175) rem(-95);
}

.icon-naver-square{
  width: rem(50);
  height: rem(50);
  background-position: rem(-15) rem(-1415);
}
.icon-kakao-square{
  width: rem(50);
  height: rem(50);
  background-position: rem(-95) rem(-1415);
}
.icon-facebook-square{
  width: rem(50);
  height: rem(50);
  background-position: rem(-175) rem(-1415);
}
.icon-close{
  width: rem(33);
  height: rem(33);
  background-position: rem(-183) rem(-2163);
}
.icon-find-id-result{
  width: rem(150);
  height: rem(126);
  background-position: rem(-0) rem(-257);
}
.icon-setting{
  width: rem(42);
  height: rem(42);
  background-position: rem(-19) rem(-1179);
}
.icon-level{
  background-image: url(../images/sp_icon_level3.png);
  background-size: rem(200) rem(1000);
  width: rem(123);
  height: rem(123);
  &.level-s{
    background-position: rem(-38) rem(-40);
  }
  &.level-b{
    background-position: rem(-38) rem(-240);
  }
  &.level-c{
    background-position: rem(-38) rem(-440);
  }
  &.level-w{
    background-position: rem(-38) rem(-640);
  }
  &.level-small{
    $sm : 0.35;
    background-size: rem(200*$sm) rem(1000*$sm);
    width: rem(123*$sm);
    height: rem(123*$sm);
    &.level-s{
      background-position: rem(-38*$sm) rem(-40*$sm);
    }
    &.level-b{
      background-position: rem(-38*$sm) rem(-240*$sm);
    }
    &.level-c{
      background-position: rem(-38*$sm) rem(-440*$sm);
    }
    &.level-w{
      background-position: rem(-38*$sm) rem(-640*$sm);
    }
  }
}
.icon-prev{
  width: rem(30);
  height: rem(50);
  background-position: rem(-264) rem(-95);
}
.icon-home{
  width: rem(42);
  height: rem(38);
  background-position: rem(-419) rem(-261);
}
.icon-alram-set{
  width: rem(44);
  height: rem(40);
  background-position: rem(-629) rem(-2163);
}
.icon-alram-type{
  width: rem(80);
  height: rem(80);
  background-position: rem(-660) rem(-710);
}
.icon-check-doc{
  width: rem(140);
  height: rem(140);
  background-position: rem(-380) rem(-500);
}
.icon-gift{
  width: rem(116);
  height: rem(116);
  background-position: rem(-634) rem(-1352);
}
.icon-exchange{
  width: rem(116);
  height: rem(116);
  background-position: rem(-634) rem(-2214);
}
.icon-happypoint{
  width: rem(230);
  height: rem(100);
  background-position: rem(-35) rem(-2240);
}
.icon-okcashbag{
  width: rem(131);
  height: rem(112);
  background-position: rem(-35) rem(-2350);
}
.icon-heypoll-point-card{
  width: rem(229);
  height: rem(140);
  background-position: rem(-521) rem(-1500);
}
.icon-okcashbag-point-card{
  width: rem(229);
  height: rem(140);
  background-position: rem(-521) rem(-1640);
}
.icon-happy-point-card{
  width: rem(229);
  height: rem(140);
  background-position: rem(-521) rem(-2351);
}
.icon-arrow-lg{
  width: rem(21);
  height: rem(36);
  background-position: rem(-28) rem(-1339);
}
.icon-drink{
  width: rem(70);
  height: rem(70);
  background-position: rem(-86) rem(-1326);
}
.icon-convenience{
  width: rem(70);
  height: rem(70);
  background-position: rem(-165) rem(-1326);
}
.icon-donut{
  width: rem(70);
  height: rem(70);
  background-position: rem(-245) rem(-1326);
}
.icon-giftcard{
  width: rem(70);
  height: rem(70);
  background-position: rem(-324) rem(-1326);
}
.icon-accordion-arrow{
  width: rem(34);
  height: rem(18);
  background-position: rem(-183) rem(-351);
}
.on{
  .icon-accordion-arrow{
    background-position: rem(-264) rem(-351);
  }
}
.icon-answer{
  width: rem(16);
  height: rem(16);
  background-position: rem(-352) rem(-272);
}
.icon-male{
  width: rem(290);
  height: rem(293);
  background-position: rem(0) rem(-707);
}
.icon-female{
  width: rem(290);
  height: rem(293);
  background-position: rem(-328) rem(-707);
}
.icon-payment{
  width: rem(210);
  height: rem(210);
  background-position: rem(-180) rem(-1790);
}
.icon-question{
  width: rem(50);
  height: rem(50);
  background-position: rem(-335) rem(-335);
}
.icon-share-kakao{
  width: rem(80);
  height: rem(80);
  background-position: rem(-659) rem(-10);
}
.icon-share-story{
  width: rem(80);
  height: rem(80);
  background-position: rem(-659) rem(-110);
}
.icon-share-facebook{
  width: rem(80);
  height: rem(80);
  background-position: rem(-659) rem(-210);
}
.icon-share-twitter{
  width: rem(80);
  height: rem(80);
  background-position: rem(-659) rem(-310);
}
.icon-share-url{
  width: rem(80);
  height: rem(80);
  background-position: rem(-659) rem(-410);
}
$multi: 1;
.icon-slide-prev{
  width: rem(8*$multi);
  height: rem(12*$multi);
  background-position: rem(-335*$multi) rem(-2266*$multi);
  background-size: rem(750*$multi);
}
.icon-slide-next{
  width: rem(8*$multi);
  height: rem(12*$multi);
  background-position: rem(-335*$multi) rem(-2278*$multi);
  background-size: rem(750*$multi);
}

.icon-people{
  width: rem(36);
  height: rem(22);
  background-position: rem(-412) rem(-2440);
}
.icon-won{
  width: rem(32);
  height: rem(29);
  background-position: rem(-386) rem(-2266);
}
.icon-price-point{
  width: rem(32);
  height: rem(32);
  background-position: rem(-422) rem(-2266);
}
.menu-icon-vote-now{
  height: rem(40);
  width: rem(40);
  background-position: 0 0;
}
.menu-icon-vote-interest{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-50);
}
.menu-icon-vote-complete{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-100);
}
.menu-icon-qeustion{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-150);
}
.menu-icon-survey-to-me{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-200);
}
.menu-icon-products{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-250);
}
.menu-icon-point-history{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-300);
}
.menu-icon-gifty-shop{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-350);
}

.menu-icon-change-point{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-400);
}
.menu-icon-accumulate-mission{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-450);
}
.menu-icon-event-now{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-500);
}
.menu-icon-notice-winner{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-550);
}
.menu-icon-notice{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-600);
}
.menu-icon-faq{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-650);
}
.menu-icon-news{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-700);
}
.menu-icon-policy-service{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-750);
}
.menu-icon-question{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-800);
}
.menu-icon-policy-private{
  height: rem(40);
  width: rem(40);
  background-position: 0 rem(-850);
}

.quick-menu-icon{
  display: inline-block;
  background-image: url(../images/quick-menu.png);
  background-repeat: no-repeat;
  background-size: rem(44);
  width: rem(44);
  height: rem(44);
  &.point-mall{
    background-position: 0 rem(0);
  }
  &.point-change{
    background-position: 0 rem(-50);
  }
  &.point-save{
    background-position: 0 rem(-100);
  }
  &.point-question{
    background-position: 0 rem(-150);
  }
}