input[type="text"],
input[type="number"],
input[type="password"],
input[type="tel"],
select,
textarea{
  @include appearance-none;
  border: 0;
  color: $fc-default;
  font-size: rem(26);
  font-weight: $normal;
  &::placeholder{
    color: $fc-gray-light;
  }
}

.input-wrap, .select-wrap{
  border: $input-border;
  border-radius: $input-border-radius;
  background-color: #ffffff;
  height: $input-height-default;
  &.textarea-wrap{
    height: $textarea-height-default;
  }
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  select,
  textarea{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: $input-pad-default;
    font-size: rem(26);
    font-weight: $normal;
  }
  &.has-btn{
    display: flex;
    .btn{
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 0 rem(100);
      padding-right: $input-pad-default;
      padding-left: $input-pad-default;
      white-space: nowrap;
    }
  }
  &.has-unit{
    display: flex;
    .unit{
      display: flex;
      flex: 1 0 rem(50);
      align-items: center;
      justify-content: center;

    }
  }
}
.select-wrap{
  position: relative;
  select{
    background-color: transparent;
  }
  &:after{
    content: '';
    display: inline-block;
    position: absolute;
    right: $input-pad-default;
    top: 50%;
    transform: translateY(-50%);
    @include img-sprite;
    width: rem(34);
    height: rem(18);
    background-position: rem(-183) rem(-351);
  }
}
.input-group{
  display: flex;
  .input-wrap{
    flex: 1 1 auto;
    height: auto;
  }
  .btn{
    flex: 0 0 rem(120);
    margin-left: rem(10);
  }
}
.input-group-inline{
  >ul{
    display: flex;
    li{
      flex: 1 1 auto;
      margin-right: rem(20);
      &:nth-last-of-type(1){
        margin-right: 0;
      }
    }
  }
}
.textarea-wrap{
  & ~ .byte{
    margin-top: rem(20);
    font-size: rem(26);
    color: $fc-gray;
    text-align: right;
    
    >span{
      color: $fc-default;
    }
  }
}