.container{
  background-color: $bg-white;
  overflow: hidden;
  &.bg-gray{
    background-color: $bg-gray;
    &.full-cover{
      min-height: 100%;
    }
  }
  .template{
    background-color: #ffffff;
    padding-top: $template-pad-top;
    padding-bottom: $template-pad-top;
    box-shadow: $template-shadow;
    &.bg-gray{
      background-color: $bg-default;
    }
    &.bg-white{
      background-color: #ffffff;
    }
    &.wide-type{
      @include container-pad-wide-type;
    }
    &.tight-type{
      @include container-pad-tight-type;
      border-radius: $template-white-border-radius;
      margin-top: $template-margin-top;
      margin-bottom: $template-margin-top;
    }
    &.normal-type{
      @include container-pad-normal-type;
      border-radius: $template-white-border-radius;
      margin-top: $template-margin-top;
      margin-bottom: $template-margin-top;
      &.completed-item{
        margin-top: rem(20);
        margin-bottom: rem(20);
      }
    }
    &.round-type{
      border-radius: rem(30);
      overflow: hidden;
    }
    .template-header{
      .summary{
        display: flex;
        
        .prefix, .suffix{
          display: flex;
          flex: 1 1 auto;
          align-items: center;
        }
        .suffix{
          display: flex;
          justify-content: flex-end;
        }
        .point{
          font-weight: $bold;
          font-size: rem(30);
          color: $fc-primary;
        }
        .q-info{
          font-size: rem(22);
          margin-left: rem(10);
          margin-right: rem(10);
        }
      }
      h3.title{
        color: $fc-default;
        font-weight: $bold;
        font-size: rem(38);
        .emphas{
          color: $fc-primary;
        }
      }
      .title-h4{
        display: flex;
        align-items: center;
        &.border-bottom{
          border-bottom: $bg-gray-border;
        }
        h4{
          font-size: rem(38);
          font-weight: $bold;
          color: $fc-default;
          margin-bottom: rem(30);
        }
        .sub-text{
          display: flex;
          flex: 1 1 auto;
          justify-content: flex-end;
          font-size: rem(24);
          font-weight: $normal;
          color: $fc-gray;
        }
      }
    }
    .template-body{
      padding-top: rem(30);
      padding-bottom: rem(30);
      font-size: rem(28);
      font-weight: $semi-bold;
      color: $fc-gray;
      line-height: $content-line-height-default;
      .img-wrap{
        img{
          width: 100%;
        }
      }
    }
    .template-footer{
      display: flex;
      border-top: $bg-gray-border;
      padding-top: rem(20);
      padding-bottom: rem(20);
      
      .prefix, .suffix{
        display: flex;
        align-items: center;
        >ul{
          display: flex;
          li{
            span, a{
              margin-right: rem(20);
              color: $fc-gray-light;
              font-size: rem(30);
            }
            &:nth-last-child(1){
              span, a{
                margin-right: 0;
              }
            }
          }
        }
      }
      .suffix{
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
      }
    }
    .notice-sentence{
      font-size: rem(24);
      color: $fc-gray-light;
      .emphas{
        color: $secondary;
      }
    }
    .vote-info{
      display: flex;
      border-top: $bg-gray-border;
      border-bottom: $bg-gray-border;
      padding-top: rem(20);
      padding-bottom: rem(20);
      font-weight: $normal;
      .preriod{
        flex: 1 1 auto;
        text-align: right;
      }
    }
    .target-info{
      padding-top: rem(20);
      padding-bottom: rem(20);
      >ul{
        >li{
          display: inline-block;
          border-right: rem(2) solid $fc-gray-light;
          padding-left: rem(10);
          padding-right: rem(20);
          &:nth-last-child(1){
            border-right: 0;
          }
          >span{
            font-size: rem(24);
          }
          .tag{
            border-radius: rem(30);
          }
        }
      }
    }
  }
}
.metropolis{
  @include metropolis;
  &.has-footer{
    @include metropolis-has-fixed-footer;
  }
}
.fixed-footer{
  @include fixed-footer;
  display: flex;
  .btn{
    flex: 1 1 50%;
    border-radius: 0;
  }
}
.bg-gray{
  background-color: $bg-gray;
}
.flex-wrap{
  display: flex;
  width: 100%;
  .justify-end{
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
  }
}

.no-result{
  display: flex;
  height: vh(500);
  border-bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: $bold;
  color: $fc-default-light;
  >[class*="icon-"]{
    margin-bottom: rem(20);
  }
}