.level-step{
  .gnb{
    display: block;
    padding: 0;
    z-index:0;
    .level-list{
      display: flex;
      >li{
        position: relative;
        flex: 1 1 25%;
        text-align: center;
        font-size: rem(30);
        height: rem(95);
        line-height: rem(95);
        color:$fc-gray;
        font-weight: $medium-bold;
        cursor: pointer;
        &:first-child{
          &.active{
            color: $fc-welcome;
          }
        }
        &:nth-child(2){
          &.active{
            color:$fc-close;
          }
        }
        &:nth-child(3){
          &.active{
            color:$fc-best;
          }
        }
        &:last-child{
          &.active{
            color:$fc-soul;
          }
          &:after{
            display:none;
          }
        }
        &:after{
          content: '';
          position: absolute;
          right: 0;
          top: rem(8);
          display: inline-block;
          width: rem(28);
          height: rem(89);
          @include img-sprite;
          background-position: rem(-686) rem(-808);
        }
        >a{
          display: block;
        }
      }
    }
  }
}

@for $levelbg from 1 through 4{
  .bg-level-0#{$levelbg}{
    background-image: url("../images/bg_level_con#{$levelbg}.png");
  }
}
.section-rating{
  .rating-head{
    text-align: center;
    padding-top:$template-rating-pad;
    padding-bottom:$template-rating-pad;
    .user-name{
      font-weight: $bold;
    }
    .now-rating{
      font-size: rem(40);
    }
    >p{
      font-weight: $medium-bold;
      >span{
        &.welcom{
          color: $fc-welcome;
        }
        &.close{
          color: $fc-close;
        }
        &.best{
          color:$fc-best;
        }
        &.soul{
          color: $fc-soul;
        }
      }
    }
  }
  .template{
    display: flex;
    flex-direction: column;
    padding-right: vw(34);
    padding-left: vw(34);
    box-shadow: none;
    h3{
      position: relative;
      font-size: rem(32);
      padding-left: rem(50);
      padding-bottom:rem(40);
      border-bottom: $border-default;
      color:#555;
      &.crown{
        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: rem(12);
          width: rem(30);
          height: rem(21);
          @include img-sprite;
          background-position: rem(-185) rem(-1269);
        }
      }
      &.graph{
        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: rem(12);
          width: rem(29);
          height: rem(26);
          @include img-sprite;
          background-position: rem(-265) rem(-1267);
        }
      }
      span{
        &.welcome{
          color: $fc-welcome;
        }
        &.primary-text{
          color: $primary;
        }
        &.close{
          color: $fc-close;
        }
        &.best{
          color: $fc-best;
        }
        &.soul{
          color: $fc-soul;
        }
      }
    }
    >ul{
      border-bottom: $border-default;
      padding-bottom:rem(27);
      li{
        position: relative;
        font-size: rem(26);
        padding-left: rem(20);
        margin-bottom: rem(20);
        &:last-child{
          margin: 0;
        }
        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: rem(16);
          width: rem(4);
          height: rem(4);
          background-color: #767676;
        }
      }
    }
    >p{
      font-size: rem(26);
      padding-bottom:rem(27);
      border-bottom: $border-default;
      >em{
        color: $coral-red;
      }
      &:last-child{
        border: none;
      }
    }
    &.normal-type{
      margin-bottom: vw(40);
      margin-left: vw(60);
      margin-right: vw(60);
    };
    &.box-welcome-type{
      border: $border-welcome;
      border-radius: $user-rating-box-radius;
    }
    &.box-close-type{
      border: $border-close;
      border-radius: $user-rating-box-radius;
    }
    &.box-best-type{
      border: $border-best;
      border-radius: $user-rating-box-radius;
    }
    &.box-soul-type{
      border: $border-soul;
      border-radius: $user-rating-box-radius;
    }
  }
}