.loading{
  display: block;
  text-align: center;
  padding-top: rem(10);
  padding-bottom: rem(10);
  img{
    z-index: 6;
  }
  .dimmer{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.loader {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(#b996ff,#8572ff,#fd9fc3);
  animation: animate 1.2s linear infinite;
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#b996ff,#8572ff,#fd9fc3);
    // @for $c from 1 through 4 {
    //   &:nth-child(#{$c}) {
    //     filter: blur(#{$c*10}px);
    //   }
    // }
    &:nth-child(1) {
      filter: blur(5px);
    }
    
    &:nth-child(2) {
      filter: blur(10px);
    }
    
    &:nth-child(3) {
      filter: blur(25px);
    }
    
    &:nth-child(4) {
      filter: blur(50px);
    }
  }
  
  
  &:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    // background: #f1f1f1;
    border: solid white 10px;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
