.main{
  .container{
    .header{
      @include flex-prefix-suffix;
      padding-left: $main-pad-side;
      padding-right: $main-pad-side;
      .title{
        display: inline-block;
        font-size: rem(44);
        font-weight: $bold;
        color: $fc-default;
        [class*="text-img-"]{
          display: inline-block;
          background-repeat: no-repeat;
          background-size: contain;
          height: rem(44);
          vertical-align: text-top;
          background-position: bottom;
        }
        .text-img-play{
          background-image: url(../images/text_img_play.png);
          width: rem(102);
        }
        .text-img-pick{
          background-image: url(../images/text_img_pick.png);
          width: rem(90);
        }
        .text-img-mall{
          background-image: url(../images/text_img_mall.png);
          height: rem(44);
          width: rem(82);
        }
      }
      .slide-paging{
        position: absolute;
        right: calc(#{$main-pad-side} + #{rem(50)});
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(90);
        height: rem(50);
        color: lighten($fc-default, 70%);
        font-size: rem(28);
        z-index: 1;
        .now{
          color: $fc-default;
          font-weight: $bold;
        }
      }
      .btn-white{
        padding-left: rem(30);
        padding-right: rem(15);
        box-shadow: $thin-shadow;
      }
    }
    &.main-banner{
      position: relative;
      padding-bottom: rem(35);
      .banner-link{
        display: flex;
        height: vw(640);
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .owl-nav{
        position: absolute;
        bottom: rem(-25);
        right: rem(60);
        display: flex;
        width: rem(190);
        height: rem(50);
        border-radius: rem(30);
        background-color: rgba(121,61,255,.8);
        box-shadow: $template-shadow;
        .owl-next, .owl-prev{
          position: absolute;
          display: inline-block;
          width: rem(16);
          top: 50%;
          transform: translateY(-50%);
        }
        .owl-prev{
          left: rem(20);
        }
        .owl-next{
          right: rem(20);
        }
      }
      .slide-paging{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: rem(8);
        right: rem(110);
        width: rem(90);
        height: rem(50);
        color: rgba(255,255,255,0.5);
        font-size: rem(28);
        z-index: 1;
        .now{
          color: #ffffff;
          font-weight: $bold;
        }
      }
    }
    &.today-play{
      margin-top: $main-container-gap-top;
      margin-bottom: $main-container-gap-bottom;
      
      .owl-carousel{
        $multi: 1.5;
        .icon-slide-prev{
          background-position: rem(-326*$multi) rem(-2266*$multi);
          width: rem(8*$multi);
          height: rem(12*$multi);
          background-size: rem(750*$multi);
        }
        .icon-slide-next{
          background-position: rem(-326*$multi) rem(-2278*$multi);
          width: rem(8*$multi);
          height: rem(12*$multi);
          background-size: rem(750*$multi);
        }
        .owl-nav{
          position: absolute;
          top: rem(-90);
          right: $main-pad-side;
          display: flex;
          width: rem(190);
          height: rem(50);
          .owl-next, .owl-prev{
            position: absolute;
            display: inline-block;
            width: rem(16);
            top: 50%;
            transform: translateY(-50%);
          }
          .owl-prev{
            left: rem(20);
          }
          .owl-next{
            right: rem(20);
          }
        }
        .item{
          display: block;
          padding-left: $main-pad-side;
          padding-right: $main-pad-side;
          .item-header{
            .title{
              line-height: 1.6;
              font-size: rem(25);
              font-weight: $bold;
              @include ellipsis;
              .point-tag{
                margin-right: rem(10);
              }
            }
          }
          .item-body{
            @include flex-prefix-suffix;
            .prefix{
              flex: 0 0 vw(290);
              .img-wrap{
                position: relative;
                width: 100%;
                height: vw(200);
                border-radius: $gray-box-radius;
                overflow: hidden;
                &:before{
                  content:'';
                  display: inline-block;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: rem(40);
                  height: rem(57);
                  background-image: url(../images/icon_play.png);
                  background-repeat: no-repeat;
                  background-size: contain;
                }
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
            .suffix{
              flex-direction: column;
              justify-content: space-between;
              padding-left: rem(50);
              align-items: flex-start;
              .item-text{
                flex: 0 0 rem(170);
                height: rem(170);
                // max-height: rem(120);
                line-height: rem(35);
                @include ellipsis-multi;
                -webkit-line-clamp: 5;
              }
              .info{
                span{
                  vertical-align: middle;
                }
                em{
                  font-weight: $bold;
                }
              }
              .item-text, .info{
                color: $fc-default-light;
                font-size: rem(25);
              }
            }
          }
        }
      }
    }
    &.static-banner{
      a{
        img{
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    &.today-pick{
      padding-top: $main-container-gap-top;
      padding-bottom: $main-container-gap-top;
      .pick-list{
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        >ul{
          display: flex;
          padding-top: rem(40);
          padding-bottom: rem(20);
          >li{
            flex: 0 0 vw(400);
            width: vw(400);
            height: vw(500);
            margin-right: rem(30);
            &:nth-of-type(1){
              margin-left: $main-pad-side;
            }
            >a{
              height: 100%;
              &.item{
                position: relative;
                .pick-tag{
                  position: absolute;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  left: 0;
                  top: rem(-40);
                  width: rem(90);
                  height: rem(90);
                  border-radius: 50%;
                  background-color: rgba(255,138,204,0.8);
                  color: #ffffff;
                  font-weight: $bold;
                  font-size: rem(26);
                  z-index: 1;
                  img{
                    width: rem(50);
                  }
                }
                .card{
                  display: flex;
                  width: 100%;
                  height: 100%;
                  flex-direction: column;
                  overflow: hidden;
                  border-radius: $gray-box-radius;
                  box-shadow: $template-shadow;
                  
                  .img-wrap{
                    display: inline-block;
                    flex: 0 0 vw(250);
                    overflow: hidden;
                    img{
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .card-body{
                    display: flex;
                    flex-direction: column;
                    flex: 0 0 vw(250);
                    background-color: #ffffff;
                    padding: rem(40);
                    .nickname{
                      font-size: rem(22);
                      color: $fc-gray;
                    }
                    .title{
                      @include ellipsis-multi;
                      margin-top: rem(20);
                      font-size: rem(28);
                      font-weight: $bold;
                      color: $fc-default-light;
                    }
                    .item-info{
                      @include flex-prefix-suffix;
                      flex: 1 1 auto;
                      align-items: flex-end;
                      font-size: rem(22);
                      color: $fc-gray;
                      em{
                        color: $fc-default;
                        font-weight: $bold;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.today-vote{
      padding-top: $main-container-gap-top;
      padding-bottom: $main-container-gap-top;
      .today-vote-list{
        padding-left: $main-pad-side;
        padding-right: $main-pad-side;
        >ul{
          >li{
            margin-top: rem(50);
            &:nth-of-type(even){
              .item-wrap{
                >a{
                  flex-direction: row-reverse;
                  position: relative;
                  .suffix{
                    margin-left: 0;
                    margin-right: rem(40);
                  }
                }
                &:after{
                  top:rem(-30);
                  right: rem(-170);
                  left: unset;
                }
              }
            }
            .item-wrap{
              position: relative;
              &:after{
                content: '';
                display: inline-block;
                position: absolute;
                top:rem(-30);
                left: rem(-170);
                height: rem(250);
                width: rem(250);
                border-radius: 50%;
                background-color: #fff4c8;
                z-index: 0;
              }
              > a{
                @include flex-prefix-suffix;
                z-index: 2;
                .avatar{
                  height: rem(200);
                  width: rem(200);
                }
                .prefix{
                  flex: 0 0 rem(100);
                  z-index: 1;
                }
                .suffix{
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: center;
                  margin-left: rem(40);
                  z-index: 1;
                  .title{
                    @include ellipsis-multi;
                    margin-top: rem(20);
                    font-size: rem(28);
                    font-weight: $bold;
                    color: $fc-default-light;
                  }
                  .item-info{
                    margin-top: rem(20);
                    font-size: rem(22);
                    color: $fc-gray;
                    em{
                      color: $fc-default;
                      font-weight: $bold;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.survey-to-me{
      padding-top: $main-container-gap-top;
      padding-bottom: $main-container-gap-top;
      .survey-to-me-list{
        padding-left: $main-pad-side;
        padding-right: $main-pad-side;
        >ul{
          >li{
            .item-wrap{
              margin-bottom: rem(50);
              a{
                display: block;
                .img-wrap{
                  height: rem(250);
                  border-radius: $gray-box-radius;
                  overflow: hidden;
                  img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                .item-body{
                  display: flex;
                  align-items: center;
                  margin-top: rem(30);
                  .suffix{
                    margin-left: rem(30);
                    .catagory{
                      font-size: rem(24);
                      color: $fc-gray;
                    }
                    .title{
                      @include ellipsis-multi;
                      margin-top: rem(15);
                      font-size: rem(28);
                      font-weight: $bold;
                      color: $fc-default-light;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.heypoll-mall{
      padding-top: $main-container-gap-top;
      padding-bottom: $main-container-gap-top;
      .heypoll-mall-list{
        padding-left: $main-pad-side;
        padding-right: $main-pad-side;
        >ul{
          display: flex;
          >li{
            flex: 0 1 50%;
            margin-right: rem(30);
            &:nth-last-of-type(1){
              margin-right: 0;
            }
            .item-wrap{
              &.card{
                >a{
                  display: flex;
                  height: 100%;
                  width: 100%;
                  flex-direction: column;
                  .img-wrap{
                    display: inline-block;
                    flex: 0 0 vw(250);
                    height: vw(250);
                    overflow: hidden;
                    img{
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .card-body{
                    display: flex;
                    flex-direction: column;
                    padding: rem(20) 0;
                    .title{
                      @include ellipsis-multi;
                      font-size: rem(28);
                      font-weight: $bold;
                      color: $fc-default-light;
                    }
                    .item-info{
                      @include flex-prefix-suffix;
                      margin-top: rem(20);
                      .price{
                        font-size: rem(26);
                        color: $fc-default;
                        font-weight: $bold;
                      }
                      .price-to-point{
                        margin-left: rem(5);
                        font-size: rem(26);
                        color: $primary;
                        font-weight: $bold;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.today-mission{
      padding-top: $main-container-gap-top;
      padding-bottom: $main-container-gap-top;
      .mission-link{
        padding-left: $main-pad-side;
        padding-right: $main-pad-side;
        img{
          width: 100%;
        }
      }
    }

  }
}