[class*="message-"]{
  color: $fc-default;
  font-weight: $bold;
}
.align-c{
  text-align: center;
}
.align-r{
  text-align: right;
}
.justify-start{
  justify-content: flex-start;
}
.justify-center{
  justify-content: center;
}
.justify-end{
  justify-content: flex-end;
}
.fc-point{
  color: $coral-red;
}
.fc-primary{
  color: $fc-primary;
}
.fc-gray{
  color: $fc-gray;
}
.emphas{
  color: $secondary;
}
@for $m from 5 through 15 {
  .message-#{$m*2}{
    font-size: rem($m*2*2);
  }
}

.message-gray-box{
  background-color: $bg-default;
  border: $bg-gray-border;
}
