@charset 'utf-8';

@mixin display-flex{
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}
@mixin display-grid{
  display: grid;
  display: -ms-grid;
}

@mixin flex-prefix-suffix{
  @include display-flex;
  .prefix, .suffix{
    @include display-flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}

@mixin ellipsis {
  display: block;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin ellipsis-multi {
  display: -webkit-box;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap:break-word;
}


@mixin scroll-touch{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@mixin appearance-none{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@mixin sticky{
  position: sticky;
  position: -webkit-sticky;
}

@mixin fit-screen{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin container-pad {
}
@mixin flex-align-item-center{
  display: flex;
  align-items: center;
}
@mixin img-sprite{
  background-image: url(../images/sp_icon.png);
  background-repeat: no-repeat;
  background-size: rem(750);
}

@mixin hidden-checkbox{
  position: absolute;
  font-size: 0;
  width: 0;
  height: 0;
  left: 0;
  opacity: 0;
}

@mixin img-round-frame{
  display: flex;
  border-radius: rem(40);
  overflow: hidden;
}
@mixin button-default{
  display: flex;
  width: 100%;
  height: $btn-height-default;
  justify-content: center;
  align-items: center;
  font-size: rem(32);
  font-weight: $bold;
  color: #ffffff;
}
@mixin bordered-tag{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: rem(2) solid $fc-gray-light;
  color: $fc-gray-light;
  height: rem(48);
  padding-left: rem(20);
  padding-right: rem(20);
  // border-radius: rem(30);
  white-space: nowrap;
}

@mixin container-pad-wide-type{
  padding-left: calc(#{$template-pad-side} + #{$template-margin-side});
  padding-right: calc(#{$template-pad-side} + #{$template-margin-side});
}

@mixin container-pad-tight-type{
  padding-left: $template-pad-side;
  padding-right: $template-pad-side;
  margin-left: $template-margin-side;
  margin-right: $template-margin-side;
}

@mixin container-pad-normal-type{
  margin-left: calc(#{$template-pad-side} + #{$template-margin-side});
  margin-right: calc(#{$template-pad-side} + #{$template-margin-side});
}

@mixin has-fixed-nav{
  top: $nav-height;
}
@mixin has-fixed-footer{
  margin-bottom: $btn-footer-fixed-height;
}
@mixin fixed-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
@mixin metropolis-has-fixed-footer{
  display: flex;
  position: absolute;
  @include fit-screen;
  @include has-fixed-nav;
  bottom: $btn-footer-fixed-height;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
@mixin metropolis{
  display: flex;
  position: absolute;
  @include fit-screen;
  @include has-fixed-nav;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

@mixin menu-icons{
  background-image: url(../images/all_menu_icons.png);
  background-repeat: no-repeat;
  background-size: rem(50);
}