.modal{
  display: none;

  header {
    font-size: rem(36);
    color: #333;
    padding-top: rem(40);
    font-weight: 500;
  }
  
  section {
    padding: rem(35) rem(50) rem(45);
    font-weight: 300;
    color: #555;
    font-size: rem(28);
    .point {
      display: block;
      font-weight: 500;
      font-size: rem(28);
      padding-bottom: rem(10);
      em {
        color: #ff529d;
      }
    }
    
  }
  
  
  footer {
    border-top: $border-default;
    a {
      &.btn.btn-wide{
        height: rem(90);
        color: #ff8acc;
        font-size: rem(28);
      }
    }
    
    &.col2 {
      overflow: hidden;
      a, button {
        width: 50%;
        float: left;
      }
      
      a:last-child, button:last-child {
        color: #7c7c7c;
        border-left: rem(2) solid #d2d2d2;
      }
    }
    
  }
}
.modal {
  &.alert-popup, &.share-popup{
    text-align: center;
    padding: 0;
  }
  
  &.info_box{
    dt {
      font-size: rem(36);
      color: #ff529d;
      font-weight: 500;
      padding-bottom: 2.66667vw;
    }
  }
  .sns-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: rem(20);
    >li{
      >a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: rem(150);
        >span{
          margin-bottom: rem(20);
        }
      }
    }
  }
  a.close-modal{
    @include img-sprite;
    display: inline-block;
    width: rem(26);
    height: rem(26);
    background-position: rem(-267) rem(-27);
    top: rem(20);
    right: rem(20);
  }
}
.blocker{
  z-index: 10000;
}