.my-page{
  h3.title{
    display: flex;
    font-size: $fs-h3;
    font-weight: $bold;
    height: rem(100);
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    @include container-pad-wide-type;
    [class*="message-"]{
      color: $gray;
      margin-left: rem(20);
      font-weight: $normal;
    }
  }
  .user-header{
    color: $fc-default-light;
    font-size: rem(30);
    border-bottom: $border-header;
    .template{
      display: flex;
      .prefix, .center, .suffix{
        @include flex-align-item-center;
        flex: 1 1 auto;
      }
      .suffix{
        justify-content: flex-end;
      }
      .account{
        margin-left: rem(10);
      }
    }
  }
  .user-section{
    border-bottom: $border-default;
    .template{
      box-shadow: none;
      .now-level{
        display: flex;
        p{
          flex: 1 1 auto;
          font-size: rem(35);
          font-weight: $bold;
          line-height: 1.8;
          color: $fc-default;
          strong{
            &.welcome { color:#a3d80a}
            &.close { color:#7fe1ee}
            &.best { color:#ff6aaa}
            &.soul { color:#7a32d4}
          }
          .icon-level{
            margin-right: rem(10);
            vertical-align: middle;
          }
        }
        .add-pic-btn{
          
          margin-left: rem(20);
          label{
            display: block;
            position: relative;
            cursor: pointer;
            width: vw(150);
            height: vw(150);
            overflow: hidden;
            background-repeat: no-repeat;
            background-image: url(../images/bg_user_pic.png);
            background-size: cover;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
            }
            input{
              outline: 0;
              opacity: 0;
              pointer-events: none;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              position: absolute;
              left: -9999px;
            }
            &:after{
              content: '';
              display: block;
              position: absolute;
              right: 0;
              bottom: 0;
              width: vw(41);
              height: vw(41);
              @include img-sprite;
              background-size: vw(750);
              background-position: vw(-179) vw(-1179);
            }
          }
        }
      }
      .notice-message{
        display: inline-block;
        margin-top: rem(50);
        padding-bottom: rem(10);
        font-size: rem(26);
        color: $fc-gray;
        border-bottom: rem(2) solid lighten($fc-gray, 25%);
        em{
          color: $fc-default;
        }
      }
      .my-function{
        margin: rem(20) 0;
        >ul{
          >li{
            a{
              display: block;
              position: relative;
              width: 100%;
              padding: 0 rem(30);
              color: $fc-gray;
              &:before{
                content: '';
                display: inline-block;
                position: absolute;
                right: rem(30);
                top: rem(10);
                @include img-sprite;
                width: rem(22);
                height: rem(22);
                background-position: rem(-669) rem(-1189);
              }
              >strong{
                display: block;
              }
              >.title{
                font-size: rem(26);
                font-weight: $bold;
                text-align: left;
              }
              >strong{
                font-size: rem(32);
                text-align: right;
                margin-top: rem(20);
                color: $secondary;
                em{
                  font-size: rem(26);
                  color: $fc-gray;
                  margin-left: rem(5);
                }
              }
              .attemp-alarm{
                display: inline-block;
                right: 0;
                top:0;
                width: rem(12);
                height: rem(12);
                border-radius: 50%;
                background-color: $coral-red;
                vertical-align: text-top;
              }
            }
          }
        }
      }
    }
  }
  .user-point{
    @include container-pad-wide-type;
    padding-top: $template-pad-top;
    padding-bottom: $template-pad-top;
    border-bottom: $border-default;
    .header{
      display: flex;
      align-items: center;
      .prefix, .center, .suffix{
        @include flex-align-item-center;
        flex: 1 1 auto;
      }
      .suffix{
        justify-content: flex-end;
      }
      h3{
        color: $fc-default;
        font-size: rem(30);
        font-weight: $bold;
      }
      .point{
        color: $fc-default-light;
        font-size: rem(30);
        font-weight: $bold;
      }
    }
    >ul{
      display: flex;
      >li{
        flex: 0 0 calc(100%/3);
        text-align: center;
        a{
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: rem(28);
          font-weight: $bold;
          color: $fc-default-light;
          &[class*="point-menu-"]{
            &:before{
              margin-bottom: rem(15);
            }
          }
        }
      }
    }
  }
  .link-list{
    >ul{
      >li{
        border-bottom: $border-header;
        a{
          display: flex;
          width: 100%;
          align-items: center;
          font-size: rem(30);
          font-weight: $bold;
          color: $fc-default;
          padding-top: rem(50);
          padding-bottom: rem(50);
          &.template{
            box-shadow: none;
          }
          .label{
            color: $fc-gray;
            flex: 0 0 rem(150);
          }
          span{
            flex: 1 1 auto;
          }
          &[class*="sub-menu"]{
            &:before{
              content: '';
              display: inline-block;
              flex: 0 0 rem(30);
              height: rem(36);
              width: rem(36);
              margin-right: rem(20);
              background-image: url(../images/mypage_submenu_01.png);
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
          
          @for $sub from 1 through 9 {
            &.sub-menu0#{$sub}:before {
              background-image: url("../images/mypage_submenu_0#{$sub}.png");
            }
          }

          &:after{
            content: '';
            flex: 0 0 rem(14);
            display: flex;
            justify-content: flex-end;
            margin-left: rem(20);
          }
          .justify-end{
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
  .toggle-list{
    >ul{
      >li{
        border-bottom: $border-default;
        font-size: rem(30);
        font-weight: $bold;
        color: $fc-default-light;
        &.template{
          box-shadow: none;
        }
        
      }
    }
    .flex-wrap{
      >ul{
        display: flex;
        align-items: center;
        width: 100%;
        >li{
          flex: 1 1 auto;
          &.justify-end{
            display: flex;
            justify-content: flex-end;
          }
          &.label-icon{
            display: flex;
            align-items: center;
            color: $fc-gray;
            flex: 0 0 rem(50);
            margin-right: rem(20);
          }
        }
      }
    }
  }
  .checkbox-list{
    >ul{
      >li{
        border-bottom: $border-default;
        font-size: rem(30);
        font-weight: $bold;
        color: $fc-default-light;
        &.template{
          box-shadow: none;
        }
        .checkbox-wrap{
          label{
            span{
              padding-left: 0;
              color: $fc-default-light;
              font-weight: $normal;
            }
            &:before{
              position: absolute;
              right: 0;
            }
            &:after{
              left: unset;
              right: rem(6);
              top: rem(14);
            }
          }
        }
      }
    }
  }
  .my-alram-header{
    @include container-pad-wide-type;
    display: flex;
    .prefix, .suffix{
      @include flex-align-item-center;
      flex: 1 1 auto;
    }
    .suffix{
      justify-content: flex-end;
      flex: 0 1 45%;
      .partition-link-group{
        width: 100%;
        margin: rem(40) 0;
        a{
          color: $fc-default;
        }
      }
    }
  }
  .my-alram-list{
    border-bottom: $border-default;
    >ul{
      >li{
        .template{
          display: flex;
          border-top: $bg-gray-border;
          box-shadow: none;
          .img-wrap{
            &.avatar{
              flex: 0 0 rem(80);
              width: rem(80);
              height: rem(80);
            }
          }
          .alram-item-body{
            flex: 1 1 auto;
            margin-left: rem(40);
            .alram-title{
              font-weight: $bold;
              font-size: rem(30);
            }
            .alarm-text{
              margin-top: rem(20);
              color: $fc-default-light;
              font-size: rem(26);
              line-height: 1.6;
            }
            .alarm-created-at{
              margin-top: rem(20);
              color: $fc-gray-light;
              font-size: rem(28);
              font-weight: $bold;
            }
          }
        }
        &.type01{
          .icon-alram-type{
            background-position: rem(-660) rem(-710);
          }
        }
        &.type02{
          .icon-alram-type{
            background-position: rem(-660) rem(-610);
          }
        }
      }
    }
  }
  .my-set{
    .toggle-list{
      >ul{
        >li{
          border-bottom: $border-header;
          &:nth-last-of-type(1){
            border-bottom: 0;
          }
        }
      }
    }
    .link-list{
      >ul{
        >li{
          border-bottom: $border-header;
          &:nth-last-of-type(1){
            border-bottom: 0;
          }
          a{
            padding-top: $template-pad-top;
            padding-bottom: $template-pad-top;
          }
          &.text-item{
            .label{
              font-size: rem(30);
              font-weight: $bold;
              color: $fc-default;
            }
          }
        }
      }
    }
  }
  .confirm-password,
  .change-nickname,
  .change-phonenumber,
  .present-point{
    @include fit-screen;
    @include has-fixed-nav;
    @include has-fixed-footer;
    position: absolute;
    top: rem(100);
    .template{
      box-shadow: none;
    }
    .confirm-password-input,
    .change-nickname-input,
    .change-phonenumber-input{
      padding-top: $template-pad-top;
      padding-bottom: $template-pad-top;
      @include container-pad-wide-type;
    }
    .fall-back{
      margin-top: rem(100);
    }
    .verify-number{
      border-top: $border-default;
      padding-top: rem(40);
      margin-top: rem(40);
    }
  }

  .recommend-code{
    @include container-pad-wide-type;
    padding-top: $template-pad-top;
    padding-bottom: $template-pad-top;
  }
  .delete-account{
    .logout{
      .template{
        margin: $template-pad-top 0;
        border-top: $border-default;
        border-bottom: $border-default;
        span{
          font-size: rem(26);
          color: $fc-gray;
          &.label{
            font-size: $fs-h3;
            font-weight: $bold;
            color:  $fc-default;
          }
        }
      }
    }
  }
  .my-profile{
    margin-top: rem(50);
    .add-pic-btn{
      label{
        display: block;
        position: relative;
        margin: 0 auto;
        cursor: pointer;
        width: vw(150);
        height: vw(150);
        overflow: hidden;
        background-repeat: no-repeat;
        background-image: url(../images/bg_user_pic.png);
        background-size: cover;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
        input{
          outline: 0;
          opacity: 0;
          pointer-events: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          position: absolute;
          left: -9999px;
        }
        &:after{
          content: '';
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          width: vw(41);
          height: vw(41);
          @include img-sprite;
          background-size: vw(750);
          background-position: vw(-179) vw(-1179);
        }
      }
    }
    strong{
      &.welcome { color:#a3d80a}
      &.close { color:#7fe1ee}
      &.best { color:#ff6aaa}
      &.soul { color:#7a32d4}
    }
    .user-level{
      margin: rem(50) 0;
      >div{
        margin-bottom: rem(10);
      }
    }
    .template{
      box-shadow: none;
    }
  }
  .my-recommend{
    .template{
      box-shadow: none;
    }
    .recommend-code{
      padding-top: rem(80);
      padding-bottom: rem(80);
      border-top: $border-default;
      border-bottom: $border-default;
    }
    .notice{
      padding-top: rem(50);
      .tag{
        font-size: rem(26);
      }
      >ul{
        margin-top: rem(20);
        color: $fc-gray;
        line-height: 1.8;
        font-weight: $normal;
        >li{
          position: relative;
          padding-left: rem(20);
          &:before{
            content: '';
            position: absolute;
            left: 0;
            top: rem(20);
            width: rem(4);
            height: rem(4);
            border-radius: 50%;
            background: $fc-gray;
          }
        }
      }
    }
  }
  .interest-set{
    @include has-fixed-footer;
    .template{
      box-shadow: none;
    }
  }
  .change-id,
  .change-password{
    @include has-fixed-footer;
    .template{
      box-shadow: none;
    }
    .change-id-input,.change-password-input{
      @include container-pad-wide-type;
      padding-top: rem(80);
      padding-bottom: rem(80);
      border-top: $border-default;
      border-bottom: $border-default;
      >ul{
        >li{
          margin-bottom: rem(20);
        }
      }
    }
    .notice{
      padding-top: rem(50);
      .template-header{
        border-top: $border-default;
        padding-bottom: rem(30);
      }
      .tag{
        font-size: rem(26);
      }
      >ul{
        margin-top: rem(20);
        color: $fc-gray;
        line-height: 1.8;
        font-weight: $normal;
        >li{
          position: relative;
          padding-left: rem(20);
          &:before{
            content: '';
            position: absolute;
            left: 0;
            top: rem(20);
            width: rem(4);
            height: rem(4);
            border-radius: 50%;
            background: $fc-gray;
          }
        }
      }
    }
  }
  .my-certification{
    @include has-fixed-footer;
    .template{
      box-shadow: none;
    }
    .agree-terms{
      padding-bottom: $template-pad-top;
      .terms-content{
        @include container-pad-normal-type;
        @include scroll-touch;
        border: $border-default;
        background-color: #ffffff;
        padding: rem(20);
        height: vw(500);
        overflow-y: auto;
        font-size: rem(28);
        color: $fc-default-light;
        h3{
          font-size: rem(28);
        }
        table{
          &.table{
            width: 100%;
            th, td{
              border: 1px solid #8d8e92;
              padding-left: rem(10);
              padding-right: rem(10);
            }
            .tablebgdg{
              background-color: #dedfe2;
            }
            .tabletitle{
              text-align: center;
              color: #616364;
              font-weight: bold;
              padding: 6px;
            }
            
          }
        }
      }
      
    }
    .checkbox-wrap{
      label{
        font-size: rem(30);
        font-weight: $bold;
        color: $fc-default-light;
        align-items: flex-start;
      }
    }
  }
  .my-point{
    .template{
      &.summary{
        padding:0;
        .template-header,
        .template-body{
          padding-left: $template-pad-side;
          padding-right: $template-pad-side;
          padding-top: $template-pad-top;
          padding-bottom: $template-pad-top;
        }
        .template-header{
          display: flex;
          background-color: $primary;
          color: #ffffff;
          font-size: rem(34);
          font-weight: $bold;
          padding-left: rem(50);
          padding-right: rem(50);
          .prefix, .suffix{
            flex: 1 1 auto;
            align-items: center;
          }
          .suffix{
            display: flex;
            justify-content: flex-end;
          }
        }
        .template-body{
          >ul{
            display: flex;
            >li{
              flex: 0 0 calc(100%/3);
              text-align: center;
              a{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: rem(28);
                font-weight: $bold;
                color: $fc-default-light;
                &[class*="point-menu-"]{
                  &:before{
                    margin-bottom: rem(15);
                  }
                }
              }
            }
          }
        }

      }
    }
    .filter{
      >ul{
        padding: rem(30) rem(50);
      }
    }
    .point-list{
      >ul{
        border-top: $border-default;
        >li{
          border-bottom: $border-default;
          display: flex;
          .point-info{
            flex: 1 1 auto;
            .title{
              font-size: rem(30);
              color: $fc-default;
              line-height: 1.4;
              .detail-info{
                color: $secondary;
                font-weight: $bold;
              }
            }
            .created-at{
              font-size: rem(28);
              color: $fc-gray;
              padding-top: rem(20);
            }
          }
          .point-score{
            flex: 1 0 rem(100);
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            font-size: rem(28);
            .point-num{
              font-weight: $bold;
            }
            .action{
              color: $fc-gray;
            }
          }
          &.template{
            box-shadow: none;
          }
        }
      }
    }
  }
  .present-point{
    width: 100%;
    margin-top: rem(50);
    .template{
      box-shadow: none;
      .header-message{
        text-align: center;
        margin-bottom: rem(50);
      }
      > .template{
        padding-top: rem(50);
        padding-bottom: rem(50);
      }
      .choice-type{
        padding-bottom: rem(30);
      }
    }
    .point-status{
      display: flex;
      .prefix, .suffix{
        flex: 1 1 auto;
        display: flex;
        align-items: center;
      }
      .suffix{
        justify-content: flex-end;
      }
      .label{
        font-size: $fs-h3;
        font-weight: $bold;
      }
      .point{
        color: $primary;
        font-size: rem(32);
        font-weight: $bold;
      }
    }
    .present-point-input{
      @include container-pad-wide-type;
      padding-top: rem(80);
      padding-bottom: rem(80);
      .input-wrap{
        &.has-unit{
          .unit{
            flex: 1 0 rem(80);
            font-size: rem(28);
            font-weight: $bold;
          }
        }
      }
      
    }
  }
  .exchange-point{
    width: 100%;
    margin-top: rem(50);
    .template{
      box-shadow: none;
      .header-message{
        text-align: center;
        margin-bottom: rem(50);
      }
      .choice-exchange-partner{
        >ul{
          >li{
            margin: rem(20) 0;
            > .template{
              display: flex;
              align-items: center;
              height: rem(250);
              .choice-type{
                flex: 1 1 auto;
              }
              .brand-logo{
                flex: 0 1 40%;
                display: flex;
                justify-content: center;
              }
            }
            
          }
        }
      }
    }
    .point-status{
      display: flex;
      .label{
        font-size: $fs-h3;
        font-weight: $bold;
        align-items: center;
      }
      .point{
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: flex-end;
        color: $primary;
        font-size: rem(32);
        font-weight: $bold;
      }
    }
  }
  .exchange-happypoint{
    @include has-fixed-footer;
    .template{
      box-shadow: none;
    }
    .summary{
      padding-top: rem(50);
      padding-bottom: rem(50);
      border-top: $border-default;
      border-bottom: $border-default;
      >ul{
        display: flex;
        >li{
          flex: 1 1 auto;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .exchange-point-dashboard{
      margin-top: rem(50);
      .template{
        @include container-pad-wide-type;
        .total, .detail-list{
          display: flex;
          align-items: center;
          .label{
            flex: 1 0 auto;
            display: flex;
            align-items: center;
            font-size: rem(30);
            font-weight: $bold;
            .btn-info-tooltip{
              display: inline-flex;
              margin-left: rem(10);
            }
          }
          .value{
            flex: 0 0 50%;
            display: flex;
            justify-content: flex-end;
            font-size: rem(30);
            font-weight: $bold;
          }
        }
        .total{
          height: rem(100);
          margin-bottom: rem(20);
          border-bottom: $border-dotted;
        }
        .detail-list{
          >ul{
            width: 100%;
            >li{
              display: flex;
              height: rem(80);
              align-items: center;
              margin-bottom: rem(20);
              width: 100%;
              &:nth-last-of-type(1){
                margin-bottom: 0;
              }
              .value{
                &.has-unit{
                  display: flex;
                  span{
                    flex: 1 1 auto;
                    text-align: right;
                    &.unit{
                      flex: 0 0 rem(50);
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                  }
                  &.input-wrap{
                    input{
                      padding-right: 0;
                    }
                  }
                }
                &.input-wrap{
                  height: 100%;
                  input{
                    text-align: right;
                  }
                }
  
              }
            }
          }
        }
      }
      .notice{
        @include container-pad-wide-type;
        padding-top: rem(50);
        padding-bottom: rem(50);
        >ul{
          margin-top: rem(20);
          color: $fc-gray;
          line-height: 1.8;
          font-weight: $normal;
          >li{
            position: relative;
            padding-left: rem(20);
            &:before{
              content: '';
              position: absolute;
              left: 0;
              top: rem(20);
              width: rem(4);
              height: rem(4);
              border-radius: 50%;
              background: $fc-gray;
            }
          }
        }
      }
    }
    .exchange-agree-terms{
      padding-bottom: $template-pad-top;
      h3.title{
        padding-left: 0;
        padding-right: 0;
      }
      .terms-content{
        @include container-pad-wide-type;
        @include scroll-touch;
        border: $border-default;
        background-color: #ffffff;
        padding: rem(20);
        height: vw(500);
        overflow-y: auto;
        font-size: rem(28);
        color: $fc-default-light;
        h3{
          font-size: rem(28);
        }
        table{
          &.table{
            width: 100%;
            th, td{
              border: 1px solid #8d8e92;
              padding-left: rem(10);
              padding-right: rem(10);
            }
            .tablebgdg{
              background-color: #dedfe2;
            }
            .tabletitle{
              text-align: center;
              color: #616364;
              font-weight: bold;
              padding: 6px;
            }
            
          }
        }
      }
      
    }
    .checkbox-wrap{
      label{
        font-size: rem(30);
        font-weight: $bold;
        color: $fc-default-light;
        align-items: flex-start;
      }
    }
  }
  .my-store{
    width: 100%;
    // margin-top: rem(50);
    @include has-fixed-footer;
    .template{
      box-shadow: none;
      .header-message{
        text-align: center;
        margin-bottom: rem(50);
      }
      > .template{
        padding-top: rem(50);
        padding-bottom: rem(50);
      }
      .choice-type{
        padding-bottom: rem(30);
      }
    }
    .point-status{
      display: flex;
      background-color: $primary;
      color: #ffffff;
      font-size: rem(32);
      font-weight: $bold;
      .prefix, .suffix{
        flex: 1 1 auto;
        display: flex;
        align-items: center;
      }
      .suffix{
        justify-content: flex-end;
      }
      .label{
        font-size: $fs-h3;
        font-weight: $bold;
      }
      .point{
        font-size: rem(32);
        font-weight: $bold;
      }
    }
    .catagory-link{
      margin-top: rem(20);
      padding-top: rem(50);
      padding-bottom: rem(50);
      border-bottom: $border-default;
      >ul{
        display: flex;
        >li{
          flex: 1 1 auto;
          display: flex;
          justify-content: center;
          a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img-wrap{
              background-color: $gray-light;
              border-radius: 50%;
              &.avatar{
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 0 0 auto;
                width: rem(110);
                height: rem(110);
              }
            }
            .name{
              margin-top: rem(10);
              font-size: rem(24);
              font-weight: $semi-bold;
              color: $fc-default;
              text-align-last: center;
            }
            &.on{
              .img-wrap{
                background-color: $secondary;
              }
            }
          }
        }
      }
    }
    
    .store-item-lists{
      >ul{
        >li{
          border-bottom: $border-default;
          a{
            display: block;
            .template{
              display: flex;
              align-items: center;
              .img-wrap{
                flex: 0 0 rem(120);
                width: rem(120);
                height: rem(120);
                margin-right: rem(20);
                img{
                  width: 100%;
                  object-fit: contain;
                }
              }
              .store-item-body{
                flex: 1 1 auto;
                .title{
                  font-size: rem(28);
                  color: $fc-default;
                  margin-bottom: rem(10);
                }
                .store-info{
                  font-size: rem(24);
                  font-weight: $semi-bold;
                  color: $fc-gray;
                }
              }
              .cost{
                display: flex;
                justify-content: flex-end;
                font-size: rem(28);
                font-weight: $bold;
                color: $fc-default;
                margin-left: rem(10);
              }
            }
          }
        }
      }
    }
    .buy-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: rem(50);
      .store-item-body{
        @include flex-prefix-suffix;
        width: calc(100% - #{$template-pad-side} - #{$template-pad-side});
        border-top: $border-default;
        align-items: flex-end;
        padding-top: rem(40);
        padding-bottom: rem(40);
        .prefix{
          flex-direction: column;
          align-items: flex-start;
          .store-info{
            color: $fc-gray;
            font-size: rem(28);
          }
          .title{
            color: $fc-default;
            font-size: rem(32);
            font-weight: $semi-bold;
            margin-top: rem(10);
          }
        }
        .suffix{
          .point-fill{
            color: $fc-primary;
            font-size: rem(32);
            font-weight: $bold;
          }
        }
      }
    }
  }
  .my-giftyshow-lists{
    >ul{
      >li{
        border-bottom: $border-default;
        a{
          display: block;
          position: relative;
          .template{
            display: flex;
            align-items: center;
            box-shadow: none;
            .img-wrap{
              flex: 0 0 rem(120);
              width: rem(120);
              height: rem(120);
              margin-right: rem(20);
              img{
                width: 100%;
                object-fit: contain;
              }
            }
            .giftyshow-item-body{
              flex: 1 1 auto;
              .title{
                font-size: rem(28);
                color: $fc-default;
                margin-bottom: rem(10);
              }
              .giftyshow-info{
                font-size: rem(24);
                font-weight: $semi-bold;
                color: $fc-gray;
              }
            }
          }
          .status{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: calc(#{$template-pad-side} + #{$template-margin-side});
            font-size: rem(26);
            color: $fc-default;
          }
        }
        &.completed{
          a{
            .template{
              background-color: $bg-gray;
              opacity: .3;
            }
          }
        }
      }
    }
  }
  .my-giftyshow-detail{
    @include has-fixed-footer;
    .template{
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;
      .img-wrap{
        flex: 0 0 rem(120);
        width: rem(120);
        height: rem(120);
        margin-right: rem(20);
        img{
          width: 100%;
          object-fit: contain;
        }
      }
      .giftyshow-item-body{
        flex: 1 1 auto;
        .title{
          font-size: rem(28);
          color: $fc-default;
          margin-bottom: rem(10);
        }
        .giftyshow-info{
          font-size: rem(24);
          font-weight: $semi-bold;
          color: $fc-gray;
        }
      }
    }
    .barcode{
      @include container-pad-wide-type;
      .barcode-img-wrap{
        padding-top: rem(45);
        padding-bottom: rem(45);
        padding-left: rem(50);
        padding-right: rem(50);
        img{
          width: 100%;
        }
      }
    }
  }

  .my-participation{
    width: 100%;
    .header-message{
      margin-bottom: rem(20);
      font-size: rem(26);
      color: $fc-default-light;
      em{
        font-weight: $bold;
      }
      span{
        font-weight: $bold;
      }
    }
    .tab-link{
      background-color: #ffffff;
    }
    
    .item-lists{
      >ul{
        >li{
          border-bottom: $border-default;
          margin-bottom: rem(20);
          &:nth-last-of-type(1){
            margin-bottom: 0;
          }
          a{
            display: block;
            .template{
              box-shadow: none;
              .item-header{
                color: $primary;
                font-size: rem(32);
                font-weight: $bold;
              }
              .item-body{
                margin-top: rem(10);
                .title{
                  font-size: rem(32);
                }
              }
              .item-footer{
                display: flex;
                margin-top: rem(10);
                font-size: rem(26);
                color: $fc-gray;
                .prefix, .suffix{
                  flex: 1 1 auto;
                }
                .suffix{
                  display: flex;
                  justify-content: flex-end;
                }
              }
            }
          }
        }
      }
    }
  }
  .my-writing{
    width: 100%;
    .header-message{
      margin-bottom: rem(20);
      font-size: rem(26);
      color: $fc-default-light;
      em{
        font-weight: $bold;
      }
      span{
        font-weight: $bold;
      }
    }
    .item-lists{
      min-height: vw(900);
      @include has-fixed-footer;
      >ul{
        >li{
          border-bottom: $border-default;
          margin-bottom: rem(20);
          &:nth-last-of-type(1){
            margin-bottom: 0;
          }
          a{
            display: block;
            .template{
              box-shadow: none;
              .item-header{
                .title{
                  font-size: rem(32);
                }
              }
              .item-body{
                display: flex;
                margin-top: rem(20);
                padding-bottom: rem(20);
                font-size: rem(26);
                color: $fc-gray;
                border-bottom: $border-default;
                .prefix, .suffix{
                  flex: 1 1 auto;
                }
                .suffix{
                  display: flex;
                  justify-content: flex-end;
                }
              }
              .item-footer{
                padding-top: rem(20);
                >ul{
                  >li{
                    display: flex;
                    margin-bottom: rem(10);
                    font-size: rem(26);
                    color: $fc-gray;
                    .prefix, .center, .suffix{
                      flex: 1 1 auto;
                    }
                    .prefix{
                      flex: 0 0 rem(150);
                    }
                    .suffix{
                      display: flex;
                      justify-content: flex-end;
                    }
                    .cost, .period, .status{
                      color: $fc-default;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .my-writing-detail{
    padding-top: rem(20);
    .template{
      box-shadow: none;
      &.header{
        margin-bottom: rem(20);
      }
    }
    .border-list{
      &.table-type{
        >ul{
          li{
            .label{
              flex: 0 0 rem(180);
              color: $fc-gray;
              font-size: rem(32);
            }
            .tag{
              &.state{
                font-size: rem(24);
                color: #ffffff;
                border: 0;
                &.color1{
                  background-color: $gray;
                }
                &.color2 {
                  background: #b5adff;
                }
                &.color3 {
                  background: #6b2ff3;
                }
                &.color4 {
                  background: #ff9bd3;
                }
              }
            }
            &.total{
              border-top: rem(2) solid $fc-default;
              .label{
                color: $fc-default;
                font-weight: $bold;
              }
              .data{
                display: flex;
                justify-content: flex-end;
                .point{
                  font-size: rem(44);
                  font-weight: $bold;
                  color: $fc-primary;
                  &:before{
                    $lg: 1.5;
                    width: rem(30*$lg);
                    height: rem(30*$lg);
                    background-position: rem(-106*$lg) rem(-186*$lg);
                    background-size: rem(750*$lg);
                  }
                }
                .point-fill{
                  font-size: rem(44);
                  font-weight: $bold;
                  color: $fc-primary;
                  &:before{
                    $lg: 1.5;
                    content: '';
                    width: rem(30*$lg);
                    height: rem(30*$lg);
                    background-position: rem(-103*$lg) rem(-23*$lg);
                    background-size: rem(750*$lg);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .pointmall-buylist{
    @include has-fixed-footer;
    table{
      width: 100%;
      background-color: #ffffff;
      thead{
        tr{
          th{
            padding-top: rem(30);
            padding-bottom: rem(30);
            background-color: $primary;
            font-size: rem(28);
            font-weight: $normal;
            color: #ffffff;
          }
        }
      }
      tbody{
        tr{
          td{
            border-bottom: $border-default;
            padding-top: rem(30);
            padding-bottom: rem(30);
            padding-left: rem(20);
            padding-right: rem(20);
            font-size: rem(28);
            color: $fc-default-light;
            text-align: center;
            &.ellipsis{
              overflow: hidden;
              text-align: left;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }
      thead, tbody{
        tr{
          th, td{
            &:nth-of-type(1){
              width: rem(200);
            }
            &:nth-last-of-type(1){
              max-width: rem(300);
            }
          }
        }
      }
    }
  }
  .my-question{
    &.write-question{
      @include has-fixed-footer;
    }
    .question-template{
      &.template{
        box-shadow: none;
      }
      >ul{
        >li{
          .input-wrap{
            &.question-text-content{
              height: rem(500);
            }
          }
        }
      }
    }
    .add-pic{
      width: 100%;
      @include container-pad-wide-type;
      padding-bottom: rem(50);
      .add-files{
        >li{
          &.added-pic{
            height: vw(130);
            width: vw(130);
          }
        }
      }
    }
    .question-list{
      >ul{
        >li{
          .tag{
            font-size: rem(26);
          }
          .title{
            >a{
              display: flex;
              width: 100%;
              &.template{
                box-shadow: none;
                border-bottom: $border-default;
              }
              .prefix{
                flex: 0 0 rem(180);
              }
              .center{
                flex: 1 1 auto;
              }
              .suffix{
                flex: 0 0 rem(60);
                display: flex;
                justify-content: flex-end;
                align-items: center;
              }
              .category{
                font-size: rem(26);
              }
              .item-title{
                font-size: rem(30);
              }
              .date{
                font-size: rem(26);
                color: $fc-gray;
              }
            }
          }
          .detail{
            display: none;
            border-bottom: $border-default;
            color: $fc-default-light;
            padding-bottom: rem(30);
            .template{
              box-shadow: none;
            }
            .answer{
              padding-left: rem(40);
              &:before{
                content: '';
                display: inline-block;
                width: rem(16);
                height: rem(16);
                @include img-sprite;
                background-position: rem(-352) rem(-272);
              }
              .answer-text{
                @include container-pad-wide-type;
                padding-top: rem(20);
                padding-bottom: rem(20);
              }
            }
            .delete-question{
              text-align: right;
              .delete-btn{
                display: inline-flex;
                align-items: center;
                height: rem(80);
                font-size: rem(26);
                color: #e1e1e1;
                &:before{
                  content: '';
                  display: inline-block;
                  margin-right: rem(10);
                  @include img-sprite;
                  width: rem(24);
                  height: rem(24);
                  background-position: rem(-395) rem(-108);
                }
              }
            }
          }
        }
      }
    }
  }
  .secession{
    @include has-fixed-footer;
    .user-point{
      &.template.normal-type{
        margin-top: rem(80);
      }
      .template-header{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        border-bottom: $border-default;
        padding-top: rem(40);
        padding-bottom: rem(40);
        .label{
          font-size: rem(32);
          font-weight: $bold;
          color: $fc-default-light;
          margin-bottom: rem(15);
        }
        .point-wrap{
          display: flex;
          justify-content: center;
          .point{
            display: inline-flex;
            font-size: rem(42);
            color: $fc-primary;
            font-weight: $bold;
            &:before{
              $lg: 1.5;
              width: rem(30*$lg);
              height: rem(30*$lg);
              background-size: rem(750*$lg);
              background-position: rem(-106*$lg) rem(-186*$lg);
            }
          }
          .point-fill{
            display: inline-flex;
            font-size: rem(42);
            color: $fc-primary;
            font-weight: $bold;
            &:before{
              $lg: 1.5;
              content: '';
              width: rem(30*$lg);
              height: rem(30*$lg);
              background-position: rem(-103*$lg) rem(-23*$lg);
              background-size: rem(750*$lg);
            }
          }
        }
      }
      .txt-list{
        padding-top: rem(20);
        padding-bottom: rem(20);
        border-bottom: $border-default;
        >ul{
          li{
            font-size: rem(26);
            text-indent: rem(-28);
            padding-left: rem(30);
            margin-bottom: rem(10);
            &:before{
              content: '※';
            }
          }
        }
      }
      .checkbox-wrap{
        label{
          align-items: flex-start;
          font-size: rem(30);
          font-weight: $bold;
          color: $fc-default-light;
        }
      }
    }
    .user-research{
      &.template.normal-type{
        margin-top: rem(80);
      }
      .template-header{
        padding-top: rem(40);
        padding-bottom: rem(40);
      }
      .checkbox-wrap{
        @include container-pad-wide-type;
        label{
          align-items: flex-start;
          font-size: rem(28);
        }
        li{
          &:nth-last-of-type(1){
            border-bottom: 0;
          }
        }
      }
      .vote-text-type-wrap{
        border: 0;
        border-radius: 0;
        @include container-pad-wide-type;
        .vote-text-checkbox{
          > li{
            padding-top: rem(10);
            padding-bottom: rem(10);
            label{
              span{
                font-size: rem(28);
              }
            }
          }
        }
      }
    }
  }
}