.gnb{
  @include container-pad-wide-type;
  @include sticky;
  display: flex;
  background-color: #ffffff;
  height: $nav-height;
  transition: top ease-in .1s, background-color ease-in .1s, box-shadow ease-in .1s;
  z-index: 3;
  &.scroll-down{
    top: calc(#{$nav-height} * -1);
  }
  &.scroll-up{
    // @include sticky;
    top: 0;
  }
  &.sticky{
    @include sticky;
    background-color: #ffffff;
    top: 0;
    &.scroll-up{
      top: $nav-height;
    }
  }
  &.white-bg{
    background-color: #ffffff;
    border-bottom: $border-header;
  }
  &.shadow{
    background-color: #ffffff;
    box-shadow: $nav-shadow;
  }
  &.menu-tab{
    
    height: rem(110);
    ul{
      @include flex-align-item-center;
      justify-content: space-between;
      width: 100%;
      li{
        @include flex-align-item-center;
        height: 100%;
        a{
          position: relative;
          font-size: rem(25);
          font-weight: $bold;
          color: $fc-default;
          .new{
            display: inline-block;
            position: absolute;
            width: rem(14);
            height: rem(14);
            top: rem(-15);
            right: rem(-15);
            background-color: $coral-red;
            border-radius: 50%;
            border: rem(2) solid #ffffff;
          }
        }
        &.on{
          position: relative;
          // &:after{
          //   content: '';
          //   position: absolute;
          //   display: inline-block;
          //   bottom: 0;
          //   left: 0;
          //   width: 100%;
          //   height: rem(6);
          //   background-color: $primary;
          // }
          a{
            color: $primary;
            font-weight: $bold;
          }
        }
      }
    }
  }
  .prefix, .center, .suffix{
    @include flex-align-item-center;
    [class*="btn-"]{
      display: inline-flex; 
    }
    .slots{
      @include flex-align-item-center;
      >li{
        display: flex;
        align-items: center;
        margin-left: rem(40);
        &:nth-of-type(1){
          margin-left: 0;
        }
      }
    }
  }
  .prefix{
    flex: 0 0 20%;
    display: flex;
    justify-content: flex-start;
    margin-right: rem(20);
    .all-menu{
      @include flex-align-item-center;
    }
    [class*="btn-"]{
      margin-left: rem(5);
      &:nth-of-type(1){
        margin-left: 0;
      }
    }
  }
  .center{
    flex: 3 0 auto;
    a{
      color: $primary;
      font-size: rem(33);
      font-weight: $bold;
    }
    &.justify-center{
      justify-content: center;
      flex: 1 1 80%;
    }
    h2{
      font-size: rem(38);
      font-weight: $bold;
    }
    .point-fill{
      font-size: rem(32);
      color: $primary;
      font-weight: $bold;
    }
  }
  .suffix{
    flex: 0 0 20%;
    display: flex;
    margin-left: rem(20);
    justify-content: flex-end;
    [class*="btn-"]{
      font-size: rem(25);
      margin-right: rem(10);
      &:last-child{
        margin-right: 0;
      }
    }
    
  }
}