.news{
  background-color: $bg-gray;
  .news-list{
    >ul{
      >li{
        .template{
          h3{
            &.title{
              margin-top: rem(20);
              margin-bottom: rem(20);
            }
          }
          .info{
            display: flex;
            .prefix, .suffix{
              flex: 1 1 auto;
              .date, .catagory{
                color: $fc-gray;
                font-size: rem(28);
              }
            }
            .suffix{
              display: flex;
              justify-content: flex-end;
            }
          }
          .img-wrap{
            display: flex;
            position: relative;
            width: 100%;
            height: vw(380);
            border-radius: rem(20);
            overflow: hidden;
            margin-top: rem(20);
            margin-bottom: rem(20);
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .news-view{
    .template{
      box-shadow: none;
    }
    .template-header{
      border-bottom: $border-default;
      padding-bottom: rem(20);
      h3{
        &.title{
          margin-top: rem(20);
          margin-bottom: rem(20);
        }
      }
      .info{
        display: flex;
        .prefix, .suffix{
          flex: 1 1 auto;
          .date, .catagory{
            color: $fc-gray;
            font-size: rem(28);
          }
        }
        .suffix{
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .template-body{
      article{
        font-size: rem(26);
        border: $border-default;
        color: $fc-default;
        font-weight: $normal;
        padding: rem(32);
        margin-bottom: rem(50);
      }
      img{
        width: 100%;
      }
      .tag-box{
        a{
          margin-right: rem(20);
          margin-bottom: rem(20);
          display: inline-block;
          .tag{
            background-color: #f6f6f6;
            border: 0;
            color: $fc-default-light;
            font-weight: $normal;
          }
        }
      }
    }
  }
}