.notice{
  .notice-list{
    >ul{
      >li{
        .title{
          >a{
            display: flex;
            width: 100%;
            &.template{
              box-shadow: none;
              border-bottom: $border-default;
            }
            .prefix{
              flex: 1 1 auto;
            }
            .suffix{
              flex: 0 0 rem(60);
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
            .item-title{
              font-size: rem(30);
            }
            .date{
              font-size: rem(26);
              color: $fc-gray;
            }
          }
        }
        .detail{
          display: none;
          border-bottom: $border-default;
          color: $fc-default-light;
          .template{
            box-shadow: none;
          }
        }
      }
    }
  }
  &.dot-list-type{
    padding-top: rem(50);
    .template-header{
      margin-bottom: rem(50);
    }
    .tag{
      font-size: rem(26);
    }
    >ul{
      margin-top: rem(20);
      color: $fc-gray;
      line-height: 1.8;
      font-weight: $normal;
      >li{
        position: relative;
        padding-left: rem(20);
        &.no-dot{
          padding-left: 0;
          &:before{
            content: none;
          }
        }
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: rem(20);
          width: rem(4);
          height: rem(4);
          border-radius: 50%;
          background: $fc-gray;
        }
      }
    }
  }
}