.policy-view{
  .template{
    .content{
      margin-bottom: rem(100);
      font-size: rem(26);
      font-weight: $normal;
      color: $fc-default-light;
      line-height: 1.6;
      h3{
        text-align: center;
        font-size: rem(30);
      }
      table{
        &.table{
          width: 100%;
          margin-top: 8px;
          margin-bottom: 8px;
        
          .tablebgdg{
            background-color:#dedfe2;
          }
          
          .tablebglg{
            background-color: #ededef;
          }
          
          .tabletitle{
            text-align:center;
            color: #616364;
            font-weight: bold;
            padding: 6px;
          }
          
          .tabletextcntrlg{
            text-align:center;
            color: #616364;
            height: 30px;
            padding: 8px;
          }
          
          .tabletextcntrdg{
            text-align:center;
            color: #2d2e33;
            height: 30px;
            padding: 8px;
          }
          
          .tabletextleftlg{
            text-align:left;
            color: #616364;
            height: 30px;
            padding: 8px;
          }
          
          .tabletextleftdg{
            text-align:left;
            color: #2d2e33;
            height: 30px;
            padding: 8px;
          }
          
          table, th, td {
              border:1px solid #8d8e92;
          }
          

        }
      }
      a{
        color: $sky-blue;
      }
    }
  }
}