.question-policy{
  .template{
    .message-gray-box{
      .txt-list{
        @include container-pad-wide-type;
        padding-top: rem(50);
        padding-bottom: rem(50);
        >ul{
          li{
            font-size: rem(26);
            font-weight: $normal;
            text-indent: rem(-28);
            padding-left: rem(30);
            margin-bottom: rem(10);
            &:before{
              content: '';
            }
          }
        }
      }
    }
  }
  .checkbox-wrap{
    label{
      align-items: flex-start;
      font-size: rem(30);
      font-weight: $bold;
      color: $fc-default-light;
    }
  }
  .notice-message{
    @include container-pad-wide-type;
  }
}
.vote-policy{
  .template{
    box-shadow: none;
    &.notice-list{
      li{
        margin-bottom: rem(20);
      }
      [class*="message-"]{
        color: $fc-default;
        font-weight: $normal;
      }
    }
  }
}
.question-enrollment{
  @include has-fixed-footer;
  .template-header{
    .img-wrap{
      padding-top: rem(20);
      img{
        width: 100%;
      }
    }
    h3.title{
      background-color: $primary;
      color: #ffffff;
      @include ellipsis;
      padding: rem(30);
      text-align: center;
    }
    .title-lg{
      font-size: rem(45);
      font-weight: $bold;
      color: $fc-default;
    }
    [class*="message-"]{
      color: $fc-gray;
      font-weight: $normal;
    }
  }
  
  .flex-wrap{
    >ul{
      display : flex;
      width: 100%;
      .prefix, .suffix{
        flex: 1 1 auto;
      }
      .suffix{
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .btn-question-delete{
    color: $fc-gray;
    font-size: rem(28);
  }
  .form-group{
    .info-text{
      font-size: rem(28);
      color: $fc-default-light;
    }
    .radio-list{
      >ul{
        display: grid;
        &.col-6{
          grid-template-columns: repeat(2, 1fr);
        }
        &.col-4{
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
    .uploads{
      margin-top: rem(20);
      text-align: right;
    }
    .template-upload-img{
      margin-left: calc(-#{$template-pad-side} - #{$template-margin-side});
      margin-right: calc(-#{$template-pad-side} - #{$template-margin-side});
      display: flex;
      background-color: $bg-gray;
      border-top: $border-default;
      border-bottom: $border-default;
      padding-top: rem(20);
      padding-bottom: rem(20);
      @include container-pad-wide-type;
      .text-box{
        flex: 1 1 auto;
        padding-right: rem(10);
        color: $fc-gray-light;
        font-size: rem(26);
        font-weight: $normal;
      }
      .add-files{
        flex: 0 0 vw(130);;
        display: flex;
        justify-content: flex-end;
        >li{
          display: inline-block;
          &.added-pic{
            img{
              vertical-align: top;
            }
          }
        }
      }
    }
    .template-url{
      @include container-pad-wide-type;
      margin-left: calc(-#{$template-pad-side} - #{$template-margin-side});
      margin-right: calc(-#{$template-pad-side} - #{$template-margin-side});
      background-color: $bg-gray;
      border-top: $border-default;
      border-bottom: $border-default;
      padding-top: rem(20);
      padding-bottom: rem(20);
      .text-box{
        color: $fc-gray-light;
        font-size: rem(26);
        font-weight: $normal;
      }
    }
  }
  .question-examples-template{
    padding-left: $template-margin-side;
    padding-right: $template-margin-side;
    background-color: $bg-gray;
    >ul{
      >li{
        margin-bottom: rem(10);
        &.template{
          padding-top: 0;
          padding-bottom: 0;
          border-radius: $input-border-radius;
          box-shadow: $thin-shadow;
        }
        .input-wrap{
          border: 0;
          &.has-unit{
            .label{
              flex: 0 0 rem(150);
              display: flex;
              align-items: center;
              padding: 0 rem(10) 0 $input-pad-default;
              .tag{
                font-size: rem(26);
                border-radius: rem(10);
                height: rem(50);
                color: $fc-default;
                &.etc{
                  padding-left: rem(20);
                  padding-right: rem(20);
                  &:before{
                    content: '';
                    display: inline-block;
                    @include img-sprite;
                    width: rem(32);
                    height: rem(8);
                    background-position: rem(-584) rem(-276);
                  }
                }
              }
            }
            .unit{
              flex: 1 0 rem(80);
              font-size: rem(28);
              font-weight: $bold;
              a{
                display: inline-block;
                position: relative;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .template-footer{
          display: flex;
          @include container-pad-wide-type;
          .text-box{
            flex: 1 1 auto;
            textarea{
              height: 100%;
              width: 100%;
              background-color: transparent;
            }
          }
          .add-files{
            flex: 0 0 vw(130);;
            display: flex;
            justify-content: flex-end;
            >li{
              display: inline-block;
              &.added-pic{
                img{
                  vertical-align: top;
                }
              }
            }
          }
        }
      }
    }
    .btn-group{
      @include container-pad-wide-type;
      .btn-border{
        height: calc(#{$btn-height-default} * 0.8);
      }
    }
    .multi-choice{
      margin-top: rem(40);
      margin-bottom: rem(40);
      .info-text{
        font-size: rem(28);
        color: $fc-default;
        .select-wrap{
          display: inline-block;
          min-width: rem(120);
          height: calc(#{$input-height-default}*0.8);
        }
      }
    }
  }
  .question-rating-sample{
    .img-wrap{
      img{
        width: 100%;
      }
    }
  }
}
.question-preview{
  &.popup-page{
    .container{
      margin-bottom: 0;
    }
  }
  .template-body{
    border-bottom: $border-default;
    .vote-info{
      border-top: 0;
      margin-bottom: rem(30);
    }
  }
}
.date-picker{
  >ul{
    >li{
      position: relative;
      .label{
        position: absolute;
        top: 50%;
        left: $input-pad-default;
        transform: translateY(-50%);
        font-size: rem(26);
      }
      .input-wrap{
        input{
          text-align: right;
        }
      }
      &:nth-of-type(1){
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

      }
      &:nth-last-of-type(1){
        .input-wrap{
          border-top: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
}
.question-payment{
  .template{
    &.header{
      margin-bottom: rem(20);
      box-shadow: none;
    }
  }
  .border-list{
    &.table-type{
      >ul{
        li{
          .label{
            flex: 0 0 rem(180);
            color: $fc-gray;
            font-size: rem(32);
          }
          &.total{
            border-top: rem(2) solid $fc-default;
            .label{
              color: $fc-default;
              font-weight: $bold;
            }
            .data{
              display: flex;
              justify-content: flex-end;
              .point{
                font-size: rem(44);
                font-weight: $bold;
                color: $fc-primary;
                &:before{
                  $lg: 1.5;
                  width: rem(30*$lg);
                  height: rem(30*$lg);
                  background-position: rem(-106*$lg) rem(-186*$lg);
                  background-size: rem(750*$lg);
                }
              }
              .point-fill{
                font-size: rem(44);
                font-weight: $bold;
                color: $fc-primary;
                &:before{
                  $lg: 1.5;
                  content: '';
                  width: rem(30*$lg);
                  height: rem(30*$lg);
                  background-position: rem(-103*$lg) rem(-23*$lg);
                  background-size: rem(750*$lg);
                }
              }
            }
          }
        }
      }
    }
  }
}