// variables
$gap-from-bottom: 50;
$gap-from-right: 20;

$button-size: 100;

$duration: 0.2s;
$timing-function: ease-in-out;

@mixin btn-gradient {
  background: rgb(107,47,243);
  background: linear-gradient(0deg, rgba(107,47,243,1) 0%, rgba(172,87,226,1) 100%);
}
@mixin btn-gradient-primary {
  background: rgb(107,47,243);
  background: linear-gradient(-45deg, $primary 0, #ff78c8 100%);
}
@mixin btn-gradient-secondary {
  background: rgb(107,47,243);
  background: linear-gradient(-45deg, #ff5c98 0, #f6a273 100%);
}
.quick-menu{
  background-color: red;
  .dimmer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    transition: background-color, top;
    transition-duration: $duration;
    z-index: 5;
  }
  .menu-list{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 6;
    button{
      position: fixed;
      display: inline-block;
      right: rem($gap-from-right);
      bottom: rem($gap-from-right);
      width: rem($button-size);
      height: rem($button-size);
      border-radius: 50%;
      transition: bottom $timing-function $duration;
      font-size: rem(20);
      @include btn-gradient;
      &:nth-of-type(1){
        @include btn-gradient-primary;
      }
      &:nth-of-type(4){
        @include btn-gradient-secondary;
      }
      &.toggle{
        transition: background $duration;
        background: #ffffff;
        border: rem(1) solid $primary;
        box-shadow: $thin-shadow;
        .cross{
          position: absolute;
          display: inline-block;
          top: 50%;
          left: 50%;
          transition: transform $duration;
          transform: translate(-50%, -50%);
          width: rem(50);
          height: rem(50);
          em{
            position: absolute;
            display: inline-block;
            left: 50%;
            width: rem(9);
            height: rem(9);
            border-radius: 50%;
            background-color: $primary;
            
            &:nth-of-type(1){
              top: rem(3);
              transform: translate(-50%, -50%);
            }
            &:nth-of-type(2){
              top: rem(21);
              transform: translate(-50%, -50%) rotate(90deg);
            }
            &:nth-of-type(3){
              top: rem(40);
              transform: translate(-50%, -50%) rotate(90deg);
            }
          }
        }
        &.on{
          background: #ffffff;
          border: 0;
          .cross{
            transform: translate(-50%, -50%) rotate(45deg);
            em{
              position: absolute;
              display: inline-block;
              top: 50%;
              left: 50%;
              width: rem(40);
              height: rem(10);
              border-radius: rem(5);
              background-color: $secondary;
              
              &:nth-of-type(1){
                transform: translate(-50%, -50%);
              }
              &:nth-of-type(2){
                transform: translate(-50%, -50%) rotate(90deg);
              }
            }
          }
        }
      }
      >[class*="icon-"]{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      >.label{
        position: absolute;
        bottom: rem(-30);
        left: 0;
        right: 0;
        color: transparent;
        transition: color $duration;
      }
    }
  }
  &.active{
    .dimmer{
      top: 0;
      background-color: rgba(0,0,0,.8);
      
    }
    .menu-list{
      button{
        @for $i from 0 through 5 {
          &:nth-last-of-type(#{$i}){
            bottom: rem($i*($button-size+$gap-from-bottom) - ($button-size+$gap-from-bottom) + $gap-from-right);
          }
        }
        >span{
          color: #ffffff;
        }
      }
    }
  }
}