.search-box{
  display: flex;
  align-items: center;
  padding-top: rem(20);
  padding-bottom: rem(20);
  @include container-pad-wide-type;
  border-bottom: $border-default;
  border-width: rem(1);
  .prefix, .suffix{
    flex: 1 1 auto;
  }
  .suffix{
    position: relative;
    display: flex;
    justify-content: center;
    flex: 0 0 rem(170);
    .btn-link{
      font-size: rem(28);
    }
    font-size: rem(28);
    &:before{
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: rem(20);
      border-left: $border-default;
    }
  }
  .input-wrap{
    background-color: transparent;
    border: 0;
    height: calc(#{$input-height-default}*0.8);
    input{
      padding: 0;
      &::placeholder{
        font-size: rem(30);
        color: lighten($fc-primary, 30%);
      }
    }
  }
}