.sort{
  h3.title{
    display: flex;
    font-size: $fs-h3;
    font-weight: $bold;
    height: rem(100);
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    @include container-pad-wide-type;
  }
  .sort-type{
    .radio-list{
      >ul{
        >li{
          border-bottom: $border-default;
          font-size: rem(30);
          font-weight: $bold;
          color: $fc-default-light;
          &.template{
            box-shadow: none;
          }
          .radio-wrap{
            label{
              span{
                color: $fc-default-light;
                font-weight: $normal;
              }
              &:before{
                position: absolute;
                right: 0;
                margin-right: 0;
              }
              &:after{
                left: unset;
                right: rem(12);
              }
            }
          }
        }
      }
    }
  }
  .interesting{
    .checkbox-list{
      >ul{
        >li{
          border-bottom: $border-default;
          font-size: rem(30);
          font-weight: $bold;
          color: $fc-default-light;
          &.template{
            box-shadow: none;
          }
          .checkbox-wrap{
            label{
              span{
                padding-left: 0;
                color: $fc-default-light;
                font-weight: $normal;
              }
              &:before{
                position: absolute;
                right: 0;
              }
              &:after{
                left: unset;
                right: rem(6);
              }
            }
          }
        }
      }
    }
  }
}