.survey{
  .container{
    min-height: vh(700);
  }
  .survey-list, .survey-participation{
    .template{
      .template-header{
        .catagory{
          color: $fc-gray;
          font-size: rem(28);
        }
      }
      .template-body{
        border-top: $border-default;
        .gray-box{
          background-color: $bg-default;
          @include container-pad-wide-type;
          border-radius: $gray-box-radius;
        }
        .survey-info{
          margin-top: rem(20);
          padding-top: rem(40);
          padding-bottom: rem(40);
          color: $fc-default;
          font-size: rem(28);
          >ul{
            >li{
              display : flex;
              align-items: center;
              margin-bottom: rem(15);
              font-weight: $normal;
              color: $fc-gray;
              &:nth-last-of-type(1){
                margin-bottom: 0;
              }
              .label{
                flex: 0 0 rem(170);
                border-right: $border-default;
                font-weight: $bold;
                color: $fc-default;
              }
              .content{
                flex: 1 1 auto;
                padding-left: rem(20);
              }
            }
          }
        }
      }
    }
  }
  .survey-participation{
    .template{
      box-shadow: none;
      .view-content{
        margin-bottom: rem(50);
      }
    }
  }
  .survey-evaluation{
    .template{
      box-shadow: none;
    }
  }
}