.tab-link{
  >ul{
    display: flex;
    >li{
      flex: 1 1 auto;
      display: flex;
      a{
        display: inline-flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: rem(100);
        color: $fc-default-light;
        font-size: rem(28);
        font-weight: $bold;
      }
      &.on{
        a{
          color: $primary;
        }
      }
    }
  }
  &.border-bottom-type{
    >ul{
      border-bottom: $border-default;
      >li{
        &.on{
          a{
            position: relative;
            &:after{
              content: '';
              display: block;
              position: absolute;
              left: 0;
              width: 100%;
              bottom: rem(-2);
              border-bottom: rem(4) solid $primary;
            }
          }
        }
      }
    }
  }
  &.arch-type{
    background-color: $btn-primary-color;
    >ul{
      @include container-pad-wide-type;
      li{
        a{
          margin-top: rem(10);
          color: #ffffff;
          height: rem(80);
        }
        &.on{
          a{
            border-top-left-radius: $tab-link-arch-radius;
            border-top-right-radius: $tab-link-arch-radius;
            background-color: $bg-gray;
            color: $fc-default;
          }
        }
      }
    }
  }
}