.tag{
  @include bordered-tag;
  &.tag-default{
    color: $fc-default;
    border: rem(2) solid $fc-default;
  }
  &.tag-gray{
    background-color: $gray;
    color: #ffffff;
    border: 0;
  }
  &.tag-gray-light{
    background-color: lighten($gray, 10%);
    color: #ffffff;
    border: 0;
  }
  &.tag-secondary{
    background-color: $secondary;
    color: #ffffff;
    border: 0;
  }
  &.tag-red{
    background-color: $coral-red;
    color: #ffffff;
    border: 0;
  }
  &.tag-primary{
    background-color: lighten($fc-primary, 15%);
    color: #ffffff;
    border: 0;
  }
  &.tag-blue{
    background-color: $sky-blue;
    color: #ffffff;
    border: 0;
  }
  &.square-type{
    border-radius: rem(4);
  }
  &.sm{
    height: rem(36);
    font-size: rem(22);
    padding-left: rem(5);
    padding-right: rem(5);
    font-weight: $normal;
    background-color: $btn-primary-color;
  }
}
.point-tag{
  @include bordered-tag;
  border-radius: rem(30);
  position: relative;
  border-width: rem(2);
  border-color: lighten($primary, 10%);
  font-weight: $bold;
  color: $primary;
  font-size: rem(22);
  &.square-type{
    border-radius: rem(25);
    height: auto;
    padding-top: rem(20);
    padding-bottom: rem(16);
  }
  &.circle-type{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: rem(80);
    width: rem(80);
    font-size: rem(24);
  }
}