.tutorial{
  position: fixed;
  width: 100%;
  top: $nav-height;
  bottom: $btn-footer-fixed-height;
  overflow: auto;
  background-color: $bg-gray;
  .bg-gift{
    position: relative;
    width: rem(800);
    height: rem(800);
    margin: auto;
    background-image: url(../images/bg_tutorial.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .point{
    position: absolute;
    color: #ffffff;
    left: rem(260);
    top: rem(360);
    font-size: rem(40);
    font-weight: $bold;
    padding: rem(20);
    border: rem(4) solid #ffffff;
    border-radius: rem(30);
    $lg: 1.5;
    &:before{
      width: rem(30*$lg);
      height: rem(30*$lg);
      background-size: rem(750*$lg);
    }
    &.white-type{
      &:before{
        background-position: rem(-535*$lg) rem(-1905*$lg);
      }
    }
  }
  .tutorial-arrow{
    display: inline-block;
    width: rem(130);
    height: rem(100);
    background-image: url(../images/bg_tutorial_arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  p{
    position: absolute;
    min-width: rem(800);
    left: 0;
    right: 0;
    text-align: center;
    font-weight: $bold;
    line-height: 1.4;
    font-size: rem(32);
    .tutorial-arrow{
      margin-top: rem(20);
    }
  }
  .text-01{
    top: rem(500);
  }
  .text-02{
    top: rem(770);
  }
}