@charset 'utf-8';
//font-weight
$light: 300;
$normal: 400;
$medium-bold:700;
$semi-bold: 700;
$bold: 800;

//color
$primary: #6b2ff3;
$secondary: #ff8acc;
$mint: #7ee0ec;
$gray-light: #ecebf3;
$gray: #999999;
$sky-blue: #4da3f0;
$coral-red: #ff5d5d;

$theme-facebook: #4e75a8;

$fc-default: #333333;
$fc-default-light: #555555;
$fc-gray: #999999;
$fc-gray-light: #b0b0b0;
$fc-primary: $primary;
$fc-welcome:#a3d80a;
$fc-close:#35c8da;
$fc-best:#ff529d;
$fc-soul:#a03bc4;



$fs-h3: rem(30);

$bg-gray: #f6f6f8;
$bg-white: #ffffff;
$bg-default: #ededef;
$bg-gray-border: rem(2) solid #e4e4e4;
$bg-all-menu: #7031fe;

//main
$main-pad-side : rem(50);
$main-container-gap-top : rem(50);
$main-container-gap-bottom : rem(120);


$template-pad-side: vw(25);
$template-pad-top: vw(25);
$template-margin-side: vw(15);
$template-margin-top: vw(15);
$content-line-height-default: 1.6;
$template-rating-pad:vw(80);

//radius
$template-white-border-radius: rem(4);
$vote-checkbox-radius: rem(15);
$user-rating-box-radius: rem(6);
$gray-box-radius: rem(10);
$tab-link-arch-radius: rem(30);

//shadow
$nav-shadow: inset 0px 15px 10px -10px rgba(0, 0, 0, 0.1);
$template-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
$thin-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);

//border
$border-header: rem(2) solid #efefef;
$border-default: rem(2) solid #d9d9d9;
$border-gray: rem(2) solid #c8c8c8;
$border-partition-color: $bg-gray-border;
$border-dotted: rem(2) dotted #bbbbbb;
$border-welcome:rem(2) solid #e4e9d2;
$border-close: rem(2) solid #cff3f3;
$border-best:rem(2) solid #fee3ed;
$border-soul:rem(2) solid #f6dff6;;



//button
$btn-height-default : rem(90);
$btn-default-fs : rem(14);
$btn-sticky-bottom-height: rem(60);
$btn-sticky-bottom-fs: rem(19);
$btn-round-height : rem(40);
$btn-round-fs : rem(14);
$btn-radius : rem(6);

$btn-primary-color: lighten($primary, 10%);
$btn-login-color: #8a5fe2;
$btn-secondary-color: lighten($secondary, 10%);
$btn-default-color: #999999;
$btn-disabled-color: $gray-light;

$btn-footer-fixed-height: rem(120);
//nav
$nav-height: rem(100);

// input
$input-border: $border-gray;
$input-border-radius: rem(4); 
$input-pad-default: rem(20);
$input-height-default: rem(100);
$textarea-height-default: rem(300);
// login
$login-input-height: rem(100);

// footer
$bg-footer: #7a70dd;
$color-footer: lighten($bg-footer, 10%);