.vote-versus{
  margin-top: rem(40);
  >ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    >li{
      flex: 0 0 40%;
      
      &.versus{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 10%;
        padding: rem(5);
      }
      .vote-radio{
        input[type="radio"]{
          font-size: 0;
          width: 0;
          height: 0;
          position: absolute;
          left: 0;
          opacity: 0;
          &:checked + label{
            background-color: lighten($primary, 30%);
          }
        }
        label{
          position: relative;
          display: block;
          padding: rem(50) rem(40);
          .img-wrap{
            @include img-round-frame;
            height: vw(200);
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .vote-item-label{
          display: block;
          padding: rem(10);
          margin-top: rem(10);
          color: $fc-default;
          text-align: center;
          input{
            display: inline-block;
            width: 100%;
            padding: rem(10);
            border: 0;
            border-bottom: $bg-gray-border;
          }
        }

      }
    }
  }
}