.vote-calculator-type{
  margin-top: rem(40);
  table{
    td{
      padding-left: rem(10);
      padding-right: rem(10);
      padding-top: rem(30);
      padding-bottom: rem(30);
      border-bottom: $border-default;
      input{
        text-align: right;
      }
    }
    .total{
      color: $fc-default;
      font-weight: $semi-bold;
      font-size: rem(36);
    }
  }
}