.vote-image-type-wrap{
  >ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    >li{
      flex: 0 0 50%;
      padding: rem(50) rem(40);
      .vote-radio{
        input[type="radio"]{
          font-size: 0;
          width: 0;
          height: 0;
          position: absolute;
          left: 0;
          opacity: 0;
          &:checked + label{
            &:before{
              background-position: rem(-482) rem(-162);
            }
          }
        }
        label{
          position: relative;
          display: block;
          &:before{
            content: '';
            display: inline-block;
            position: absolute;
            right: rem(-30);
            top: rem(-30);
            margin-right: rem(10);
            @include img-sprite;
            width: rem(76);
            height: rem(76);
            background-position: rem(-402) rem(-162);
            border-radius: 50%;
          }
          .img-wrap{
            @include img-round-frame;
            height: vw(270);
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .vote-item-label{
          display: block;
          padding: rem(10);
          margin-top: rem(10);
          color: $fc-default;
          text-align: center;
          input{
            display: inline-block;
            width: 100%;
            padding: rem(10);
            border: 0;
            border-bottom: $bg-gray-border;
          }
        }

      }
    }
  }
}
.vote-text-type-wrap{
  .vote-text-radio{
    >li{
      border-bottom: $border-default;
      &:nth-last-of-type(1){
        border-bottom: 0;
      }
      .radio-wrap{
        label{
          height: auto;
          padding: rem(15);
          color: $fc-default;
          align-items: flex-start;
          .etc{
            flex: 1 1 auto;
            input[type="text"]{
              width: 100%;
            }
          }
        }
        input[type="radio"]{
          &:checked + label{
            &:after{
              left: calc(#{rem(12)} + #{rem(16)});
              top: rem(27);
              transform: none;
            }
          }
        }
      }
    }
    &.album-type{
      padding: rem(10);
      $grid-lines: 3;
      display: grid;
      grid-template-columns: repeat($grid-lines, 1fr);
      gap: rem(10);
      >li{
        border: $border-default;
        min-height: rem(200);
        label{
          height: 100%;
          .etc{
            flex: 1 1 auto;
            input[type="text"]{
              width: 100%;
            }
          }
        }
      }
    }
  }
}