.vote-likert{
  margin-top: rem(60);
  .steps{
    ul{
      position: relative;
      display: flex;
      justify-content: space-between;
      &:before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: rem(1);
        border-top: rem(2) dashed $gray;
        top: 50%;
      }
      >li{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 rem(50);
        .radio-wrap{
          label{
            height: auto;
            &:before{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  .legend{
    margin-top: rem(40);
    >ul{
      display: flex;
      justify-content: space-between;
      >li{
        flex: 0 0 calc(100% / 3);
        span{
          word-break: break-all;
        }
        &:nth-of-type(2){
          text-align: center;
        }
        &:nth-last-of-type(1){
          text-align: right;
        }
      }
    }
  }
  &.matrix-type{
    .legend{
      margin-left: rem(100);
    }
    .steps{
      display: flex;
      margin-bottom: rem(60);
      .label{
        flex: 0 0 rem(100);
      }
      >ul{
        flex: 1 1 auto;
      }
    }
  }
}