.vote-text-type-wrap{
  margin-top: rem(20);
  border: $border-default;
  border-radius: $vote-checkbox-radius;
  .vote-text-checkbox, .vote-text{
    >li{
      border-bottom: $border-default;
      &:nth-last-of-type(1){
        border-bottom: 0; 
      }
      input[type="checkbox"]{
        @include hidden-checkbox;
      }
      label{
        display: flex;
        position: relative;
        align-items: flex-start;
        padding: rem(15);
        // justify-content: flex-start;
        span{
          padding-left: rem(20);
          padding-top: rem(3);
          color: $fc-default;
        }
        &:before{
          content: '';
          display: inline-block;
          flex: 0 0 rem(50);
          width: rem(50);
          height: rem(50);
          border: $border-default;
          border-radius: $vote-checkbox-radius;
          box-sizing: border-box;
        }
        .etc{
          flex: 1 1 auto;
          input[type="text"]{
            width: 100%;
          }
        }
        
      }
      input[type="checkbox"]:checked + label{
        &:before{
          background-color: $primary;
          border: 0;
        }
        &:after{
          content: '';
          display: inline-block;
          position: absolute;
          left: rem(24);
          top: rem(28);
          width: rem(31);
          height: rem(24);
          @include img-sprite;
          background-position: rem(-345) rem(-1428);
        }
      }
    }
    &.rank-type{
      >li{
        input[type="checkbox"]:checked + label{
          &:before{
            content: attr(data-before);
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary;
            border: rem(4) solid $primary;
          }
          &:after{
            content: none;
          }
        }
      }
    }
    &.album-type{
      padding: rem(10);
      $grid-lines: 3;
      display: grid;
      grid-template-columns: repeat($grid-lines, 1fr);
      gap: rem(10);
      >li{
        border: $border-default;
        min-height: rem(200);
        label{
          height: 100%;
          .etc{
            flex: 1 1 auto;
            input[type="text"]{
              width: 100%;
            }
          }
        }
      }
    }
  }
  .vote-text{
    >li{
      padding: rem(15);
    }
  }
}