.vote-image-type-wrap{
  >ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    >li{
      flex: 0 0 50%;
      padding: rem(50) rem(40);
      .vote-checkbox{
        input[type="checkbox"]{
          @include hidden-checkbox;
          &:checked + label{
            &:before{
              background-color: $primary;
              border: 0;
            }
            &:after{
              content: '';
              display: inline-block;
              position: absolute;
              left: unset;
              right: rem(-8);
              top: rem(-4);
              width: rem(31);
              height: rem(24);
              @include img-sprite;
              background-position: rem(-345) rem(-1428);
            }
          }
        }
        &.rank-type{
          input[type="checkbox"]{
            @include hidden-checkbox;
            &:checked + label{
              &:before{
                content: attr(data-before);
                display: flex;
                justify-content: center;
                align-items: center;
                color: $primary;
                border: rem(4) solid $primary;
              }
              &:after{
                content: none;
              }
            }
          }
        }
        label{
          position: relative;
          display: block;
          &:before{
            content: '';
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: rem(55);
            height: rem(55);
            border: $bg-gray-border;
            right: rem(-20);
            top: rem(-20);
            background-color: #ffffff;
            border-radius: $vote-checkbox-radius;
            box-sizing: border-box;
          }
          .img-wrap{
            @include img-round-frame;
            height: vw(270);
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .vote-item-label{
          display: block;
          padding: rem(10);
          margin-top: rem(10);
          color: $fc-default;
          text-align: center;
          input{
            display: inline-block;
            width: 100%;
            padding: rem(10);
            border: 0;
            border-bottom: $bg-gray-border;
          }
        }

      }
    }
  }
}