.vote-result{
  &.popup-page{
    .container{
      margin-bottom: 0;
    }
  }
  .vote-result-topper{
    h3.title{
      color: $fc-default;
      font-size: rem(30);
      margin-top: rem(10);
      margin-bottom: rem(10);
    }
    .view-content{
      padding-top: rem(10);
      padding-bottom: rem(10);
      font-size: rem(28);
      color: $fc-gray;
    }
    .vote-info{
      display: flex;
      border-top: 0;
      .prefix, .suffix{
        flex: 1 1 auto;
        >ul{
          display: flex;
          >li{
            margin-right: rem(20);
            &:nth-last-of-type(1){
              margin-right: 0;
            }
          }
        }
      }
      .suffix{
        >ul{
          justify-content: flex-end;
          >li{
            padding-right: rem(20);
            position: relative;
            &:after{
              content: '';
              position: absolute;
              display: inline-block;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              height: rem(30);
              border-right: $bg-gray-border;
            }
            &:nth-last-of-type(1){
              &:after{
                content: none;
              }
            }
          }
        }
      }
    }
  }
  .result-list{
    ul{
      >.item{
        display: flex;
        align-items: center;
        margin-top: rem(20);
        
        &.highest{
          
          .data-view{
            .topper{
              .item-num{
                color: darken($secondary, 5%);
              }
            }
            .chart-bar-wrap{
              .chart-bar{
                .bar-value{
                  background-color: darken($secondary, 5%);
                }
              }
            }
          }
        }
        .img-wrap{
          @include img-round-frame;
          border-radius: rem(20);
          margin-right: rem(20);
          width: vw(100);
          height: vw(100);
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .data-view{
          flex: 1 1 auto;
          .topper{
            display: flex;
            padding-bottom: rem(10);
            .item-title{
              font-size: rem(32);
              color: $fc-default;
            }
            .item-num{
              display: flex;
              flex: 1 1 auto;
              justify-content: flex-end;
              font-size: rem(32);
              color: lighten($secondary, 10%);
            }
          }
          .chart-bar-wrap{
            .chart-bar{
              .bar-value{
                background-color: lighten($secondary, 10%);
              }
            }
          }
          .bottom{
            padding-top: rem(10);
            .total{
              display: flex;
              justify-content: flex-end;
              font-size: rem(24);
              font-weight: $normal;
              color: $fc-gray;
            }
          }
        }
      }
    }
    &.mint{
      ul{
        >.item{
          .data-view{
            .item-num{
              color: lighten($mint, 10%);
            }
            .chart-bar-wrap{
              .chart-bar{
                .bar-value{
                  background-color: lighten($mint, 10%);
                }
              }
            }
          }
          &.highest{
          
            .data-view{
              .topper{
                .item-num{
                  color: darken($mint, 5%);
                }
              }
              .chart-bar-wrap{
                .chart-bar{
                  .bar-value{
                    background-color: darken($mint, 5%);
                  }
                }
              }
            }
          }
        }
      }
    }
    .division{
      margin-bottom: rem(80);
      .title{
        text-align: center;
        margin-top: rem(50);
        margin-bottom: rem(50);
        .tag{
          color: $fc-default-light;
          border: $bg-gray-border;
          height: rem(70);
          border-radius: rem(35);
          font-size: rem(32);
        }
      }
      .donut-chart-wrap{
        >ul{
          >li{
            flex: 0 0 42%;
          }
        }
      }
    }
  }
}