.vote-like{
  padding-top: rem(40);
  padding-bottom: rem(30);
  >ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
    .like-item{
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      border-right: $border-default;
      &:nth-last-of-type(1){
        border-right: 0;
      }
      .radio{
        input[type="radio"]{
          font-size: 0;
          width: 0;
          height: 0;
          opacity: 0;
          & + label{
            &:before{
              content: '';
              display: inline-block;
              margin-right: rem(10);
              @include img-sprite;
              width: rem(100);
              height: rem(120);
              background-position: rem(-31) rem(-1660);
            }
          }
        }
      }
      &.first{
        .radio{
          input[type="radio"]{
            & + label{
              &:before{
                background-position: rem(-31) rem(-1660);
              }
            }
            &:checked + label{
              &:before{
                background-position: rem(-31) rem(-1510);
              }
            }
          }
        }
      }
      &.last{
        .radio{
          input[type="radio"]{
            & + label{
              &:before{
                background-position: rem(-190) rem(-1660);
              }
            }
            &:checked + label{
              &:before{
                background-position: rem(-190) rem(-1510);
              }
            }
          }
        }
      }
    }
  }
}