.vote-slider-type{
  margin-top: rem(80);
  padding-left: rem(50);
  padding-right: rem(50);
  .slider-wrap{
    position: relative;
    input[type="range"]{
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: rem(14);
      border-radius: rem(8);
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $primary;
        cursor: pointer;
      }
      
      &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $primary;
        cursor: pointer;
      }
    }
    .slider-tooltip{
      position: absolute;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: rem(50);
      border-radius: rem(5);
      font-size: rem(20);
      background-color: $primary;
      color: #ffffff;
      left: calc(50% - (35px / 2));
      // transform: translateX(-50%);
      top: rem(-60);
    }
  }
  .legend{
    @include flex-prefix-suffix;
    margin-top: rem(10);
  }
}